<div class="site-wrapper clearfix">
    <div class="site-overlay"></div>

    <!-- Header -->

    <!-- Header Mobile -->
    <div class="header-mobile clearfix" id="header-mobile">
        <div class="header-mobile__logo">
            <a href="_soccer_index.html">
                <img src="assets/images/logos/iosoccer-full-logo-medium.png" alt="IOSoccer"
                    class="header-mobile__logo-img">
            </a>
        </div>
        <div class="header-mobile__inner">
            <a id="header-mobile__toggle" class="burger-menu-icon"
                (click)="toggleSidebar()"><span class="burger-menu-icon__line"></span></a>
            <span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
        </div>
    </div>

    <!-- Header Desktop -->
    <header class="header header--layout-1">

        <!-- Header Top Bar -->
        <div class="header__top-bar clearfix">
            <div class="container">
                <div class="header__top-bar-inner">
                    <!-- Account Navigation -->
                    <ul class="nav-account">
                        <li *ngIf="player" class="nav-account__item"><a href="#" routerLink="./edit-profile">Your
                                Account</a>
                        </li>
                        <li *ngIf="selectedRegion" class="nav-account__item has-children">
                            <span class="main-nav__toggle"></span>
                            <a href="javascript:void(0);">Region:
                                <span class="highlight ml-1">{{selectedRegion.regionCode}}</span>
                            </a>
                            <ul class="main-nav__sub">
                                <li *ngFor="let region of regions">
                                    <a href="javascript:void(0);"
                                        (click)="setRegion(region.regionId)">{{region.regionName}}</a>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="!player" class="nav-account__item nav-account__item--login">
                            <a class="text-primary" href="javascript:void(0);" routerLink="./login">Login</a>
                        </li>
                        <li *ngIf="player" class="nav-account__item nav-account__item--logout">
                            <a class="text-primary" href="{{apiUrl}}/logout">Logout</a>
                        </li>
                    </ul>
                    <!-- Account Navigation / End -->
                </div>
            </div>
        </div>
        <!-- Header Top Bar / End -->

        <!-- Header Secondary -->
        <div class="header__secondary">
            <div class="container py-4">
                <!-- Header Search Form -->
                <div class="header-search-form d-none">
                    <form action="#" id="mobile-search-form" class="search-form">
                        <input type="text" class="form-control header-mobile__search-control" value=""
                            placeholder="Enter your search here...">
                        <button type="submit" class="header-mobile__search-submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- Header Search Form / End -->
                <ul class="info-block info-block--header">
                    <!-- try 2px border with the brand colour, plus white icon, transparent bg etc -->
                    <a class="btn btn-sm btn-primary d-none d-xl-inline-block" href="steam://run/673560/" style="padding-right: 20px;background-color: #5c7e10; margin-right: 9px;
                        border-radius: 4px;">
                        Install Via Steam <i class="fa fa-lg fa-steam" style="padding-left: 15px; margin-top: 5px"></i>
                    </a>
                    <a class="btn btn-sm btn-primary-inverse ml-4" href="steam://run/673560/"
                        style="padding-right: 20px; background: #7289da; border-radius: 4px;">Join Our Discord
                        <i class="fab fa-lg fa-discord" style="padding-left: 15px; margin-top: 5px;"></i>
                    </a>
                    <!-- Social Links -->
                    <ul class="social-links social-links--inline social-links--main-nav">
                        <li class="social-links__item">
                            <a href="https://facebook.com/IOSoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://twitter.com/iosoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://youtube.com/iosoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Youtube">
                                <i class="fa fa fa-youtube"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://twitch.tv/iosoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Twitch">
                                <i class="fa fa-reddit"></i>
                            </a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://www.reddit.com/r/iosoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Reddit"><i class="fa fa-twitch"></i>
                            </a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://store.steampowered.com/app/673560/IOSoccer/" class="social-links__link"
                                data-toggle="tooltip" data-placement="bottom" title="Steam">
                                <i class="fa fa-steam"></i></a>
                        </li>
                    </ul>
                    <!-- Social Links / End -->
                </ul>
            </div>
        </div>
        <!-- Header Secondary / End -->

        <!-- Header Primary -->
        <div class="header__primary">
            <div class="container">
                <div class="header__primary-inner">

                    <!-- Header Logo -->
                    <div class="header-logo">
                        <a routerlink="/">
                            <img src="assets/images/logos/iosoccer-full-logo-medium.png" alt="IOSoccer"
                                class="header-logo__img">
                        </a>
                    </div>
                    <!-- Header Logo / End -->

                    <!-- Main Navigation -->
                    <div class="main-nav--backdrop d-none" (click)="toggleSidebar()"></div>
                    <nav class="main-nav clearfix">
                        <ul class="main-nav__list">
                            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <a routerLink="/">
                                    Home
                                </a>
                            </li>
                            <li routerLinkActive="active"><a routerLink="/news">News</a></li>
                            <li routerLinkActive="active"><a href="https://store.steampowered.com/app/673560/IOSoccer/"
                                    target="_blank">Download</a></li>
                            <li routerLinkActive="active" (click)="toggleSectionOpen(manualsSection, manualsToggle)">
                                <a href="javascript:void(0);">Manuals</a>
                                <span class="main-nav__toggle" #manualsToggle></span>
                                <ul class="main-nav__sub" #manualsSection>
                                    <li><a routerLink="/manual">Player Manual</a></li>
                                    <li><a routerLink="/server-manual">Server Admin Manual</a></li>
                                </ul>
                            </li>
                            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
                                (click)="toggleSectionOpen(matchHubSection, matchHubToggle)">
                                <a href="javascript:void(0);">Hub</a>
                                <span class="badge badge-pill badge-warning d-none d-xl-inline" style="
                                position: absolute;
                                top: 8px;
                                margin-left: 11px;
                                font-size: 9px;">Beta</span>
                                <span class="main-nav__toggle" #matchHubToggle></span>
                                <div class="main-nav__megamenu clearfix" #matchHubSection>
                                    <ng-container *ngIf="regions; else spinner">
                                        <ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                            <li class="main-nav__title">Matches</li>
                                            <li><a routerLink="./recent-matches">Results</a></li>
                                            <li><a routerLink="./upcoming-matches">Fixtures</a></li>
                                        </ul>
                                        <ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                            <li class="main-nav__title">Teams</li>
                                            <li><a routerLink="./team-list">Team Statistics</a></li>
                                            <li>
                                                <a routerLink="./teams">Team List</a>
                                            </li>
                                        </ul>
                                        <ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                            <li class="main-nav__title">Players</li>
                                            <li><a routerLink="./player-list">Player Statistics</a></li>
                                        </ul>
                                        <ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                            <li class="main-nav__title">Competitions</li>
                                            <li><a routerLink="/tournaments">Current</a></li>
                                            <li><a routerLink="./tournament-history">Past</a></li>
                                        </ul>
                                        <ul *ngIf="player" class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                            <li class="main-nav__title">My Hub</li>
                                            <li><a routerLink="./player-profile/{{player.id}}">Profile</a></li>
                                            <li><a routerLink="./team-editor-list">Teams</a></li>
                                        </ul>
                                        <ul *ngIf="player" class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                            <li class="main-nav__title">Games</li>
                                            <li><a routerLink="./fantasy">Fantasy</a></li>
                                            <li><a routerLink="./score-predictor">Score Predictor</a></li>
                                        </ul>
                                        <ul *ngIf="player && player.hubRole > 0"
                                            class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                            <li class="main-nav__title">Management</li>
                                            <li><a routerLink="./tournament-creator">Competitions</a></li>
                                            <li><a routerLink="./server-manager">Servers</a></li>
                                            <li><a routerLink="./region-manager">Regions</a></li>
                                            <li><a routerLink="./bot">Bot</a></li>
                                        </ul>
                                    </ng-container>
                                    <ng-template #spinner>
                                        <div class="w-100 d-flex justify-content-center align-items-center">
                                            <app-spinner [light]="true" [verticalMargins]="false"></app-spinner>
                                        </div>
                                    </ng-template>
                                </div>
                            </li>
                            <li routerLinkActive="active" (click)="toggleSectionOpen(infoSection, infoToggle)">
                                <a href="javascript:void(0);">Info</a>
                                <span class="main-nav__toggle" #infoToggle></span>
                                <ul class="main-nav__sub" #infoSection>
                                    <li><a routerLink="/about">About</a></li>
                                    <li><a routerLink="/team">Team</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="https://discord.gg/FkT6Q3N" target="_blank">Discord Chat</a></li>
                            <li class="d-block d-lg-none">
                                <a *ngIf="player" class="text-primary" href="javascript:void(0);"
                                    routerLink="./login">Login</a>
                                <a *ngIf="!player" class="text-primary" href="{{apiUrl}}/logout">Logout</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Main Navigation / End -->
                </div>
            </div>
        </div>
        <!-- Header Primary / End -->

    </header>
    <!-- Header / End -->




    <!-- Content -->

    <div id="page-content" style="min-height: 300px">
        <app-matchmaking></app-matchmaking>
        <router-outlet></router-outlet>
    </div>

    <!-- Content / End -->


    <!-- Footer
		================================================== -->
    <footer id="footer" class="footer">

        <!-- Footer Widgets -->
        <div class="footer-widgets">
            <div class="footer-widgets__inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                            <div class="footer-col-inner">

                                <!-- Footer Logo -->
                                <div class="footer-logo footer-logo--has-txt">
                                    <a href="index.html">
                                        <img class="footer-logo__img"
                                            src="assets/images/logos/iosoccer-full-logo-medium.png" alt="">
                                    </a>
                                </div>
                                <!-- Footer Logo / End -->

                                <!-- Widget: Contact Info -->
                                <div class="widget widget--footer widget-contact-info">
                                    <div class="widget__content">
                                        <div class="widget-contact-info__desc">
                                            <p>IOSoccer is a unique free non-commercial competitive third-person online
                                                multiplayer soccer game.</p>
                                        </div>
                                        <div class="widget-contact-info__body info-block">
                                            <div class="info-block__item">
                                                <svg role="img" class="df-icon df-icon--soccer-ball">
                                                    <use xlink:href="assets/images/icons-soccer.svg#soccer-ball" />
                                                </svg>
                                                <h6 class="info-block__heading">Contact Us</h6>
                                                <a class="info-block__link"
                                                    href="mailto:info@iosoccer.com">info@iosoccer.com</a>
                                            </div>
                                            <div class="info-block__item">
                                                <svg role="img" class="df-icon df-icon--whistle">
                                                    <use xlink:href="assets/images/icons-soccer.svg#whistle" />
                                                </svg>
                                                <h6 class="info-block__heading">Join Our Team!</h6>
                                                <a class="info-block__link"
                                                    href="mailto:info@iosoccer.com">info@iosoccer.com</a>
                                            </div>
                                            <div class="info-block__item info-block__item--nopadding">
                                                <ul class="social-links">
                                                    <li class="social-links__item">
                                                        <a class="social-links__link"
                                                            href="https://facebook.com/IOSoccer" title="Facebook">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social-links__item">
                                                        <a _ngcontent-kaj-c0="" class="social-links__link"
                                                            href="https://twitter.com/iosoccer" title="Twitter">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social-links__item">
                                                        <a class="social-links__link"
                                                            href="https://youtube.com/iosoccer" title="Youtube">
                                                            <i class="fa fa fa-youtube"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social-links__item">
                                                        <a class="social-links__link" href="https://twitch.tv/iosoccer"
                                                            title="Twitch">
                                                            <i class="fa fa-reddit"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social-links__item">
                                                        <a class="social-links__link"
                                                            href="https://www.reddit.com/r/iosoccer" title="Reddit">
                                                            <i class="fa fa-twitch"></i>
                                                        </a>
                                                    </li>
                                                    <li class="social-links__item">
                                                        <a class="social-links__link"
                                                            href="https://store.steampowered.com/app/673560/IOSoccer/"
                                                            title="Steam">
                                                            <i class="fa fa-steam"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Widget: Contact Info / End -->
                            </div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="footer-col-inner">

                                <!-- Widget: Contact / End -->
                                <div class="widget widget--footer widget-contact">
                                    <h4 class="widget__title">Quick Contact</h4>
                                    <div class="widget__content">
                                        <p>Feel free to send us any support queries, requests, or enquiries, below.</p>
                                        <form action="https://formspree.io/xeqrepby" method="POST" class="contact-form">
                                            <div class="form-group form-group--xs">
                                                <input type="email" class="form-control input-sm"
                                                    id="contact-form-email" placeholder="Your email address...">
                                            </div>
                                            <div class="form-group form-group--xs">
                                                <textarea class="form-control input-sm" name="contact-form-message"
                                                    rows="4" placeholder="Your message..."></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary-inverse btn-sm btn-block">
                                                Send Your Message
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <!-- Widget: Contact / End -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sponsors -->
            <div class="container">
                <div class="sponsors">
                    <h6 class="sponsors-title">Our Sponsor:</h6>
                    <ul class="sponsors-logos">
                        <li class="sponsors__item">
                            <a href="https://www.simrai.com/" target="_blank" title="SimRai Hosting"><img
                                    src="assets/images/logos/simrai.png" alt="SimRai logo"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sponsors / End -->

        </div>
        <!-- Footer Widgets / End -->

        <!-- Footer Secondary -->
        <div class="footer-secondary">
            <div class="container">
                <div class="footer-secondary__inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-copyright"><a href="/">IOSoccer</a> 2020 &nbsp; |
                                &nbsp; All
                                Rights Reserved</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Secondary / End -->
    </footer>
    <!-- Footer / End -->


    <!-- Login/Register Tabs Modal -->
    <div class="modal fade" id="modal-login-register-tabs" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal--login modal--login-only" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="modal-account-holder">
                        <div class="modal-account__item modal-account__item--logo">
                            <p class="modal-account__item-register-txt">Don’t have an account? <a href="#">Register
                                    Now</a> and
                                enjoy all our benefits!</p>
                        </div>
                        <div class="modal-account__item">

                            <!-- Tab panes -->
                            <div class="tab-content">

                                <!-- Tab: Login -->
                                <div role="tabpanel" class="tab-pane fade show active" id="tab-login">

                                    <!-- Login Form -->
                                    <form action="#" class="modal-form">
                                        <h5>Login to your account</h5>
                                        <div class="form-group">
                                            <input type="email" class="form-control"
                                                placeholder="Enter your email address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"
                                                placeholder="Enter your password...">
                                        </div>
                                        <div class="form-group form-group--pass-reminder">
                                            <label class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox1" value="option1" checked>
                                                Remember Me
                                                <span class="checkbox-indicator"></span>
                                            </label>
                                            <a href="#">Forgot your password?</a>
                                        </div>
                                        <div class="form-group form-group--submit">
                                            <a href="_soccer_shop-account.html"
                                                class="btn btn-primary-inverse btn-block">Enter to your
                                                account</a>
                                        </div>
                                        <div class="modal-form--social">
                                            <h6>or Login with your social profile:</h6>
                                            <ul class="social-links social-links--btn text-center">
                                                <li class="social-links__item">
                                                    <a href="#"
                                                        class="social-links__link social-links__link--lg social-links__link--fb"><i
                                                            class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="#"
                                                        class="social-links__link social-links__link--lg social-links__link--twitter"><i
                                                            class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="#"
                                                        class="social-links__link social-links__link--lg social-links__link--gplus"><i
                                                            class="fa fa-google-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                    <!-- Login Form / End -->

                                </div>
                                <!-- Tab: Login / End -->
                            </div>

                            <!-- Nav tabs -->
                            <div class="nav-tabs-login-wrapper">
                                <ul class="nav nav-tabs nav-justified nav-tabs--login" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" href="#tab-login" role="tab"
                                            data-toggle="tab">Login</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#tab-register" role="tab"
                                            data-toggle="tab">Register</a></li>
                                </ul>
                            </div>
                            <!-- Nav tabs / End -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login/Register Tabs Modal / End -->
</div>