.main-nav__section--opened {
    display: block;
}

.main-nav--opened {
    transform: translateX(0);
}

.main-nav--badge {    
    position: absolute;
    top: 8px;
    margin-left: 11px;
    font-size: 9px;
}

@media (min-width: 992px) {
    .col-md-3 {
        max-width: 15.2%;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        max-width: 15.2%;
    }
}

.header--steam-button {
    padding-right: 20px;
    background-color: #5c7e10;
    margin-right: 9px;
    border-radius: 4px;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        background: #5c7e10 !important;
        opacity: 0.9;
        border-color: #5c7e10 !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem #405217 !important;
    }
    > i {
        padding-left: 15px;
        margin-top: 5px
    }
}

.header--discord-button {
    padding-right: 20px;
    background: #7289da;
    border-radius: 4px;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        background: #7289da !important;
        opacity: 0.9;        
        border-color: #7289da !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem #4d587d !important;
    }
    > i {
        padding-left: 15px;
        margin-top: 5px
    }
}
