<div class="fantasy-player d-flex flex-column justify-content-center align-items-center" title="Remove player">
    <div class="fantasy-kit-container">
        <div class="fantasy-player-position-group">{{positionGroup | positionGroup}}</div>
        <img [src]="kitImage" [ngStyle]="{ 'filter': kitFilter }">
        <img *ngIf="badge" [src]="badge" class="fantasy-player-badge">
    </div>
    <div class="d-block text-center fantasy-player-name">
        {{playerName}}
    </div>
    <div class="fantasy-player-detail">
        <!--<div>{{positionGroup | positionGroup}}</div>-->
        <div>{{rating | number : '1.2-2'}}</div>
    </div>
</div>
<i class="fantasy-hover-icon fas fa-times text-danger mt-2"></i>