<div class="py-4 container">
    <div class="card">
        <div class="card__header">
            <h4>Development Team</h4>
        </div>
        <div class="card__content">
            <label>Current</label>
            <ul>
                <li>
                    <strong>Romdi:</strong> Co-Lead, Lead Programmer
                </li>
                <li>
                    <strong>Thing'e':</strong> Co-Lead, Programmer, Community Administrator
                </li>
                <li>
                    <strong>Aryan:</strong> Co-Lead, Mechanics, Community Administrator
                </li>
                <li>
                    <strong>Shagwa:</strong> Mapper
                </li>
                <li>
                    <strong>Flame:</strong> Mapper
                </li>
                <li>
                    <strong>Tet:</strong> Mapper
                </li>
                <li>
                    <strong>Rai:</strong> Infrastructure Manager
                </li>
            </ul>
            <label>Former</label>
            <ul>
                <li>
                    <strong>routetwo:</strong> Creator, Programmer
                </li>
                <li>
                    <strong>CaptainCaffiene:</strong> Mapper
                </li>
                <li>
                    <strong>Pricey:</strong> Mapper
                </li>
                <li>
                    <strong>BlackCat:</strong> Mapper
                </li>
                <li>
                    <strong>Katharii:</strong> Modeller
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <h4>Contributors</h4>
        </div>
        <div class="card__content">
            <ul>
                <li>
                    <strong>Kalimando:</strong> Modelling
                </li>
                <li>
                    <strong>Rhino:</strong> Sounds
                </li>
                <li>
                    <strong>Whatniesta:</strong> Modelling, Animation
                </li>
                <li>
                    <strong>Rawix:</strong> Modelling
                </li>
                <li>
                    <strong>JuanmiJuan:</strong> Modelling, Animation
                </li>
                <li>
                    <strong>Ian B:</strong> Programming
                </li>
                <li>
                    <strong>Leotte:</strong> Programming
                </li>
                <li>
                    <strong>Bear:</strong> Modelling, Animation
                </li>
                <li>
                    <strong>Chris Bruin:</strong> Modelling
                </li>
                <li>
                    <strong>Iron Belly Studios:</strong> Modelling
                </li>
                <li>
                    <strong>Dementai:</strong> Mapping, Modelling
                </li>
                <li>
                    <strong>Hiei:</strong> Programming
                </li>
                <li>
                    <strong>NightFlame:</strong> Mapping
                </li>
            </ul>
        </div>
    </div>
</div>