<div class="card">
    <div class="card-header" style="height: 55px;">
        <h4 class="card-title">
            <i class="fa fa-cog text-muted"></i> Channel Configuration</h4>
    </div>
    <div class="card-body">
        <form *ngIf="channel" name="channelForm" #channelForm="ngForm">
            <div class="form-group row">
                <label class="col-sm-2">Channel Name</label>
                <span class="col-sm-10 form-control-static">{{channel.name}}</span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Channel ID</label>
                <span class="col-sm-10 form-control-static">{{channel.id}}</span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Team Name</label>
                <div class="col-sm-4 col-sm-3">
                    <input type="text" required class="form-control" [(ngModel)]="channel.team1.name" name="teamName" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Team Badge Emote</label>
                <div class="col-sm-6 col-md-4">
                    <select [(ngModel)]="channel.team1.badgeEmote" name="badgeEmote" class="form-control">
                        <option [ngValue]="null">None</option>
                        <option *ngFor="let emote of channel.emotes" [ngValue]="emote.key">{{emote.key}}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <img *ngIf="getBadgeUrl()" src="{{getBadgeUrl()}}" style="max-height: 45px; max-width: 45px;" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Team Colour</label>
                <div class="col-sm-10">
                    <input class="form-control" [(colorPicker)]="channel.team1.color" [style.background]="channel.team1.color"
                        [cpPosition]="'bottom'" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Positions</label>
                <div class="col-sm-10">
                    <i class="fa fa-minus-circle" (click)="removePosition()" style="cursor: pointer"></i>
                    <app-kit *ngFor="let position of channel.positions; let i = index" [attr.data-index]="i" [color]="channel.team1.color"
                        [text]="position.positionName" (click)="editPosition(i); staticModal.show()" style="cursor: pointer"></app-kit>
                    <i class="fa fa-plus-circle" (click)="addPosition()" style="cursor: pointer"></i>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="regionId">Region</label>
                <div class="col-sm-4 col-sm-3">
                    <select class="form-control" [(ngModel)]="channel.regionId" name="regionId" id="regionId" required>
                        <option [ngValue]="null"></option>
                        <option *ngFor="let region of regions" [ngValue]="region.regionId">
                            {{region.regionName}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Mix Channel?</label>
                <div class="col-sm-10">
                    <input type="checkbox" [(ngModel)]="channel.isMixChannel" name="isMixChannel" />&nbsp;
                    <small>The default opponent will be a second mix team that players can sign up to</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Disable Searches?</label>
                <div class="col-sm-10">
                    <input type="checkbox" [(ngModel)]="channel.disableSearchNotifications" name="disableSearchNotifications" />&nbsp;
                    <small>Selecting this will stop Coach from sending messages to your channel when teams are looking
                        for an opponent</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Enable Auto-Unsign?</label>
                <div class="col-sm-10">
                    <input type="checkbox" [(ngModel)]="channel.enableUnsignWhenPlayerStartsOtherGame" name="enableUnsignWhenPlayerStartsOtherGame" />&nbsp;
                    <small>Selecting this will enable Coach removing a player from the line-up when they go to play
                        another match in a different channel</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2">Classic Line-up?</label>
                <div class="col-sm-10">
                    <input type="checkbox" [(ngModel)]="channel.classicLineup" name="classicLineup" />&nbsp;
                    <small>Shows the team list in Discord in a single line, without kits or formations</small>
                </div>
            </div>
            <div class="form-group row" *ngIf="!channel.classicLineup">
                <label class="col-sm-2">Formation</label>
                <div class="col-sm-4 col-sm-3">
                    <select [(ngModel)]="channel.formation" name="formation" class="form-control">
                        <option [ngValue]="0">None</option>
                        <option *ngIf="channel.positions.length === 8" [ngValue]="1">3-3-1</option>
                        <option *ngIf="channel.positions.length === 8" [ngValue]="2">3-2-2</option>
                        <option *ngIf="channel.positions.length === 8" [ngValue]="3">3-1-2-1</option>
                        <option *ngIf="channel.positions.length === 8" [ngValue]="4">3-1-3</option>
                        <option *ngIf="channel.positions.length === 4" [ngValue]="5">2-1</option>
                    </select>
                </div>
            </div>
            <div class="form-group row" *ngIf="!channel.classicLineup">
                <label class="col-sm-2">Kit Emote</label>
                <div class="col-sm-6 col-md-4">
                    <select [(ngModel)]="channel.team1.kitEmote" name="kitEmote" class="form-control">
                        <option [ngValue]="null">Default</option>
                        <option *ngFor="let emote of channel.emotes" [ngValue]="emote.key">{{emote.key}}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <img *ngIf="getKitUrl()" src="{{getKitUrl()}}" style="max-height: 45px; max-width: 45px;" />
                </div>
            </div>
            <button class="btn-outline-success btn float-right" (click)="saveChannel()" [disabled]="!channelForm.valid || isSaving">
                <i *ngIf="isSaving" class="fa fa-refresh fa-spin"></i>
                <i *ngIf="!isSaving" class="fa fa-check"></i> Save</button>
        </form>
    </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Edit Position</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form *ngIf="channel">
                    <div class="form-group">
                        <label>Position Name</label>
                        <input autofocus type="text" maxlength="3" class="form-control" [(ngModel)]="editPositionName"
                            name="positionName" (keydown.enter)="savePositionName(); staticModal.hide()" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn-success btn" (click)="savePositionName(); staticModal.hide()">
                    <i class="fa fa-check"></i> Save</button>
            </div>
        </div>
    </div>
</div>