@import './scss/style-soccer';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import "~nouislider/distribute/nouislider.min.css";

.ngx-pagination {
    font-size: 0.7rem;
    font-family: "Montserrat";
}

.clickable {
    cursor: pointer;
}

.w-20 {
    width: 20% !important;
}
