.card__content {
    padding-left: 5rem;
    .text-content {
        margin-left: -2.3em;
    }
    h4 {
        margin-left: -3rem;
    }
    
    h5 {
        margin-left: -2rem;
        margin-bottom: 1.5rem;
    }
    
    h6 {
       margin-left: -1rem;
       margin-bottom: 1em;
    }
    iframe {
        border: none;
    }
    strong + em {
        margin-left: 0.25rem;
    }
}

