.bg-placeholder {
    position: absolute;
    width: 100%;
    height: 180px;
    display: block;
    background-size: 19px;
    border: 38px white solid;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAWCAIAAABVH8vfAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAErSURBVDhP3ZRRa4MwEMcTZ4zVWeu6wR42KHvZS9n3/xh77xisfWiHbljogtXELMyDEs0NynzaD8H/nfI3dzlDtdZkDDy4/5nxjMYqjSqlPM+xrr2oq0ZSSmLOzAVZnH6zi6I4SFIIVTUKUoSkEV/cJEkYQOziZNS2rXF53X7IMO0yPZb381nEzfvUrHPAqShT4CSZYS6Gl11pyPMcYhurO9tSgHJhil1tdlmWQWxjGZWiAoUgqc+Yu/GWUS1bUAiaOva3w3oQ+BegEKhGv2QZZTEHhcC0BDXAMrpNI1AuosB/enyAYEB/II91vf4U7/v+9nkeXd7NpxN0Jh3HiEk8v+VfxwZiQq4uw8X1NOI+xC7Q8+hQNT//Go25H7LfLDpQo3NB5+Jc/q0RId9Hhm7yXcGJ3QAAAABJRU5ErkJggg==);
    border-left: 393px white solid;
}

