<div *ngIf="!isLoading && !matchData" class="container py-4">
    <div class="alert alert-info" i18n="@@matchOverview.resultPending">
        This match result is still pending. Check back soon for the final result!
    </div>
</div>
<div *ngIf="isLoading" class="container py-4">
    <app-spinner></app-spinner>
</div>
<ng-container *ngIf="!isLoading && matchData">
    <div class="page-heading p-0"
        [ngStyle]="{ 'background-image': 'url(./assets/images/maps/' + (matchData.matchInfo.mapName || '8v8_vienna') + '.jpg' }">
        <div *ngIf="currentPlayer && currentPlayer.hubRole >= hubRoles.Administrator"
            class="btn-group btn-group-xs match-admin-button m-2" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-xs btn-secondary dropdown-toggle"
                aria-controls="dropdown-basic">
                <i class="fas fa-cog"></i>
                <span class="caret"></span>
            </button>
            <ul id="dropdown-admin" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                aria-labelledby="button-basic">
                <li role="menuitem">
                    <a class="dropdown-item clickable" (click)="swapTeams()" i18n="@@matchOverview.swapTeams">Swap Teams</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item clickable" [routerLink]="['/match-editor', match.id]" i18n="@@matchOverview.editMatch">Edit Match</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item clickable" (click)="unlinkMatchStatistics()" i18n="@@matchOverview.unlinkData">Unlink Data</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <section class="d-flex flex-column text-white my-4">
                        <div id="match-meta-data" class="match-meta-data row mb-4">
                            <div id="match-meta-data-type" class="col-md-4 d-none d-md-block text-left">
                                <ng-container *ngIf="match.tournament; else matchType">
                                    <a class="text-white"
                                        [routerLink]="['/tournament/', match.tournamentId]">{{match.tournament.name}}</a>
                                </ng-container>
                                <ng-template #matchType>
                                    {{matchData.matchInfo.type}}
                                </ng-template>
                            </div>
                            <div id="match-meta-data-server" class="col-6 col-md-4 text-center">
                                <div *ngIf="match.server" [attr.title]="match.server.address">
                                    <i class="flag-icon flag-icon-squared"
                                        [ngClass]="'flag-icon-' + match.server.country.code.toLowerCase()"></i>&nbsp;
                                    {{match.server.name}}
                                </div>
                            </div>
                            <div id="match-meta-data-date" class="col-6 col-md-4 text-right">
                                {{matchDate | date:'medium'}}</div>
                        </div>
                        <div id="match-headline-items" class="d-flex align-items-center mt-2 mb-3">
                            <div id="match-headline-items-home"
                                class="d-flex justify-content-between align-items-center" style="flex: 0 1 50%">
                                <span class="d-none d-md-inline-block pr-4">
                                <ng-container
                                    *ngIf="match.teamHome.badgeImage; else blankCrest">
                                    <img 
                                        [src]="match.teamHome.badgeImage.mediumUrl"
                                        class="game-result__team-badge">
                                </ng-container>
                                <ng-template #blankCrest>
                                    <img src="./assets/images/soccer/blank-crest.png"
                                        class="game-result__team-badge">
                                </ng-template>
                            </span>
                                <h4 class="d-inline-block text-white clickable m-0"
                                    (click)="navigateToTeamProfile(match.teamHomeId)"
                                    [attr.title]="match.teamHome.name">
                                    {{match.teamHome.name | ellipsis:25}}
                                </h4>
                            </div>
                            <div id="match-headline-score"
                                class="game-result__score game-result__score--lg text-center text-white"
                                style="flex: 0 0 150px">
                                <span class="game-result__score-result">{{matchData.teams[teamType.Home].matchTotal.statistics[statisticType.Goals]}}</span>
                                <span class="game-result__score-dash">-</span>
                                <span class="game-result__score-result">{{matchData.teams[teamType.Away].matchTotal.statistics[statisticType.Goals]}}</span>
                            </div>
                            <div id="match-headline-items-away"
                                class="d-flex justify-content-between align-items-center" style="flex: 0 1 50%">
                                <h4 class="d-inline-block text-white clickable m-0"
                                    (click)="navigateToTeamProfile(match.teamAwayId)"
                                    [attr.title]="match.teamAway.name">
                                    {{match.teamAway.name | ellipsis:25}}
                                </h4>
                                <span class="d-none d-md-inline-block pl-4">
                                    <ng-container
                                        *ngIf="match.teamAway.badgeImage; else blankCrest">
                                        <img 
                                            [src]="match.teamAway.badgeImage.mediumUrl"
                                            class="game-result__team-badge">
                                    </ng-container>
                                    <ng-template #blankCrest>
                                        <img src="./assets/images/soccer/blank-crest.png"
                                        class="game-result__team-badge">
                                    </ng-template>
                            </span>
                            </div>
                        </div>
                        <div id="match-footer-items" class="d-flex align-items-start">
                            <div id="match-footer-items-home" class="match-footer-events  px-2 text-right">
                                <span *ngFor="let goalEvents of matchData.matchEvents | matchTeamGoals:teamEnum.Home" style="white-space: pre;">
                                {{goalEvents.player1SteamId | steamIdToPlayerName:matchData.players}}                                
                                <ng-container [ngSwitch]="goalEvents.event">
                                    <ng-container *ngSwitchCase="eventType.Goal">
                                        ({{goalEvents.second | secondsToMinutes}}’)
                                    </ng-container>
                                    <ng-container *ngSwitchCase="eventType.OwnGoal">
                                        ({{goalEvents.second | secondsToMinutes}}’ OG)
                                    </ng-container>
                                </ng-container>
                            </span>
                            </div>
                            <div id="match-score-footer" class="d-flex flex-column text-center" style="flex: 0 0 150px">
                                <div id="match-score-final-period" class="game-result__score-label text-white">
                                    <ng-container [ngSwitch]="matchData.matchInfo.periods">
                                        <span *ngSwitchCase="2">FT</span>
                                        <span *ngSwitchCase="3">AET</span>
                                        <span *ngSwitchCase="4">AET</span>
                                        <span *ngSwitchCase="5">PENS</span>
                                    </ng-container>
                                </div>
                                <div id="match-score-status" class="game-result__score-label text-white" i18n="@@globals.finalScore">Final Score
                                </div>
                            </div>
                            <div id="match-footer-items-away" class="match-footer-events px-2 text-left">
                                <span *ngFor="let goalEvents of matchData.matchEvents | matchTeamGoals:teamEnum.Away" style="white-space: pre;">
                                {{goalEvents.player1SteamId | steamIdToPlayerName:matchData.players}}
                                <ng-container [ngSwitch]="goalEvents.event">
                                    <ng-container *ngSwitchCase="eventType.Goal">
                                        ({{goalEvents.second | secondsToMinutes}}’)
                                    </ng-container>
                                    <ng-container *ngSwitchCase="eventType.OwnGoal">
                                        ({{goalEvents.second | secondsToMinutes}}’ OG)
                                    </ng-container>
                                </ng-container>
                            </span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
    <!-- Page Heading / End -->


    <!-- Content
================================================== -->
    <div *ngIf="matchData" class="site-content">
        <div class="container">

            <div class="row">

                <!-- Content -->
                <div class="content col-lg-12">
                    <div class="row">

                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6">
                                    <aside class="widget card card--has-table widget--sidebar widget-lineup-table">
                                        <div class="widget__title card__header" style="padding: 19px 23px;">
                                            <h4>
                                                <img *ngIf="match.teamHome.badgeImage"
                                                    [src]="match.teamHome.badgeImage.smallUrl" style="max-height: 35px;"
                                                    class="pr-2">
                                                {{match.teamHome.name}}</h4>
                                        </div>
                                        <div class="widget__content card__content position-relative">
                                            <app-match-overview-lineup [matchId]="match.id"
                                                [matchTeamType]="matchTeamType.Home"
                                                [color]="match.teamHome.color ? match.teamHome.color : '#dc3545'">
                                            </app-match-overview-lineup>
                                        </div>
                                    </aside>
                                </div>

                                <div class="col-lg-6">
                                    <aside class="widget card card--has-table widget--sidebar widget-lineup-table">
                                        <div class="widget__title card__header" style="padding: 19px 23px;">
                                            <h4>
                                                <img *ngIf="match.teamAway.badgeImage"
                                                    [src]="match.teamAway.badgeImage.smallUrl" style="max-height: 35px;"
                                                    class="pr-2">
                                                {{match.teamAway.name}}</h4>
                                        </div>
                                        <div class="widget__content card__content position-relative">
                                            <app-match-overview-lineup [matchId]="match.id"
                                                [matchTeamType]="matchTeamType.Away"
                                                [color]="match.teamAway.color ? match.teamAway.color :  '#ffc107'">
                                            </app-match-overview-lineup>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="card">
                                        <header class="card__header">
                                            <h4 i18n="@@globals.teamStatistics">Team Statistics</h4>
                                        </header>
                                        <div class="card__content">

                                            <!-- Game Result -->
                                            <div class="game-result">
                                                <div class="d-flex align-items-center">
                                                    <div class="text-center w-50">
                                                        <h5 class="match-statistics--team-name">
                                                            <ng-container
                                                                *ngIf="match.teamHome.badgeImage; else blankCrest">
                                                                <img [src]="match.teamHome.badgeImage.extraSmallUrl"
                                                                    style="max-height: 35px;">
                                                            </ng-container>
                                                            <ng-template #blankCrest>
                                                                <img src="./assets/images/soccer/blank-crest.png"
                                                                    style="max-height: 35px;">
                                                            </ng-template>
                                                            {{match.teamHome.name}}
                                                        </h5>
                                                    </div>
                                                    <div class="text-center w-50">
                                                        <h5 class="match-statistics--team-name">
                                                            <ng-container
                                                                *ngIf="match.teamAway.badgeImage; else blankCrest">
                                                                <img [src]="match.teamAway.badgeImage.extraSmallUrl"
                                                                    style="max-height: 35px;">
                                                            </ng-container>
                                                            <ng-template #blankCrest>
                                                                <img src="./assets/images/soccer/blank-crest.png"
                                                                    style="max-height: 35px;">
                                                            </ng-template>
                                                            {{match.teamAway.name}}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <section class="game-result__section">
                                                    <div class="game-result__content mb-5">
                                                        <div class="game-result__stats">
                                                            <div class="row">
                                                                <div
                                                                    class="col-6 col-lg-6 order-md-1 game-result__stats-team-1">

                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <app-circle-graph
                                                                                [totalValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.Shots]"
                                                                                [partValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.ShotsOnGoal]"
                                                                                i18n-title="@@globals.shotAccuracy"
                                                                                title="Shot Accuracy"
                                                                                [fillColour]="match.teamHome.color ? match.teamHome.color : '#38a9ff'">
                                                                            </app-circle-graph>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <app-circle-graph
                                                                                [totalValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.Passes]"
                                                                                [partValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.PassesCompleted]"
                                                                                i18n-title="@@globals.passAccuracy"
                                                                                title="Pass Accuracy"
                                                                                [fillColour]="match.teamHome.color ? match.teamHome.color : '#38a9ff'">
                                                                            </app-circle-graph>
                                                                        </div>

                                                                        <div class="spacer"></div>

                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="col-6 col-lg-6 order-md-3 game-result__stats-team-2">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <app-circle-graph
                                                                                [totalValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.Shots]"
                                                                                [partValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.ShotsOnGoal]"                                                                                
                                                                                i18n-title="@@globals.shotAccuracy"
                                                                                title="Shot Accuracy"
                                                                                [fillColour]="match.teamAway.color ? match.teamAway.color  : '#dc3545'">
                                                                            </app-circle-graph>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <app-circle-graph
                                                                                [totalValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.Passes]"
                                                                                [partValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.PassesCompleted]"
                                                                                i18n-title="@@globals.shotAccuracy"
                                                                                title="Pass Accuracy"
                                                                                [fillColour]="match.teamAway.color ? match.teamAway.color : '#dc3545'">
                                                                            </app-circle-graph>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="spacer"></div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>

                                                <!-- Ball Posession -->
                                                <section class="game-result__section">


                                                    <app-horizontal-bar-graph
                                                        [homeValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.Possession]"
                                                        [awayValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.Possession]"
                                                        [homeColour]="match.teamHome.color"
                                                        [awayColour]="match.teamAway.color" i18n-title="@@globals.possession" title="Possession"
                                                        [displayValueMode]="displayValueModes.Percentage">
                                                    </app-horizontal-bar-graph>

                                                    <app-horizontal-bar-graph
                                                        [homeValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.Shots]"
                                                        [awayValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.Shots]"
                                                        [homeColour]="match.teamHome.color"
                                                        [awayColour]="match.teamAway.color" i18n-title="@@globals.shots" title="Shots"
                                                        [displayValueMode]="displayValueModes.Value">
                                                    </app-horizontal-bar-graph>

                                                    <app-horizontal-bar-graph
                                                        [homeValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.ShotsOnGoal]"
                                                        [awayValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.ShotsOnGoal]"
                                                        [homeColour]="match.teamHome.color"
                                                        [awayColour]="match.teamAway.color" i18n-title="@@globals.shotsOnGoal" title="Shots On Goal"
                                                        [displayValueMode]="displayValueModes.Value">
                                                    </app-horizontal-bar-graph>

                                                    <app-horizontal-bar-graph
                                                        [homeValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.KeeperSaves]"
                                                        [awayValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.KeeperSaves]"
                                                        [homeColour]="match.teamHome.color"
                                                        [awayColour]="match.teamAway.color" i18n-title="@@globals.saves" title="Saves"
                                                        [displayValueMode]="displayValueModes.Value">
                                                    </app-horizontal-bar-graph>

                                                    <app-horizontal-bar-graph
                                                        [homeValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.Passes]"
                                                        [awayValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.Passes]"
                                                        [homeColour]="match.teamHome.color"
                                                        [awayColour]="match.teamAway.color" i18n-title="@@globals.passes" title="Passes"
                                                        [displayValueMode]="displayValueModes.Value">
                                                    </app-horizontal-bar-graph>

                                                    <app-horizontal-bar-graph
                                                        [homeValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.PassesCompleted]"
                                                        [awayValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.PassesCompleted]"
                                                        [homeColour]="match.teamHome.color"
                                                        [awayColour]="match.teamAway.color" i18n-title="@@globals.passesCompleted" title="Passes Completed"
                                                        [displayValueMode]="displayValueModes.Value">
                                                    </app-horizontal-bar-graph>

                                                    <app-horizontal-bar-graph
                                                        [homeValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.Interceptions]"
                                                        [awayValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.Interceptions]"
                                                        [homeColour]="match.teamHome.color"
                                                        [awayColour]="match.teamAway.color" i18n-title="@@globals.interceptions" title="Interceptions" 
                                                        [displayValueMode]="displayValueModes.Value">
                                                    </app-horizontal-bar-graph>

                                                    <app-horizontal-bar-graph
                                                        [homeValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.Corners]"
                                                        [awayValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.Corners]"
                                                        [homeColour]="match.teamHome.color"
                                                        [awayColour]="match.teamAway.color" i18n-title="@@globals.corners" title="Corners" 
                                                        [displayValueMode]="displayValueModes.Value">
                                                    </app-horizontal-bar-graph>

                                                    <app-horizontal-bar-graph
                                                        [homeValue]="matchData.teams[teamType.Home].matchTotal.statistics[statisticType.Fouls]"
                                                        [awayValue]="matchData.teams[teamType.Away].matchTotal.statistics[statisticType.Fouls]"
                                                        [homeColour]="match.teamHome.color"
                                                        [awayColour]="match.teamAway.color" i18n-title="@@globals.fuls" title="Fouls" 
                                                        [displayValueMode]="displayValueModes.Value">
                                                    </app-horizontal-bar-graph>

                                                </section>
                                                <!-- Ball Posession / End -->

                                                <!-- Game Timeline -->

                                                <!-- Ball Posession / End -->
                                            </div>
                                            <!-- Game Timeline / End -->

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- Sidebar -->
                        <div class=" col-lg-4">

                            <!-- Widget: Player of the Match -->
                            <app-player-of-the-match *ngIf="match && match.playerOfTheMatchId" [matchId]="match.id">
                            </app-player-of-the-match>
                            <!-- Widget: Player of the Match / End -->

                            <!-- Widget: Game Commentary -->
                            <aside class="widget card card--no-paddings widget--sidebar widget-commentary">
                                <div class="widget__title card__header">
                                    <h4 i18n="@@matchOverview.gameHighlights">Game Highlights</h4>
                                </div>
                                <div class="widget__content card__content"
                                    [class.with-player-of-the-match]="match && match.playerOfTheMatchId">
                                    <ul class="commentary">
                                        <ng-container *ngFor="let matchEvent of matchData.matchEvents">
                                            <li *ngIf="matchEvent.event !== eventType.Null && matchEvent.event !== eventType.Celebration"
                                                class="commentary__item">
                                                <span class="commentary__time">{{matchEvent.second | secondsToMinutes}}'</span>
                                                <div [ngSwitch]="matchEvent.event" class="commentary__icon">
                                                    <i *ngSwitchCase="eventType.Foul" class="icon-svg icon-whistle"></i>
                                                    <i *ngSwitchCase="eventType.Goal"
                                                        class="icon-svg icon-soccer-ball"></i>
                                                    <i *ngSwitchCase="eventType.OwnGoal"
                                                        class="icon-svg icon-soccer-ball-own-goal"></i>
                                                    <i *ngSwitchCase="eventType.YellowCard"
                                                        class="icon-svg icon-yellow-card"></i>
                                                    <i *ngSwitchCase="eventType.SecondYellowCard"
                                                        class="icon-svg icon-red-card"></i>
                                                    <i *ngSwitchCase="eventType.RedCard"
                                                        class="icon-svg icon-red-card"></i>
                                                    <i *ngSwitchCase="eventType.Penalty"
                                                        class="icon-svg icon-soccer-ball-penalty"></i>
                                                    <i *ngSwitchCase="eventType.Miss"
                                                        class="icon-svg icon-soccer-shots"></i>
                                                    <i *ngSwitchCase="eventType.Save"
                                                        class="icon-svg icon-keepers-glove"></i>
                                                </div>
                                                {{matchEvent.event}}
                                                <strong>{{matchEvent.player1SteamId | steamIdToPlayerName:matchData.players}}</strong>
                                                <span *ngIf="matchEvent.event === eventType.SecondYellowCard">Received a second yellow card</span>
                                                <ng-container *ngIf="matchEvent.player2SteamId">
                                                    <ng-container [ngSwitch]="matchEvent.event">
                                                        <span *ngSwitchCase="eventType.Goal">&nbsp;<ng-container i18n="@@goals.assistBy">Assist by</ng-container>&nbsp;
                                                        <strong>{{matchEvent.player2SteamId | steamIdToPlayerName:matchData.players}}</strong></span>
                                                        <span *ngSwitchCase="eventType.Save">&nbsp;<ng-container i18n="@@goals.shotBy">Shot by</ng-container>&nbsp;
                                                        <strong>{{matchEvent.player2SteamId | steamIdToPlayerName:matchData.players}}</strong></span>
                                                        <span *ngSwitchCase="eventType.Foul">&nbsp;<ng-container i18n="@@goals.shotBy">Foul on</ng-container>&nbsp;
                                                    <strong>{{matchEvent.player2SteamId | steamIdToPlayerName:matchData.players}}</strong></span>
                                                    </ng-container>
                                                </ng-container>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </aside>
                            <!-- Widget: Game Commentary / End -->

                        </div>
                        <!-- Sidebar / End -->
                    </div>
                    <!-- Game Scoreboard / End -->

                </div>
                <!-- Content / End -->
                <div class="col-12">


                </div>

            </div>
        </div>

        <app-match-overview-player-statistics [matchId]="match.id">
        </app-match-overview-player-statistics>
    </div>

    <!-- Content / End -->

</ng-container>