
.page-heading::before {
    background-color: #00213a;
}
.game-result__header--alt {
    border: none;
    margin-top: 0;
    padding-top: 0.5rem;
}
.game-result__header--alt * {
    font-size: 0.73rem !important;
}
.game-result__section * {
    color: white;
}
.game-result__team-events--first {
    text-align: left;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 43%;
}
.game-result__team-events--second {
    text-align: right;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 43%;
}
.progress__bar--success {
    background-color: #dc3545;
}
.site-content > .container > .row {
    margin-right: -45px;
    margin-left: -45px;
}
.match-footer-events, .match-meta-data {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.widget-commentary > .widget__content {
    overflow: auto;
    max-height: 1720px;
}