
.page-heading::before {
    background-color: #00213a;
}
.game-result__header--alt {
    border: none;
    margin-top: 0;
    padding-top: 0.5rem;
}
.game-result__header--alt * {
    font-size: 0.73rem !important;
}
.game-result__section * {
    color: white;
}
.game-result__team-events--first {
    text-align: left;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 43%;
}
.game-result__team-events--second {
    text-align: right;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 43%;
}
.progress__bar--success {
    background-color: #dc3545;
}
.site-content > .container > .row {
    margin-right: -45px;
    margin-left: -45px;
}
.match-footer-events, .match-meta-data {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.widget-commentary > .widget__content {
    overflow: auto;
    max-height: 1720px;
}

.game-result__score-result {
    padding: 0.4rem 0.45rem;
    background-color: #13161b;
    background-color: #181819;
    text-align: center;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

.game-result__team-badge {
    max-height: 82px;
}

.match-footer-events {
    flex: 0 1 50%;
    overflow-y: auto;
    max-height: 105px;
    max-width: 100%;
}

@media (max-width: 700px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    #match-headline-items-home, #match-headline-items-away {
        h4 {
            font-size: 1rem;
            word-break: break-word;
        }
    }
    #match-meta-data-server {
        text-align: left !important;
    }
    .game-result__score {
        font-size: 17px;
    }
    h5.match-statistics--team-name  {
        min-height: 70px;
        img {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
}