<div class="card fantasy-spotlight-card" (click)="spotlightTeam && navigateToFantasyTeam(spotlightTeam.playerId)">
    <div class="card__content fantasy-spotlight-card widget-player--soccer">
        <h4 class="fantasy-spotlight-title mb-2">Team of the Week</h4>
        <ng-container *ngIf="!isLoading; else spinner">
            <div class="widget-player__ribbon">
                <div class="fa fa-star"></div>
            </div>
            <h4 class="fantasy-spotlight-name">{{spotlightTeam ? spotlightTeam.fantasyTeamName : 'TBC'}}
            </h4>
            <i class="fantasy-spotlight-icon fas fa-award"></i>
            <div *ngIf="spotlightTeam" class="d-flex">
                <div class="fantasy-spotlight-stat-container">
                    <div class="fantasy-spotlight-stat-value">
                        {{spotlightTeam.points}}
                    </div>
                    <div class="fantasy-spotlight-stat-measure">
                        Points
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #spinner>
            <app-spinner [verticalMargins]="false"></app-spinner>
        </ng-template>
    </div>
</div>