<div class="card card--has-table">
    <div class="card__header card__header--has-btn">
        <h4>Performance Tracker</h4>
        <ul class="team-result-filter d-none d-md-inline float-right">
            <li class="team-result-filter__item">
                <select [(ngModel)]="currentPerformanceTrackerTime" name="timePeriod" class="form-control"
                    #timePeriodSelect>
                    <option [ngValue]="performanceTrackerTime.Daily">Daily</option>
                    <option [ngValue]="performanceTrackerTime.Weekly">Weekly</option>
                    <option [ngValue]="performanceTrackerTime.Monthly">Monthly</option>
                </select>
            </li>
            <li class="team-result-filter__item">
                <button type="button" class="btn btn-secondary btn-xs card-header__button" (click)="setFilters()">
                    Filter
                </button>
            </li>
        </ul>
    </div>
    <div class="card__content">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <ngx-charts-line-chart *ngIf="!isLoading && performanceSeries" [results]="performanceSeries"
            [xAxisLabel]="'Day'" [showXAxisLabel]="true" [yAxisLabel]="'Number'" [xAxis]="true" [yAxis]="true"
            [showYAxisLabel]="true" [legend]="true" [legendTitle]="'Stat'">
        </ngx-charts-line-chart>
    </div>
</div>