<div class="card card--has-table">
    <div class="card__header card__header--has-btn">
        <h4>Performance Tracker</h4>
        <ul class="team-result-filter d-none d-md-inline float-right">
            <li class="team-result-filter__item">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-xs btn-light"
                        [class.active]="currentPerformanceTrackerAttribute === performanceTrackerAttribute.AverageGoals"
                        (click)="setAttribute(performanceTrackerAttribute.AverageGoals)">
                        Goals
                    </button>
                    <button type="button" class="btn btn-xs btn-light"
                        [class.active]="currentPerformanceTrackerAttribute === performanceTrackerAttribute.AverageAssists"
                        (click)="setAttribute(performanceTrackerAttribute.AverageAssists)">
                        Assists
                    </button>
                    <button type="button" class="btn btn-xs btn-light"
                        [class.active]="currentPerformanceTrackerAttribute === performanceTrackerAttribute.GoalsConceded"
                        (click)="setAttribute(performanceTrackerAttribute.GoalsConceded)">
                        Goals Conceded
                    </button>
                    <button type="button" class="btn btn-xs btn-light"
                        [class.active]="currentPerformanceTrackerAttribute === performanceTrackerAttribute.Cleansheets"
                        (click)="setAttribute(performanceTrackerAttribute.Cleansheets)">
                        Cleansheets</button>
                    <button type="button" class="btn btn-xs btn-light"
                        [class.active]="currentPerformanceTrackerAttribute === performanceTrackerAttribute.Appearances"
                        (click)="setAttribute(performanceTrackerAttribute.Appearances)">
                        Appearances
                    </button>
                </div>
            </li>
            <li class="team-result-filter__item">
                <select [(ngModel)]="currentPerformanceTrackerTime" name="timePeriod" class="form-control"
                    #timePeriodSelect>
                    <option [ngValue]="performanceTrackerTime.Daily">Daily</option>
                    <option [ngValue]="performanceTrackerTime.Weekly">Weekly</option>
                    <option [ngValue]="performanceTrackerTime.Monthly">Monthly</option>
                </select>
            </li>
            <li class="team-result-filter__item">
                <button type="button" class="btn btn-secondary btn-xs card-header__button" (click)="setFilters()">
                    Filter
                </button>
            </li>
        </ul>
    </div>
    <div class="card__content position-relative p-4">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div class="performance-tracker-chart-container">
            <ngx-charts-line-chart *ngIf="!isLoading && performanceSeries" [results]="performanceSeries"
                [xAxisLabel]="'Day'" [showXAxisLabel]="false" [yAxisLabel]="'Number'" [xAxis]="true" [yAxis]="true"
                [showYAxisLabel]="false" [legend]="false" [legendTitle]="'Stat'">
            </ngx-charts-line-chart>
        </div>
        <div *ngIf="performanceSeries.length === 0"
            style="position: absolute; height: 100%; width: 100%; background: rgba(0, 0, 0, 0.5); top: 0; left: 0; color: #fff; font-family: 'Montserrat'"
            class="d-flex align-items-center justify-content-center">
            <i class="fas fa-exclamation-triangle mr-2"></i>&nbsp;There is not yet enough historical data for this
            player
        </div>
    </div>
</div>