.statistic-spotlight-card {
    background-color: #343a40;
    min-height: 130px;
}

.statistic-spotlight-card:hover {
    opacity: 0.9;
    cursor: pointer;
}

.statistic-spotlight-icon {
    filter: grayscale(1);
    opacity: 0.05;
    font-size: 83px;
    position: absolute;
    bottom: -19px;
    right: -15px;
    overflow: hidden;
    color: #3b434a;
    z-index: 0;
    &.icon-soccer-shots {
        opacity: 0.6;
        font-size: 85px;
    }
    &.icon-soccer-ball {
        opacity: 0.035;
        font-size: 90px;
    }
    &.icon-soccer-shoe {
        font-size: 77px;
    }
    &.icon-keepers-glove {
        font-size: 64px;
    }    
    &.icon-trophy {
        font-size: 65px;
    }
}

.statistic-spotlight-title {
    text-transform: uppercase;
    color: #ffffff73;
    font-size: 15px;
    margin-bottom: .5rem;
}

.statistic-spotlight-name {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
}

.statistic-spotlight-prefix {
    font-weight: 500;
    font-size: 1rem;
}

.statistic-spotlight-stat-container {
    color: #78818a;
    line-height: 0.8em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.statistic-spotlight-stat-measure {
    font-size: 9px;   
}

.statistic-spotlight-stat-value {
    font-size: 1rem;
}

.statistic-spotlight-card {
    overflow: hidden;
    position: relative;
}

.widget-player__ribbon {
    z-index: 1;
}
