<div class="container">
    <app-spinner *ngIf="!playerTeamStatisticsTotals"></app-spinner>
    <div *ngIf="playerTeamStatisticsTotals" class="card card--has-table">
        <div class="card__header card__header--has-btn">
            <h4>Current Squad</h4>
        </div>
        <div class="card__content">
            <table class="table table-striped table-clickable table-hover table--large">
                <thead>
                    <tr>
                        <th class="team-result__vs">Name</th>
                        <th class="team-result__vs">Role</th>
                        <th class="team-result__score">Positions</th>
                        <th class="text-center">Nationality</th>
                        <th class="team-result__status">Joined</th>
                        <th class="text-center">Appearances</th>
                        <th class="text-center">Goals</th>
                        <th class="text-center">Assists</th>
                        <th class="text-center">Yellow Cards</th>
                        <th class="text-center">Red Cards</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let playerTeamStatisticsTotal of playerTeamStatisticsTotals; let odd = odd"
                        (click)="navigateToPlayerProfile(playerTeamStatisticsTotal.playerTeam.playerId)">
                        <td>{{playerTeamStatisticsTotal.playerTeam.player.name}}</td>
                        <td>{{playerTeamStatisticsTotal.playerTeam.teamRole | teamRole}}</td>
                        <td>{{playerTeamStatisticsTotal.position?.name}}</td>
                        <td class="text-center py-0 px-2" style="vertical-align: middle;">
                            <ng-container *ngIf="playerTeamStatisticsTotal.steamUserProfile; else flagSkeleton">
                                <img *ngIf="playerTeamStatisticsTotal.steamUserProfile.loccountrycode; else unknownFlag"
                                    src="https://www.countryflags.io/{{playerTeamStatisticsTotal.steamUserProfile.loccountrycode}}/flat/24.png">
                                <ng-template #unknownFlag><i class="fas fa-question"></i></ng-template>
                            </ng-container>
                            <ng-template #flagSkeleton>
                                <ngx-skeleton-loader class="mt-2" [animation]="odd ? 'progress' : 'progress-dark'"
                                    appearance="circle"
                                    [theme]="{ 'border-radius': '5px', 'height': '22px', 'width': '24px' }">
                                </ngx-skeleton-loader>
                            </ng-template>
                        </td>
                        <td>{{playerTeamStatisticsTotal.playerTeam.joinDate | date}}</td>
                        <td class="text-center">{{playerTeamStatisticsTotal.appearances}}</td>
                        <td class="text-center">{{playerTeamStatisticsTotal.goals}}</td>
                        <td class="text-center">{{playerTeamStatisticsTotal.assists}}</td>
                        <td class="text-center">{{playerTeamStatisticsTotal.yellowCards}}</td>
                        <td class="text-center">{{playerTeamStatisticsTotal.redCards}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>