<div class="form-group">
    <label>Search Players</label>
    <div class="input-group mb-3">
        <input class="form-control" [(ngModel)]="searchQuery" type="text" name="searchQuery" (keyup.enter)="search()">
        <div class="input-group-append clickable" (click)="search()">
            <span class="input-group-text" id="basic-addon1">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
    <table *ngIf="playerSearchResults && playerSearchResults.length"
        class="table table-striped table-clickable table-hover">
        <thead>
            <th>Player</th>
            <th>SteamID</th>
            <th style="width: 30px" class="text-center"></th>
        </thead>
        <tbody>
            <tr *ngFor="let player of playerSearchResults" (click)="selectPlayer(player)">
                <td>
                    <a [routerLink]="['/player-profile/' + player.id]" target="_blank">{{player.name}}</a>
                </td>
                <td>
                    <a href="https://steamcommunity.com/profiles/{{player.steamID}}"
                        target="_blank">{{player.steamID}}&nbsp;
                        <i class="fas fa-external-link-alt text-muted"></i>
                    </a>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-xs btn-primary" (click)="selectPlayer(player)">Select</button>
                </td>
            </tr>
        </tbody>
    </table>
    <app-spinner *ngIf="isSearching"></app-spinner>
    <div *ngIf="playerSearchResults && !playerSearchResults.length" class="alert alert-warning">
        No players found matching the name provided
    </div>
</div>
<div *ngIf="selectedPlayer" class="form-group">
    <label>Selected Player</label>
    <div>
        <a [routerLink]="['/player-profile/' + selectedPlayer.id]" target="_blank">{{selectedPlayer.name}}</a>&nbsp;
        <button class="btn btn-xs btn-secondary" type="button" (click)="deselectPlayer()">De-select</button>
    </div>
</div>