// Alerts

@mixin alert-variant($background, $border) {
	background-color: $background;

	hr {
		border-top-color: darken($border, 5%);
	}
	.alert-link {
		// color: darken($text-color, 10%);
	}

	&::before {
		background-color: $background;
	}
}
