<ng-container *ngIf="form; else spinner">
    <ng-container *ngFor="let item of form" [ngSwitch]="item">
        <span *ngSwitchCase="matchOutcomeType.Win" class="form-indicator--circle form-indicator--circle__win" title="Win">
                W
        </span>
        <span *ngSwitchCase="matchOutcomeType.Draw" class="form-indicator--circle form-indicator--circle__draw" title="Draw">
                D
        </span>
        <span *ngSwitchCase="matchOutcomeType.Loss" class="form-indicator--circle form-indicator--circle__loss" title="Loss">
                L
        </span>
        <span *ngSwitchCase="matchOutcomeType.Unknown" class="form-indicator--circle form-indicator--circle__unknown" title="Unknown">
                ?
        </span>
    </ng-container>
    <span *ngIf="form && !form.length">N/A</span>
</ng-container>
<ng-template #spinner>
    <app-spinner [verticalMargins]="false"></app-spinner>
</ng-template>