<nav class="content-filter">
    <div class="container">
        <a href="javascript:void(0);" (click)="tabNav.toggle()" class="content-filter__toggle"></a>
        <ul class="content-filter__list" appTabNavMobile #tabNav>
            <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                <a [routerLink]="['./info']" class="content-filter__link"  i18n="@@globals.info">Info</a>
            </li>
            <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                <a [routerLink]="['./squad']" class="content-filter__link"  i18n="@@globals.squad">Squad</a>
            </li>
            <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                <a [routerLink]="['./discord']" class="content-filter__link">Discord</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container py-4">
    <div *ngIf="accessDenied" class="alert alert-danger"  i18n="@@teamEditor.accessDenied">
        You do not have access to manage this team
    </div>
    <router-outlet *ngIf="!isLoading && !accessDenied"></router-outlet>
    <app-spinner *ngIf="isLoading"></app-spinner>
</div>