<div class="card card--has-table" [class.card--has-table]="!isAddPlayerWizardOpen">
    <div class="card__header card__header--has-btn">
        <h4>Squad</h4>
        <button *ngIf="!isAddPlayerWizardOpen" type="button" (click)="toggleAddPlayerWizard()"
            class="btn btn-primary btn-xs card-header__button float-right">Add Player</button>
    </div>
    <div class="card__content">
        <div *ngIf="!isLoading; else spinner" class="table-responsive">
            <table *ngIf="!isAddPlayerWizardOpen" class="table table-striped"
                [class.widget__content--loading]="isUpdating">
                <thead>
                    <th>Player</th>
                    <th>SteamID</th>
                    <th>Join Date</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let teamPlayer of teamPlayers">
                        <td>
                            <a [routerLink]="['/player-profile/' + teamPlayer.playerId]">{{teamPlayer.player.name}}</a>
                        </td>
                        <td>
                            <a href="https://steamcommunity.com/profiles/{{teamPlayer.player.steamID}}"
                                target="_blank">{{teamPlayer.player.steamID}}&nbsp;
                                <i class="fas fa-external-link-alt text-muted"></i>
                            </a>
                        </td>
                        <td>{{teamPlayer.joinDate | date:'short'}}</td>
                        <td class="text-center" style="min-width: 100px">
                            <select *ngIf="teamPlayer.playerId !== currentPlayer.id" class="form-control input-xs"
                                [(ngModel)]="teamPlayer.teamRole" (ngModelChange)="updatePlayerRole(teamPlayer, $event)"
                                style="padding: 2px 10px;" name="teamPlayerRole">
                                <option [ngValue]="teamRoles.Captain">Captain</option>
                                <option [ngValue]="teamRoles.ViceCaptain">Vice Captain</option>
                                <option [ngValue]="teamRoles.Player">Player</option>
                                <option [ngValue]="teamRoles.Loaned">Loaned</option>
                                <option [ngValue]="teamRoles.Loanee">Loanee</option>
                                <option [ngValue]="teamRoles.Reserve">Reserve</option>
                                <option [ngValue]="teamRoles.Trialist">Trialist</option>
                            </select>
                            <span *ngIf="teamPlayer.playerId === currentPlayer.id">
                                {{teamPlayer.teamRole | teamRole}}
                            </span>
                        </td>
                        <td class="text-center">
                            <button *ngIf="teamPlayer.playerId !== currentPlayer.id" class="btn btn-xs btn-primary"
                                [swal]="{ title: 'Are you sure?', text: 'This player will be kicked immediately', icon: 'warning', showCancelButton: true }"
                                (confirm)="kickPlayer(teamPlayer)">Kick</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-team-editor-squad-add-player *ngIf="isAddPlayerWizardOpen" [teamId]="teamId"
                (wizardClosed)="toggleAddPlayerWizard()" (playerAdded)="loadPlayers()">
            </app-team-editor-squad-add-player>
        </div>
        <ng-template #spinner>
            <app-spinner></app-spinner>
        </ng-template>
    </div>
</div>