<div class="card">
    <div class="card-header" style="height: 55px;">
        <h4 class="card-title">
            <i class="fa fa-server text-muted"></i> Servers</h4>
    </div>
    <div class="card-body">
        <div *ngIf="!servers" class="text-center">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
        </div>
        <div *ngIf="servers">
            <table class="table table-striped">
                <thead>
                    <th>Server Name</th>
                    <th>Address</th>
                    <th>Region</th>
                    <th>RCON Password</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let server of servers" [attr.data-index]="i">
                        <td>{{server.name}}</td>
                        <td>{{server.address}}</td>
                        <td>{{server.region?.regionName}}</td>
                        <td>{{server.rconPassword}}</td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" (click)="removeServer(server.id)">
                                <i class="fa fa-times"></i> Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            <i class="fa fa-plus"></i> Add Server</h4>
        <form class="row">
            <div class="form-group col-md-3">
                <label for="serverName">Server Name</label>
                <input type="text" class="form-control" id="serverName" name="serverName" [(ngModel)]="newServer.name">
            </div>
            <div class="form-group col-md-3">
                <label for="ipAddress">IP Address</label>
                <input type="text" class="form-control" id="ipAddress" name="ipAddress" [(ngModel)]="newServer.address">
            </div>

            <div class="form-group col-md-3">
                <label for="rconPassword">RCON Password</label>
                <input type="text" class="form-control" id="rconPassword" name="rconPassword" [(ngModel)]="newServer.rconPassword">
            </div>
            <div class="form-group col-md-3">
                <label for="regionId">Region</label>
                <select class="form-control" [(ngModel)]="newServer.regionId" name="regionId" id="regionId">
                    <option *ngFor="let region of regions" [ngValue]="region.regionId">
                        {{region.regionName}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-outline-success float-right" (click)="addServer()">
                    <i class="fa fa-check"></i> Add</button>
            </div>
        </form>
    </div>
</div>