<div class="py-4 container">
    <div class="card">
        <div class="card__header">
            <h4 i18n="@@team.developmentTeam">Development Team</h4>
        </div>
        <div class="card__content">
            <label i18n="@@team.current">Current</label>
            <ul>
                <li>
                    <strong>Romdi:</strong> Co-Lead, Lead Programmer
                </li>
                <li>
                    <strong>Thing'e':</strong> Co-Lead, Programmer, Community Administrator
                </li>
                <li>
                    <strong>Aryan:</strong> Co-Lead, Mechanics, Community Administrator
                </li>
                <li>
                    <strong>Shagwa:</strong> Mapper, Modeller
                </li>
                <li>
                    <strong>Flame:</strong> Mapper
                </li>
                <li>
                    <strong>Tet:</strong> Mapper
                </li>
                <li>
                    <strong>Rai:</strong> Infrastructure Manager
                </li>
            </ul>
            <label i18n="@@team.former">Former</label>
            <ul>
                <li>
                    <strong>routetwo:</strong> Creator, Lead Programmer
                </li>
                <li>
                    <strong>CaptainCaffiene:</strong> Mapper
                </li>
                <li>
                    <strong>Pricey:</strong> Mapper
                </li>
                <li>
                    <strong>BlackCat:</strong> Mapper
                </li>
                <li>
                    <strong>Katharii:</strong> Modeller
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card__header">
            <h4 i18n="@@team.contributors">Contributors</h4>
        </div>
        <div class="card__content">
            <ul class="mb-0">
                <li>
                    <strong>Whatniesta:</strong> Modelling, Animation
                </li>
                <li>
                    <strong>Kalimando:</strong> Modelling
                </li>
                <li>
                    <strong>Kid Rainbows:</strong> Mapping
                </li>
                <li>
                    <strong>Iván:</strong> Mapping
                </li>
                <li>
                    <strong>Rawix:</strong> Modelling, Texturing
                </li>
                <li>
                    <strong>JuanmiJuan:</strong> Modelling, Animation
                </li>
                <li>
                    <strong>Rhino:</strong> Sounds
                </li>
                <li>
                    <strong>Kalimando:</strong> Animation
                </li>
                <li>
                    <strong>Ian B:</strong> Programming
                </li>
                <li>
                    <strong>Leotte:</strong> Programming
                </li>
                <li>
                    <strong>Bear:</strong> Modelling, Animation
                </li>
                <li>
                    <strong>Josh:</strong> Animation
                </li>
                <li>
                    <strong>Dementai:</strong> Mapping, Modelling
                </li>
                <li>
                    <strong>Hiei:</strong> Programming
                </li>
                <li>
                    <strong>NightFlame:</strong> Mapping, Texturing
                </li>
                <li>
                    <strong>Chris Bruin:</strong> Modelling
                </li>
                <li>
                    <strong>Iron Belly Studios:</strong> Modelling
                </li>
                <li>
                    <strong>Azza:</strong> Tutorial Video Creation
                </li>
                <li>
                    <strong>Ragnar:</strong> Texturing
                </li>
                <li>
                    <strong>Panther:</strong> Texturing
                </li>
                <li>
                    <strong>Eoin:</strong> Texturing
                </li>
                <li>
                    <strong>Coolwars:</strong> Texturing
                </li>
                <li>
                    <strong>Janir:</strong> Texturing
                </li>
                <li>
                    <strong>Lemon:</strong> Texturing
                </li>
                <li>
                    <strong>h0w:</strong> Texturing
                </li>
                <li>
                    <strong>NSQ:</strong> Texturing
                </li>
                <li>
                    <strong>Pajaro:</strong> Texturing
                </li>
                <li>
                    <strong>Potatuzz:</strong> Texturing
                </li>
                <li>
                    <strong>Rorro:</strong> Texturing
                </li>
            </ul>
            <p class="ml-4">..and many more! We would like to thank all contributors, past and present, as this is
                ultimately a game
                created by a community.</p>
        </div>
    </div>
</div>