<div class="py-5 container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card__header">
                    <h4>Login to your Account</h4>
                </div>
                <div class="card__content">
                    <form action="#">
                        <div class="form-group form-group--sm">
                            <a href="{{apiUrl}}/login" class="btn btn-primary-inverse btn-icon btn-lg btn-block">
                                <i class="fab fa-discord fa-lg"></i>
                                Sign in to your account with Discord
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>