.team-result-filter__item select.form-control {
    font-size: 11px;
}

.team-result--score {
    background-color: #e4e4e4; 
    padding: .2rem .4rem; 
    color: black;
    font-weight: 600;
    margin: 0 1px;
}