<div>
    <ng-container *ngIf="!isUploading; else spinner">
        <div *ngIf="invalidImage" class="alert alert-danger mb-3" i18n="@@imageUploader.invalidImage">
            Invalid image. The image must not exceed 750KB and be of type PNG.
        </div>
        <label class="btn btn-secondary btn-xs">
            <input type="file" (change)="fileSelected($event)">
            Choose Image
        </label>
    </ng-container>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</div>

<ul>
    <li *ngFor="let item of files; let i=index">
        <strong>{{ item.fileName }}</strong>
    </li>
</ul>