<div class="container py-4">
    <div id="player-profile-recent-matches">
        <div class="card">
            <div class="card__header">
                <h4>Edit Profile</h4>
            </div>
            <div class="card__content">
                <div class="row">
                    <app-spinner *ngIf="isLoading" class="m-auto"></app-spinner>
                    <div *ngIf="!isLoading" class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="input-default">Nickname</label>
                            <input type="text" class="form-control" id="input-default" [(ngModel)]="player.name"
                                placeholder="Your most well-known alias">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-default">Discord Account</label>
                            <ng-container *ngIf="player.discordUserId">
                                <div class="mb-2">
                                    <img [src]="discordUser.avatarUrl" class="profile-editor--discord-avatar mr-1"
                                        title="Discord Avatar">
                                    <span class="mr-1" title="Discord Username">{{discordUser.name}}</span>
                                    <span class="text-muted" title="Discord User Id">{{discordUser.id}}</span>
                                </div>
                                <button type="button" class="btn btn-xs btn-secondary"
                                    [swal]="{ title: 'Please note', text: 'After verifying via Discord, you\'ll need to log back in via Steam', icon: 'info', showCancelButton: false }"
                                    (confirm)="startDiscordVerification()">Relink Discord Account</button>
                            </ng-container>
                            <ng-container *ngIf="!player.discordUserId">
                                <p>
                                    <button type="button" class="btn btn-xs btn-secondary"
                                        [swal]="{ title: 'Please note', text: 'After verifying via Discord, you\'ll need to log back in via Steam', icon: 'info', showCancelButton: false }"
                                        (confirm)="startDiscordVerification()">Link Discord Account</button>
                                </p>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-default">Playing Since</label>
                            <mat-datepicker #picker></mat-datepicker>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend clickable">
                                    <span class="input-group-text" id="basic-addon1" (click)="picker.open()">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                </div>
                                <input matInput class="form-control" [matDatepicker]="picker" (click)="picker.open()"
                                    [(ngModel)]="player.playingSince">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-default">Nationality</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i *ngIf="player.countryId" class="flag-icon flag-icon-squared" [ngClass]="'flag-icon-' + getCountryCode(player.countryId)"></i>
                                    </span>
                                </div>
                                <select class="form-control" id="input-default" [(ngModel)]="player.countryId"
                                    placeholder="Select nationality...">
                                    <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label mb-0" for="disableDMNotifications">Disable DM
                                Notifications</label>
                            <small class="label-subtitle">Enabling this will mean Coach doesn't DM you on Discord with
                                any match
                                notifications</small>
                            <div>
                                <label class="checkbox mr-2">
                                    <input [(ngModel)]="player.disableDMNotifications" type="checkbox"
                                        name="disableDMNotifications">
                                    <span class="checkbox-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-primary btn-sm" (click)="saveChanges()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>