<app-spinner *ngIf="isLoading"></app-spinner>
<div *ngIf="!isLoading" class="card">
    <div class="card__header">
        <h4>Manage</h4>
    </div>
    <div class="card__content">
        <button type="button" class="btn btn-primary mx-1"
            [swal]="{ title: 'Are you sure?', text: 'This will generate the schedule of matches, and if the schedule is already generated, will clear the existing schedule and matches.', icon: 'warning', showCancelButton: true }"
            (confirm)="generateSchedule()">Generate
            Schedule</button>
        <button type="button" class="btn btn-primary mx-1"
            [swal]="{ title: 'Are you sure?', text: 'This will generate the player snapshots for the fantasy game, meaning the fantasy game must be completely reset if further player changes required. Therefore this should only be done after transfer windows end.', icon: 'warning', showCancelButton: true }"
            (confirm)="generateFantasyTeamSnapshots()">Open Fantasy Game</button>
    </div>
</div>