<div class="container py-4">
    <app-spinner *ngIf="!matches"></app-spinner>
    <div *ngIf="matches" class="card card--has-table">
        <div class="card__header card__header--has-btn">
            <h4>Upcoming Fixtures</h4>
        </div>
        <div class="card__content table-responsive">
            <app-spinner *ngIf="!matches"></app-spinner>
            <div *ngIf="matches && !matches.length" class="m-4 alert alert-info">
                There are currently no upcoming matches scheduled
            </div>
            <table *ngIf="matches && matches.length" class="table table-striped">
                <thead>
                    <tr>
                        <th class="team-result__date">Date</th>
                        <th></th>
                        <th colspan="2"><span style="margin-left: -22px;">Match</span></th>
                        <th class="team-result__status">Match Type</th>
                        <th class="text-center">Match Format</th>
                        <th class="text-center">Venue</th>
                        <th class="text-center">Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let match of matches | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }">
                        <td class="team-result__date text-nowrap">{{match.kickOff | date:'medium'}}</td>
                        <td class="text-right text-nowrap">
                            <app-team-name [team]="match.teamHome" [isHomeTeam]="true">
                            </app-team-name>
                        </td>
                        <td class="text-center mx-0 px-0">
                            vs
                        </td>
                        <td class="text-left text-nowrap">
                            <app-team-name [team]="match.teamAway" [isHomeTeam]="false">
                            </app-team-name>
                        </td>
                        <td class="team-result__status text-nowrap">
                            <ng-container *ngIf="match.tournament; else matchType">
                                <a [routerLink]="['/tournament/', match.tournamentId]">{{match.tournament.name}}</a>
                            </ng-container>
                            <ng-template #matchType>
                                <ng-container [ngSwitch]="match.matchType">
                                    <span *ngSwitchCase="matchTypes.UnrankedFriendly">Unranked Friendly</span>
                                    <span *ngSwitchCase="matchTypes.RankedFriendly">Ranked Friendly</span>
                                </ng-container>
                            </ng-template>
                        </td>
                        <td class="text-center text-nowrap">{{match.format}}v{{match.format}}</td>
                        <td class="text-center text-nowrap">
                            {{match.server.name}}
                        </td>
                        <td class="text-center" title="{{match.server.country.name}}">
                            <img src="https://www.countryflags.io/{{match.server.country.code}}/flat/24.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="totalPages > 1" class="text-center">
        <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
    </div>
</div>
<!-- Team Latest Results / End -->