<div class="container my-4">
    <div class="sponsors-grid row">
        <div class="col-sm-6 col-lg-4">
            <div class="card sponsor-card">
                <header class="card__header text-center">
                    <h4>Thing'e'</h4>
                </header>
                <div class="card__content text-center text-muted">
                    <h5>
                        <i class="fas fa-code text-muted"></i> Developer
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>