<div class="card">
    <div class="card-header" style="height: 55px;">
        <h4 class="card-title">
            <img src="/assets/discord_icon.png" style="opacity: 0.7"> Discord Commands</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <th>Command</th>
                <th>Description</th>
                <th>Usage</th>
            </thead>
            <tbody>
                <tr>
                    <td>!sign</td>
                    <td>Sign to the first available position</td>
                    <td>!sign</td>
                </tr>
                <tr>
                    <td>!sign
                        <em>pos</em>
                    </td>
                    <td>Sign to a specific position</td>
                    <td>!sign LW</td>
                </tr>
                <tr>
                    <td>!
                        <em>pos</em>
                    </td>
                    <td></td>
                    <td>!lw</td>
                </tr>
                <tr>
                    <td>!sign
                        <em>name</em>
                        <em>pos</em>
                    </td>
                    <td></td>
                    <td>!sign Thinge LW</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>