.page-heading {
    background-image: url(https://iosoccer.com/assets/stadium-3.jpg);
}
.page-heading::before {
    opacity: 0.5;
    background-color: #38a9ff;
}
.card__header::before {
    background-color: #131313;
}
.progress__bar--success {
    background-color: #dc3545;
}
.site-content > .container > .row {
    margin-right: -45px;
    margin-left: -45px;
}