<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-md-3">
            <app-team-spotlight [statistic]="teamSpotlightStatistic.Goals" [tournamentId]="tournamentId">
            </app-team-spotlight>
        </div>
        <div class="col-12 col-md-3">
            <app-team-spotlight [statistic]="teamSpotlightStatistic.Wins" [tournamentId]="tournamentId">
            </app-team-spotlight>
        </div>
        <div class="col-12 col-md-3">
            <app-team-spotlight [statistic]="teamSpotlightStatistic.GoalsConceded" [tournamentId]="tournamentId">
            </app-team-spotlight>
        </div>
        <div class="col-12 col-md-3">
            <app-team-spotlight [statistic]="teamSpotlightStatistic.PassCompletion" [tournamentId]="tournamentId">
            </app-team-spotlight>
        </div>
    </div>
    <div class="card card--has-table">
        <div class="card__header card__header--has-btn">
            <h4>Team Statistics</h4>
            <!-- Result Filter -->
            <!-- Result Filter / End -->
            <ul *ngIf="!hideFilters" class="team-result-filter d-none d-md-inline float-right">
                <li class="team-result-filter__item">
                    <label class="checkbox checkbox-inline mr-2">
                        <input type="checkbox" name="includeSubstituteAppearances"
                            [(ngModel)]="filters.includeInactive"> Include Inactive
                        <span class="checkbox-indicator"></span>
                    </label>
                </li>
                <li class="team-result-filter__item">
                    <select [(ngModel)]="filters.teamType" name="teamType" class="form-control" style="font-size: 11px;"
                        #teamTypeSelect>
                        <option [ngValue]="undefined">All Team Types</option>
                        <option [ngValue]="teamTypes.Club">Club</option>
                        <option [ngValue]="teamTypes.National">National</option>
                        <option [ngValue]="teamTypes.Mix">Mix</option>
                        <option [ngValue]="teamTypes.Draft">Draft</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <select [(ngModel)]="filters.timePeriod" name="timePeriod" style="font-size: 11px;"
                        class="form-control" #timePeriodSelect>
                        <option [ngValue]="0">All Time</option>
                        <option [ngValue]="365">Year</option>
                        <option [ngValue]="31">Month</option>
                        <option [ngValue]="7">Week</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <button type="button" class="btn btn-secondary btn-xs card-header__button" (click)="setFilters()">
                        Filter
                    </button>
                </li>
            </ul>
        </div>
        <div class="card__content table-responsive">
            <app-spinner *ngIf="!teamStatistics"></app-spinner>
            <table *ngIf="teamStatistics"
                class="table table--large table-striped table-hover table-clickable table-inner-border table-column-hover"
                [class.widget__content--loading]="isLoadingPage">
                <thead>
                    <tr>
                        <th></th>
                        <th sorter [sortByColumn]="'TeamName'" [sortByColumnName]="'Team'" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="no-left-border">
                        </th>
                        <th sorter [sortByColumn]="'Appearances'" [sortByColumnName]="'Matches'" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'Wins'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'Losses'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'Draws'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'Goals'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'GoalsAverage'" [sortByColumnName]="'Goals'" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'Assists'" [sortByColumnName]="'Assists'" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'AssistsAverage'" [sortByColumnName]="'Assists'"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center" [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'ShotsAverage'" [sortByColumnName]="'Shots'" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'ShotAccuracyPercentage'" [sortByColumnName]="'Shot Accuracy'"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'PassesAverage'" [sortByColumnName]="'Passes'" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'PassCompletionPercentageAverage'"
                            [sortByColumnName]="'Pass Completion'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th sorter [sortByColumn]="'InterceptionsAverage'" [sortByColumnName]="'Interceptions'"
                            [sortByColumnName]="'Interceptions'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center" [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'OffsidesAverage'" [sortByColumnName]="'Offsides'"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center" [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'PossessionPercentageAverage'" [sortByColumnName]="'Possession'"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'YellowCards'" [sortByColumnName]="'Yellows'" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'RedCards'" [sortByColumnName]="'Reds'" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th class="team-result__game-overview text-center" style="min-width: 175px" class="text-center">
                            Form</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let statistics of teamStatistics | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }"
                        (click)="navigatetoProfile(statistics.teamId)">
                        <td class="pr-0">
                            <img *ngIf="statistics.badgeImage" [src]="statistics.badgeImage.base64EncodedImage"
                                style="width: 20px;">
                            <img *ngIf="!statistics.badgeImage" src="./assets/images/soccer/blank-crest.png"
                                style="width: 20px;">
                        </td>
                        <td class="team-result__score no-left-border">{{statistics.teamName}}</td>
                        <td class="team-result__status text-center">{{statistics.appearances}}</td>
                        <td class="team-result__status text-center">{{statistics.wins}}</td>
                        <td class="team-result__status text-center">{{statistics.losses}}</td>
                        <td class="team-result__status text-center">{{statistics.draws}}</td>
                        <td class="team-result__status text-center">{{statistics.goals}}</td>
                        <td class="team-result__status text-center">{{statistics.goalsAverage | number : '1.2-2'}}</td>
                        <td class="team-result__status text-center">{{statistics.assists}}</td>
                        <td class="team-result__status text-center">{{statistics.assistsAverage | number : '1.2-2'}}
                        </td>
                        <td class="team-result__status text-center">{{statistics.shotsAverage | number : '1.2-2' }}
                        </td>
                        <td class="team-result__status text-center">{{statistics.shotAccuracyPercentage | percent }}
                        </td>
                        <td class="team-result__status text-center">{{statistics.passesAverage | number : '1.2-2'}}</td>
                        <td class="team-result__status text-center">
                            {{statistics.passCompletionPercentageAverage | percent }}
                        </td>
                        <td class="team-result__status text-center">
                            {{statistics.interceptionsAverage | number : '1.2-2'}}</td>
                        <td class="team-result__status text-center">{{statistics.offsidesAverage | number : '1.2-2'}}
                        </td>
                        <td class="team-result__status text-center">
                            {{(statistics.possessionPercentageAverage | number : '1.2-2')  + '%' }}
                        </td>
                        <td class="team-result__status text-center">{{statistics.yellowCardsAverage | number : '1.2-2'}}
                        </td>
                        <td class="team-result__status text-center">{{statistics.redCardsAverage | number : '1.2-2'}}
                        </td>
                        <td class="team-result__status text-center" style="min-width: 175px">
                            <app-form-indicator [form]="statistics.form"></app-form-indicator>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="totalPages > 1" class="mb-4 text-center">
        <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
    </div>
</div>
<!-- Team Latest Results / End -->