<div class="container my-4">
    <ng-container *ngIf="!isLoading; else spinner">

        <div class="row">
            <div class="col-8">
                <div class="widget card widget--sidebar widget-filter-price">
                    <div class="widget__title card__header">
                        <h4>Squad</h4>
                    </div>
                    <div class="widget__content card__content" style="min-height: 48rem;">
                        <div class="football-pitch">
                            <div class="outline marking"></div>
                            <div class="box left marking"></div>
                            <div class="box-d left marking"></div>
                            <div class="box left small marking"></div>
                            <div class="box right marking"></div>
                            <div class="box-d right marking"></div>
                            <div class="box right small marking"></div>
                            <div class="spot left marking"></div>
                            <div class="spot right marking"></div>
                            <div class="spot center marking"></div>
                            <div class="center-line marking"></div>
                            <div class="center-circle marking"></div>
                            <div class="corner top left marking"></div>
                            <div class="corner top right marking"></div>
                            <div class="corner bottom left marking"></div>
                            <div class="corner bottom right marking"></div>
                            <div class="grass"></div>
                        </div>
                        <div *ngIf="fantasyTeam && fantasyTeam.fantasyTeamSelections"
                            class="fantasy-pitch--player-container flex-column">
                            <div class="d-flex justify-content-around">
                                <div *ngFor="let selection of fantasyTeam.fantasyTeamSelections | filterByImpure:['isFlex']:false | filterByImpure:['fantasyPlayer.positionGroup']:positionGroups.Goalkeeper"
                                    class="fantasy-pitch--player">
                                    <app-kit [text]="selection.fantasyPlayer.player.name"
                                        [color]="selection.fantasyPlayer.player.teams[0].team.color"></app-kit>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around">
                                <div *ngFor="let selection of fantasyTeam.fantasyTeamSelections | filterByImpure:['isFlex']:false | filterByImpure:['fantasyPlayer.positionGroup']:positionGroups.Defence"
                                    class="fantasy-pitch--player">
                                    <app-kit [text]="selection.fantasyPlayer.player.name"
                                        [color]="selection.fantasyPlayer.player.teams[0].team.color"></app-kit>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around">
                                <div *ngFor="let selection of fantasyTeam.fantasyTeamSelections | filterByImpure:['isFlex']:false | filterByImpure:['fantasyPlayer.positionGroup']:positionGroups.Midfield"
                                    class="fantasy-pitch--player">
                                    <app-kit [text]="selection.fantasyPlayer.player.name"
                                        [color]="selection.fantasyPlayer.player.teams[0].team.color"></app-kit>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around">
                                <div *ngFor="let selection of fantasyTeam.fantasyTeamSelections | filterByImpure:['isFlex']:false | filterByImpure:['fantasyPlayer.positionGroup']:positionGroups.Attack"
                                    class="fantasy-pitch--player">
                                    <app-kit [text]="selection.fantasyPlayer.player.name"
                                        [color]="selection.fantasyPlayer.player.teams[0].team.color"></app-kit>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around">
                                <div *ngFor="let selection of fantasyTeam.fantasyTeamSelections | filterByImpure:['isFlex']:true"
                                    class="fantasy-pitch--player">
                                    <app-kit [text]="selection.fantasyPlayer.player.name"
                                        [color]="selection.fantasyPlayer.player.teams[0].team.color"></app-kit>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <aside class="widget card widget--sidebar widget-filter-price">
                    <div class="widget__title card__header card__header--has-btn">
                        <h4>Filters</h4>
                        <button class="btn btn-default btn-outline btn-xs card-header__button">Filter</button>
                    </div>
                    <div class="widget__content card__content">
                        <div class="form-group">
                            <label>Position</label>
                            <div class="checkbox-table w-100">
                                <label class="checkbox checkbox--cell">
                                    <input type="checkbox" id="size-7" value="7">
                                    <span class="checkbox-indicator">All</span>
                                </label>
                                <label class="checkbox checkbox--cell">
                                    <input type="checkbox" id="size-7" value="7">
                                    <span class="checkbox-indicator">GK</span>
                                </label>
                                <label class="checkbox checkbox--cell">
                                    <input type="checkbox" id="size-7" value="7">
                                    <span class="checkbox-indicator">DEF</span>
                                </label>
                                <label class="checkbox checkbox--cell">
                                    <input type="checkbox" id="size-7" value="7">
                                    <span class="checkbox-indicator">MID</span>
                                </label>
                                <label class="checkbox checkbox--cell"
                                    (click)="filters.positionGroup = positionGroups.Attack">
                                    <input type="checkbox" id="size-7" value="7">
                                    <span class="checkbox-indicator">ATK</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <nouislider [connect]="true" [min]="0" [max]="10" [(ngModel)]="ratingRange" [step]="0.25"
                                (ngModelChange)="setRatingRange($event)"></nouislider>
                        </div>
                        <div class="form-group">
                            <label>Team</label>
                            <select class="form-control" [(ngModel)]="filters.teamId">
                                <option *ngFor="let team of teams" [ngValue]="team.id">
                                    {{team.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </aside>
                <aside class="widget card widget--sidebar widget-filter-price card--has-table">
                    <div class="widget__title card__header ">
                        <h4>Players</h4>
                    </div>
                    <div class="widget__content card__content">
                        <table *ngIf="fantasyPlayers; else spinner"
                            class="table table-striped table-hover table-clickable">
                            <thead>
                                <th></th>
                                <th>Player</th>
                                <th>Rating</th>
                                <th>Pos</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let player of fantasyPlayers" (click)="addFantasyTeamSelection(player)">
                                    <td>
                                        <img [src]="player.player.teams[0].team.badgeImage.base64EncodedImage"
                                            style="max-height: 15px">
                                    </td>
                                    <td>{{player.player.name}}</td>
                                    <td>{{player.rating | number : '1.2-2'}}</td>
                                    <td>{{player.positionGroup | positionGroup}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #spinner>
                            <app-spinner></app-spinner>
                        </ng-template>
                    </div>
                </aside>
            </div>
        </div>
    </ng-container>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>

</div>