<div class="container">
    <app-spinner *ngIf="!playerTeamStatisticsTotals"></app-spinner>
    <div *ngIf="playerTeamStatisticsTotals && !playerTeamStatisticsTotals.length" class="alert alert-info">
        This team doesn't have any players yet.. Sad.
    </div>
    <div *ngIf="playerTeamStatisticsTotals && playerTeamStatisticsTotals.length" class="card card--has-table">
        <div class="card__header">
            <h4>Player History</h4>
        </div>
        <div class="card__content">
            <table class="table table-striped table--large">
                <thead>
                    <tr>
                        <th class="team-result__vs">Name</th>
                        <th class="team-result__vs">Role</th>
                        <th class="team-result__score">Positions</th>
                        <th class="team-result__status">Date From</th>
                        <th class="team-result__status">Date Until</th>
                        <th class="team-result__status">Appearances</th>
                        <th class="team-result__status">Goals</th>
                        <th class="team-result__status">Assists</th>
                        <th class="team-result__status">Yellow Cards</th>
                        <th class="team-result__status">Red Cards</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let playerTeamStatisticsTotal of playerTeamStatisticsTotals">
                        <td class="team-result__date">{{playerTeamStatisticsTotal.playerTeam.player.name}}</td>
                        <td class="team-result__date">{{playerTeamStatisticsTotal.playerTeam.teamRole | teamRole}}</td>
                        <td class="team-result__date">{{playerTeamStatisticsTotal.position?.name}}</td>
                        <td class="team-result__date">{{playerTeamStatisticsTotal.playerTeam.joinDate | date}}</td>
                        <td class="team-result__date">
                            <ng-container *ngIf="playerTeamStatisticsTotal.playerTeam.leaveDate; else present">
                                {{playerTeamStatisticsTotal.playerTeam.leaveDate | date}}
                            </ng-container>
                            <ng-template #present>
                                Present
                            </ng-template>
                        </td>
                        <td class="team-result__date">{{playerTeamStatisticsTotal.appearances}}</td>
                        <td class="team-result__date">{{playerTeamStatisticsTotal.goals}}</td>
                        <td class="team-result__date">{{playerTeamStatisticsTotal.assists}}</td>
                        <td class="team-result__date">{{playerTeamStatisticsTotal.yellowCards}}</td>
                        <td class="team-result__date">{{playerTeamStatisticsTotal.redCards}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>