<div class="container py-4">
    <ng-container *ngIf="!isLoading; else spinner">
        <div class="card" [class.card--has-table]="leaderboard && leaderboard.length">
            <div class="card__header">
                <h4>Leaderboard</h4>
            </div>
            <div class="card__content table-responsive" style="max-height: 60vh; overflow-y: auto;">
                <app-spinner *ngIf="!leaderboard"></app-spinner>
                <div *ngIf="leaderboard && !leaderboard.length" class="alert alert-info">
                    No leaderboard yet!
                </div>
                <ng-container *ngIf="leaderboard && leaderboard.length">
                    <table class="table table-striped">
                        <thead>
                            <th class="text-center">Rank</th>
                            <th>Player</th>
                            <th class="text-center">Predictions</th>
                            <th class="text-center">Correct Results</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let player of leaderboard; let index = index">
                                <td class="text-center text-strong">{{index + 1}}</td>
                                <td class="text-strong">
                                    <a [routerLink]="['/player-profile/' + player.playerId]">{{player.playerName}}</a>
                                </td>
                                <td class="text-center">{{player.predictions}}</td>
                                <td class="text-center">{{player.points}}</td>
                                <td>
                                    <a type="button" class="btn btn-xs btn-primary"
                                        [routerLink]="['./player/' + player.playerId]">
                                        View Predictions
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
        </div>
        <h4 class="mt-4">Submit Predictions</h4>
        <div *ngIf="!phase || !phase.tournamentGroupMatches.length" class="alert alert-info">
            No matches currently available to predict
        </div>
        <div *ngIf="phase" class="row">
            <div class="col-lg-6" *ngFor="let phaseMatch of phase.tournamentGroupMatches">
                <app-score-predictor-match [phaseMatch]="phaseMatch" [phase]="phase"
                    [scorePredictions]="scorePredictions"></app-score-predictor-match>
            </div>
        </div>
    </ng-container>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</div>