<div *ngIf="isLoading" class="py-4">
    <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoading && !teamStatistics.length && !filtersApplied" class="container py-4">
    <div class="alert alert-info">
        There is no team data available yet. Sorry!
    </div>
</div>
<div *ngIf="!isLoading && (teamStatistics.length || filtersApplied)" class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-lg-3">
            <app-team-spotlight [statistic]="teamSpotlightStatistic.Goals" [tournamentId]="tournamentId">
            </app-team-spotlight>
        </div>
        <div class="col-12 col-lg-3">
            <app-team-spotlight [statistic]="teamSpotlightStatistic.Wins" [tournamentId]="tournamentId">
            </app-team-spotlight>
        </div>
        <div class="col-12 col-lg-3">
            <app-team-spotlight [statistic]="teamSpotlightStatistic.GoalsConceded" [tournamentId]="tournamentId">
            </app-team-spotlight>
        </div>
        <div class="col-12 col-lg-3">
            <app-team-spotlight [statistic]="teamSpotlightStatistic.PassCompletion" [tournamentId]="tournamentId">
            </app-team-spotlight>
        </div>
    </div>
    <div class="card card--has-table">
        <div class="card__header card__header--has-btn">
            <h4 i18n="@@globals.teamStatistics">Team Statistics</h4>
            <!-- Result Filter -->
            <!-- Result Filter / End -->
            <ul *ngIf="!hideFilters" class="team-result-filter d-none d-md-inline float-right">
                <li class="team-result-filter__item">
                    <label class="checkbox checkbox-inline mr-2">
                        <input type="checkbox" name="includeSubstituteAppearances"
                            [(ngModel)]="filters.includeInactive"> <ng-container i18n="@@teamStatistics.includeInactive">Include Inactive</ng-container>
                        <span class="checkbox-indicator"></span>
                    </label>
                </li>             
                <li class="team-result-filter__item d-none d-lg-inline">
                    <select [(ngModel)]="filters.minimumMatches" name="minimumMatches" class="form-control" style="font-size: 11px;"
                        #minimumMatchesSelect>
                        <option [ngValue]="undefined" i18n="@@playerList.noMinimumApps">No minimum matches</option>
                        <option [ngValue]="10" i18n="@@playerList.noMinimumApps">10+ matches</option>
                        <option [ngValue]="25" i18n="@@playerList.noMinimumApps">25+ matches</option>
                        <option [ngValue]="50" i18n="@@playerList.noMinimumApps">50+ matches</option>
                        <option [ngValue]="100" i18n="@@playerList.noMinimumApps">100+ matches</option>
                        <option [ngValue]="250" i18n="@@playerList.noMinimumApps">250+ matches</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <select [(ngModel)]="filters.matchFormat" name="matchFormat" class="form-control"
                        style="font-size: 11px;" #matchFormatSelect>
                        <option [ngValue]="8">8v8</option>
                        <option [ngValue]="6">6v6</option>
                        <option [ngValue]="5">5v5</option>
                        <option [ngValue]="4">4v4</option>
                        <option [ngValue]="3">3v3</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <select [(ngModel)]="filters.teamType" name="teamType" class="form-control" style="font-size: 11px;"
                        #teamTypeSelect>
                        <option [ngValue]="undefined" i18n="@@teamTypes.allTeamTypes">All Team Types</option>
                        <option [ngValue]="teamTypes.Club" i18n="@@teamTypes.club">Club</option>
                        <option [ngValue]="teamTypes.National" i18n="@@teamTypes.national">National</option>
                        <option [ngValue]="teamTypes.Mix" i18n="@@teamTypes.mix">Mix</option>
                        <option [ngValue]="teamTypes.Draft" i18n="@@teamTypes.draft">Draft</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <select [(ngModel)]="filters.timePeriod" name="timePeriod" style="font-size: 11px;"
                        class="form-control" #timePeriodSelect>
                        <option [ngValue]="0" i18n="@@globals.allTime">All Time</option>
                        <option [ngValue]="365" i18n="@@globals.year">Year</option>
                        <option [ngValue]="31" i18n="@@globals.month">Month</option>
                        <option [ngValue]="7" i18n="@@globals.week">Week</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <button type="button" class="btn btn-secondary btn-xs card-header__button" (click)="setFilters()" i18n="@@globals.filter">
                        Filter
                    </button>
                </li>
            </ul>
        </div>
        <div class="card__content table-responsive">
            <div *ngIf="teamStatistics && !teamStatistics.length" class="alert alert-info" i18n="@@teamStatistics.noTeamDataMatched">
                No matching team data available
            </div>
            <table *ngIf="teamStatistics && teamStatistics.length"
                class="table table--large table-striped table-hover table-clickable table-inner-border table-column-hover"
                [class.widget__content--loading]="isLoadingPage">
                <thead>
                    <tr>
                        <th></th>
                        <th sorter [sortByColumn]="'TeamName'" i18n-sortByColumnName="@@globals.team" sortByColumnName="Team" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="no-left-border">
                        </th>
                        <th sorter [sortByColumn]="'Appearances'" i18n-sortByColumnName="@@globals.matches"  sortByColumnName="Matches" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'WinPercentage'" i18n-sortByColumnName="@@globals.winPercentage" sortByColumnName="Win %"  [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'Wins'" i18n-sortByColumnName="@@globals.wins" sortByColumnName="Wins"  [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'Losses'"  i18n-sortByColumnName="@@globals.losses" sortByColumnName="Losses" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'Draws'" i18n-sortByColumnName="@@globals.daws" sortByColumnName="Draws" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'GoalsAverage'" i18n-sortByColumnName="@@globals.goals" sortByColumnName="Goals" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'AssistsAverage'" i18n-sortByColumnName="@@globals.assists" sortByColumnName="Assists"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center" [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'ShotsAverage'" i18n-sortByColumnName="@@globals.shots" sortByColumnName="Shots"  [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'ShotAccuracyPercentage'" i18n-sortByColumnName="@@globals.shotAccuracy"  sortByColumnName="Shot Accuracy"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'PassesAverage'" i18n-sortByColumnName="@@globals.passes" sortByColumnName="'Passes'" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'PassCompletionPercentageAverage'"  i18n-sortByColumnName="@@globals.passCompletion" 
                            sortByColumnName="Pass Completion" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th sorter [sortByColumn]="'InterceptionsAverage'" i18n-sortByColumnName="@@globals.interceptions" sortByColumnName="Interceptions"
                            [sortByColumnName]="'Interceptions'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center" [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'OffsidesAverage'" i18n-sortByColumnName="@@globals.offsides" sortByColumnName="Offsides"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center" [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'PossessionPercentageAverage'" i18n-sortByColumnName="@@globals.possession" sortByColumnName="Possession"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'YellowCards'" i18n-sortByColumnName="@@globals.yellows"  sortByColumnName="Yellows" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'RedCards'"  i18n-sortByColumnName="@@globals.reds" sortByColumnName="Reds" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th *ngIf="!tournamentId" sorter [sortByColumn]="'Points'" i18n-sortByColumnName="@@globals.form" sortByColumnName="Form"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let statistics of teamStatistics | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }"
                        (click)="navigatetoProfile(statistics.teamId)">
                        <td class="pr-0">
                            <img *ngIf="statistics.badgeImageUrl"
                                [src]="statistics.badgeImageUrl | replace:'[[SIZE]]':'xs'"
                                class="statistics-list--team-badge">
                            <img *ngIf="!statistics.badgeImageUrl" src="./assets/images/soccer/blank-crest.png"
                                class="statistics-list--team-badge">
                        </td>
                        <td class="no-left-border" style="font-weight: 600;">{{statistics.teamName}}</td>
                        <td class="team-result__status text-center">{{statistics.appearances}}</td>
                        <td class="team-result__status text-center">{{statistics.winPercentage | percent}}</td>
                        <td class="team-result__status text-center">{{statistics.wins}}</td>
                        <td class="team-result__status text-center">{{statistics.losses}}</td>
                        <td class="team-result__status text-center">{{statistics.draws}}</td>
                        <td class="team-result__status text-center">{{statistics.goalsAverage | number : '1.2-2'}}</td>
                        <td class="team-result__status text-center">{{statistics.assistsAverage | number : '1.2-2'}}
                        </td>
                        <td class="team-result__status text-center">{{statistics.shotsAverage | number : '1.2-2' }}
                        </td>
                        <td class="team-result__status text-center">{{statistics.shotAccuracyPercentage | percent }}
                        </td>
                        <td class="team-result__status text-center">{{statistics.passesAverage | number : '1.2-2'}}</td>
                        <td class="team-result__status text-center">
                            {{statistics.passCompletionPercentageAverage | percent }}
                        </td>
                        <td class="team-result__status text-center">
                            {{statistics.interceptionsAverage | number : '1.2-2'}}</td>
                        <td class="team-result__status text-center">{{statistics.offsidesAverage | number : '1.2-2'}}
                        </td>
                        <td class="team-result__status text-center">
                            {{(statistics.possessionPercentageAverage | number : '1.2-2')  + '%' }}
                        </td>
                        <td class="team-result__status text-center">{{statistics.yellowCardsAverage | number : '1.2-2'}}
                        </td>
                        <td class="team-result__status text-center">{{statistics.redCardsAverage | number : '1.2-2'}}
                        </td>
                        <td *ngIf="!tournamentId" class="team-result__status text-center" style="min-width: 175px">
                            <app-form-indicator [form]="statistics.form"></app-form-indicator>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="totalPages > 1" class="mb-4 text-center">
        <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
    </div>
</div>
<!-- Team Latest Results / End -->