<div *ngIf="!isLoading" class="container head-to-head-container" style="background-color: #1e2024;">
    <div class="btn-group btn-change-match-type d-none d-md-block" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-xs btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
            <ng-container [ngSwitch]="matchType">
                <span *ngSwitchCase="undefined" i18n="@@globals.allMatches">All Matches</span>
                <span *ngSwitchCase="matchTypes.RankedFriendly" i18n="@@globals.friendlies">Friendlies</span>
                <span *ngSwitchCase="matchTypes.Competition" i18n="@@globals.competitive">Competitive</span>
            </ng-container>
            <span class="caret"></span>
        </button>
        <ul id="dropdown-teamtype" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item clickable" (click)="setMatchType(undefined)" i18n="@@globals.all">All</a>
            </li>
            <li role="menuitem"><a class="dropdown-item clickable" (click)="setMatchType(matchTypes.RankedFriendly)" i18n="@@globals.friendlies">Friendlies</a>
            </li>
            <li role="menuitem"><a class="dropdown-item clickable" (click)="setMatchType(matchTypes.Competition)" i18n="@@globals.competitive">Competitive</a>
            </li>
        </ul>
    </div>
    <a class="btn btn-primary btn-xs btn-change-teams d-none d-md-block" [routerLink]="['/team-head-to-head']">
        <i class="fas fa-sync mr-1"></i>
        <ng-container i18n="@@teamHeadToHead.repick">Re-pick</ng-container>
    </a>
    <div class="row">
        <div class="team-container team-container--one col-6" [class.no-data]="!teamStatisticsOne" [ngStyle]="{ 'background-image': teamOneGradient }">
            <div class="team-heading">
                <ng-container *ngIf="teamOne.badgeImage; else blankCrest">
                    <img [src]="teamOne.badgeImage.mediumUrl">
                </ng-container>
                <h5 class="team-name-heading">{{teamOne.name}}</h5>
            </div>
        </div>
        <div class="team-container team-container--two col-6" [class.no-data]="!teamStatisticsOne"  [ngStyle]="{ 'background-image': teamTwoGradient }">            
            <div class="team-heading">
                <ng-container *ngIf="teamTwo.badgeImage; else blankCrest">
                    <img [src]="teamTwo.badgeImage.mediumUrl">
                </ng-container>
                <h5 class="team-name-heading">{{teamTwo.name}}</h5>
            </div>
        </div>
    </div>
    <ng-container *ngIf="teamStatisticsOne">
        <div class="head-to-head-match-count-container">
            <span class="head-to-head-match-count">
                {{teamStatisticsOne.appearances}} {{ teamStatisticsOne.appearances > 1 ? 'Matches' : 'Match' }}
            </span>
        </div>
        <div class="head-to-head-spotlights row pt-2">
            <app-team-head-to-head-spotlight class="col-12 col-lg-4" [teamId]="teamOne.id" [oppositionTeamId]="teamTwo.id"
                [statistic]="spotlightStatistic.BiggestWin" [matchType]="matchType">
            </app-team-head-to-head-spotlight>
            <app-team-head-to-head-spotlight class="col-12 col-lg-4 d-none d-lg-block" [teamId]="teamOne.id" [oppositionTeamId]="teamTwo.id"
                [statistic]="spotlightStatistic.HighestPossession" [matchType]="matchType">
            </app-team-head-to-head-spotlight>
            <app-team-head-to-head-spotlight class="col-12 col-lg-4 d-none d-lg-block" [teamId]="teamOne.id" [oppositionTeamId]="teamTwo.id"
                [statistic]="spotlightStatistic.BestPassing" [matchType]="matchType">
            </app-team-head-to-head-spotlight>
        </div>
        <div class="head-to-head-statistics card">
            <div class="card__header">
                <h4 i18n="@@teamHeadToHead.headToHeadStatistics" class="text-center">Head To Head Statistics</h4>
            </div>
            <div class="card__content" style="max-height: 500px; overflow: auto;">
                <app-three-way-horizontal-bar-graph
                    [valueOne]="teamStatisticsOne.wins"
                    [valueTwo]="teamStatisticsOne.draws"
                    [valueThree]="teamStatisticsOne.losses"
                    [colourOne]="teamOne.color"
                    [colourTwo]="'#a7a7a7'"
                    [colourThree]="teamTwo.color"
                    i18n-title="@@globals.matchOutcomes" title="Match Outcomes"
                    [displayValueMode]="displayValueModes.Value">
                </app-three-way-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.goals"
                    [awayValue]="teamStatisticsTwo.goals"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.totalGoals" title="Total Goals"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.possessionPercentageAverage"
                    [awayValue]="teamStatisticsTwo.possessionPercentageAverage"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.averagePossession" title="Average Possession"
                    [displayValueMode]="displayValueModes.Percentage">
                </app-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.passesAverage | number:'1.0-0'"
                    [awayValue]="teamStatisticsTwo.passesAverage | number:'1.0-0'"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.averagePasses" title="Average Passes"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>  
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.passesCompletedAverage | number:'1.0-0'"
                    [awayValue]="teamStatisticsTwo.passesCompletedAverage | number:'1.0-0'"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.averagePassesCompleted" title="Average Passes Completed"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>         
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.shotsAverage | number:'1.0-0'"
                    [awayValue]="teamStatisticsTwo.shotsAverage | number:'1.0-0'"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.averageShots" title="Average Shots"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.shotsOnGoalAverage | number:'1.0-0'"
                    [awayValue]="teamStatisticsTwo.shotsOnGoalAverage | number:'1.0-0'"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.averageShotsOnTarget" title="Average Shots On Target"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.goalsAverage"
                    [awayValue]="teamStatisticsTwo.goalsAverage"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.averageGoals" title="Average Goals"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.interceptionsAverage | number:'1.0-0'"
                    [awayValue]="teamStatisticsTwo.interceptionsAverage | number:'1.0-0'"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.averageInterceptions" title="Average Interceptions"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.keeperSavesAverage"
                    [awayValue]="teamStatisticsTwo.keeperSavesAverage"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.averageKeeperSaves" title="Average Keeper Saves"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.offsidesAverage"
                    [awayValue]="teamStatisticsTwo.offsidesAverage"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.averageOffsides" title="Average Offsides"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.yellowCards"
                    [awayValue]="teamStatisticsTwo.yellowCards"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.yellowCards" title="Yellow Cards"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>
                <app-horizontal-bar-graph
                    [homeValue]="teamStatisticsOne.redCards"
                    [awayValue]="teamStatisticsTwo.redCards"
                    [homeColour]="teamOne.color"
                    [awayColour]="teamTwo.color" i18n-title="@@globals.redCards" title="Red Cards"
                    [displayValueMode]="displayValueModes.Value">
                </app-horizontal-bar-graph>
            </div>
        </div>
        <div class="head-to-head-leaderboards row">
            <app-statistics-leaderboard class="col-12 col-md-3" [teamId]="teamOne.id" [oppositionTeamId]="teamTwo.id" [statisticSortColumn]="'Appearances'"
                [statisticProperty]="'appearances'"  i18n-statisticDisplayName="@@globals.appearances"  statisticDisplayName="Appearances" [matchType]="matchType"></app-statistics-leaderboard>
            <app-statistics-leaderboard class="col-12 col-md-3" [teamId]="teamOne.id" [oppositionTeamId]="teamTwo.id"  [statisticSortColumn]="'Goals'"
                [statisticProperty]="'goals'"  i18n-statisticDisplayName="@@globals.goals"  statisticDisplayName="Goals" [matchType]="matchType"></app-statistics-leaderboard>
            <app-statistics-leaderboard class="col-12 col-md-3" [teamId]="teamOne.id" [oppositionTeamId]="teamTwo.id" [statisticSortColumn]="'Assists'"
                [statisticProperty]="'assists'"  i18n-statisticDisplayName="@@globals.assists"  statisticDisplayName="Assists" [matchType]="matchType"></app-statistics-leaderboard>
            <app-statistics-leaderboard class="col-12 col-md-3" [teamId]="teamOne.id" [oppositionTeamId]="teamTwo.id"[statisticSortColumn]="'Wins'"
                [statisticProperty]="'wins'"  i18n-statisticDisplayName="@@globals.wins"  statisticDisplayName="Wins" [matchType]="matchType"></app-statistics-leaderboard>
        </div>

        <app-team-head-to-head-results [teamId]="teamOne.id" [oppositionTeamId]="teamTwo.id" [matchType]="matchType"></app-team-head-to-head-results>
    </ng-container>
    <div *ngIf="!teamStatisticsOne && matchType === undefined" class="alert alert-info" i18n="@@teamHeadToHead.noMatchesPlayed">
        There have been no matches between these two teams
    </div>
    <div *ngIf="!teamStatisticsOne && matchType > 0 && matchType !== matchTypes.Competition" class="alert alert-info" i18n="@@teamHeadToHead.noFriendlyMatchesPlayed">
        There have been no friendly matches between these two teams
    </div>
    <div *ngIf="!teamStatisticsOne && matchType === matchTypes.Competition" class="alert alert-info" i18n="@@teamHeadToHead.noCompetitiveMatchesPlayed">
        There have been no competitive matches between these two teams
    </div>
</div>
<div *ngIf="isLoading"  class="py-5">
    <app-spinner [verticalMargins]="false"></app-spinner>
</div>

<ng-template #blankCrest>
    <img src="./assets/images/soccer/blank-crest.png"
        class="game-result__team-badge">
</ng-template>