.manual a {
    text-decoration: underline;
    color: #333;
}

.manual a:hover {
    color: #ddd;
    text-decoration: none;
}

.manual {
    display: block;
    font-size: 0.85rem;
    padding: 5rem;
    padding-top: 0.25rem;
    background-color: #fff;
    color: #535353;
    width: 75%;
    margin: 0 auto;
}

.manual h1 {
    font-size: 1.2rem;
    margin-top: 2.5rem;
    margin-left: -3rem;
}

.manual h2 {
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: -2rem;
}

.manual h3 {
    font-size: 0.85rem;
    margin-top: 1.5rem;
    margin-left: -1rem;
}