<div class="card border-primary">
  <div class="card-header" style="height: 55px;">
    <h4 class="card-title">
      <i class="fa fa-list text-muted"></i> Channels</h4>
  </div>
  <div class="card-body">
    <div *ngIf="!channels" class="text-center">
      <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
    </div>
    <div *ngIf="channels && channels.length === 0" class="alert alert-primary" role="alert">
      No channels configured yet!
    </div>
    <table *ngIf="channels && channels.length > 0" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Server</th>
          <th>Name</th>
          <th>Team Name</th>
          <th>Positions</th>
          <th>Team Color</th>
          <th>Is Mix Channel</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let channel of channels">
          <td>{{channel.guildName}}</td>
          <td>{{channel.name}}</td>
          <td>{{channel.team1.name}}</td>
          <td>
            <span *ngFor="let position of channel.positions">{{position.positionName}} </span>
          </td>
          <td>
            <div style="width: 25px; height: 25px; position: relative; border-radius: 15px;" [style.background]="channel.team1.color"></div>
          </td>
          <td>
            <i *ngIf="channel.team2.isMix" class="text-success fa fa-check"></i>
            <i *ngIf="!channel.team2.isMix" class="text-danger fa fa-times"></i>
          </td>
          <td>
            <a class="btn btn-primary btn-sm" routerLink="/channel/{{channel.id}}">
              <i class="fa fa-wrench"></i> Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      <i class="fa fa-plus text-muted"></i> Add Channel</h4>
    <form>
      <div class="form-group">
        <label>Channel</label>
        <select class="form-control" [(ngModel)]="unconfiguredChannel" name="unconfiguredChannel" [disabled]="unconfiguredChannels && unconfiguredChannels.length === 0">
          <option *ngFor="let channel of unconfiguredChannels" [ngValue]="channel">{{channel.name}} ({{channel.guildName}}) </option>
          <option *ngIf="unconfiguredChannels && unconfiguredChannels.length === 0">You have no channels available to configure</option>
        </select>
      </div>
      <div class="alert alert-primary" role="alert">
        To add a channel, you must have invited CoachBot to your Discord server, and he must have access to your channel&nbsp;
        <a class="btn btn-sm" href="https://discordapp.com/oauth2/authorize?client_id=310871748562386954&scope=bot" role="button"
          style="background-color: #7289da; text-decoration: none;">
          <img src="/assets/discord_icon.png"> Invite CoachBot</a>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success float-right" (click)="addChannel()" [disabled]="isLoading || !unconfiguredChannel">
          <i class="fa fa-check"></i> Add</button>
      </div>
    </form>
  </div>
</div>