.fantasy-spotlight-card {    
    background-color: #38a9ff;
}

.fantasy-spotlight-icon {
    font-size: 89px;
    position: absolute;
    bottom: -7px;
    right: -12px;
    overflow: hidden;
    color: #4cb2ffb8;
    z-index: 0;
}

.fantasy-spotlight-title {
    text-transform: uppercase;
    color: #ffffff73;
    font-size: 15px;
    margin-bottom: .5rem;
}

.fantasy-spotlight-name {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
}

.fantasy-spotlight-stat-container {
    color: #343a40;
    line-height: 0.8em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-right: 1.5rem;
}

.fantasy-spotlight-stat-measure {
    font-size: 9px;   
}

.fantasy-spotlight-stat-value {
    font-size: 1rem;
}

.fantasy-spotlight-card {
    overflow: hidden;
    position: relative;
}

.widget-player__ribbon {
    z-index: 1;
}
