<div *ngIf="phaseMatch && phase" class="card">
    <div class="card__header">
        <h4>{{phase.name}}
            <span class="text-muted float-right">{{phaseMatch.match.scheduledKickOff | date:'medium'}}</span>
        </h4>
    </div>
    <div class="card__content pt-1">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-center align-items-center p-2">
                <div class="py-3">
                    <img *ngIf="phaseMatch.match.teamHome.badgeImage"
                        [src]="phaseMatch.match.teamHome.badgeImage.base64EncodedImage">
                    <img *ngIf="!phaseMatch.match.teamHome.badgeImage" src="./assets/images/soccer/blank-crest.png"
                        style="max-height: 140px">
                </div>
                <div>
                    <h6>{{phaseMatch.match.teamHome.teamCode}}</h6>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center" style="flex: 0 0 50px;">
                <button class="btn btn-primary-inverse btn-block" [disabled]="isSubmitting"
                    (click)="incrementHomeGoals()">
                    <i class="fas fa-plus"></i>
                </button>
                <div class="d-flex align-items-center pt-3 justify-content-center">
                    <h5>{{scorePrediction.homeGoalsPrediction}}</h5>
                </div>
                <button class="btn btn-primary-inverse btn-block" [disabled]="isSubmitting"
                    (click)="decrementHomeGoals()">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <div class="d-flex flex-column justify-content-center text-bold">
                <H6 class="text-muted mb-0">vs</H6>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center" style="flex: 0 0 50px;">
                <div class="w-100">
                    <button class="btn btn-primary-inverse btn-block" [disabled]="isSubmitting"
                        (click)="incrementAwayGoals()">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="pt-3">
                    <h5>{{scorePrediction.awayGoalsPrediction}}</h5>
                </div>
                <div class="w-100">
                    <button class="btn btn-primary-inverse btn-block" [disabled]="isSubmitting"
                        (click)="decrementAwayGoals()">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center p-2">
                <div class="py-3">
                    <img *ngIf="phaseMatch.match.teamAway.badgeImage"
                        [src]="phaseMatch.match.teamAway.badgeImage.base64EncodedImage">
                    <img *ngIf="!phaseMatch.match.teamAway.badgeImage" src="./assets/images/soccer/blank-crest.png"
                        style="max-height: 140px">
                </div>
                <div>
                    <h6>{{phaseMatch.match.teamAway.teamCode}}</h6>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block" [disabled]="isSubmitting" (click)="submitPrediction()">
            <i *ngIf="isSubmitting" class="fas fa-circle-notch fa-spin"></i>&nbsp;
            Submit
        </button>
    </div>
</div>