<div class="py-4">
    <app-spinner *ngIf="isLoading" [verticalMargins]="false"></app-spinner>
</div>
<ng-container *ngIf="!isLoading && !accessDenied">
    <div class="container pb-3">
        <ng-container *ngFor="let stage of tournament.tournamentStages; let i = index;">
            <div class="card">
                <div class="card__header card__header--has-btn">
                    <h4> Stage {{i + 1}} ({{stage.name}}) Groups</h4>
                </div>
                <div class="card__content">
                    <div *ngFor="let group of stage.tournamentGroups">
                        <h6 class="mb-2">
                            {{group.name}}
                        </h6>
                        <label class="mt-3 d-block">Group Schedule</label>
                        <table *ngIf="group.tournamentGroupMatches; else noScheduleGenerated" class="table table-striped">
                            <thead>
                                <th>Match Date</th>
                                <th>Home Team</th>
                                <th>Away Team</th>
                                <th>Phase</th>
                                <th>Result</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let groupMatch of group.tournamentGroupMatches | orderBy: 'match.kickOff'">
                                    <td>{{groupMatch.match.kickOff | date:'EEE, MMM d y, HH:mm (zzz)'}}</td>
                                    <td>{{groupMatch.match.teamHome?.name || groupMatch.teamHomePlaceholder || 'TBC'}}</td>
                                    <td>{{groupMatch.match.teamAway?.name || groupMatch.teamAwayPlaceholder || 'TBC'}}</td>
                                    <td>{{groupMatch.tournamentPhase.name}}</td>
                                    <td>
                                        <ng-container *ngIf="groupMatch.match.matchStatistics; else noResult">
                                            {{groupMatch.match.matchStatistics.matchGoalsHome}} -
                                            {{groupMatch.match.matchStatistics.matchGoalsAway}}
                                        </ng-container>
                                        <ng-template #noResult>TBC</ng-template>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" type="button"
                                            [routerLink]="['/match-editor/', groupMatch.match.id]">
                                            Edit Match
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #noScheduleGenerated>
                            <div class="alert alert-info">The schedule has not been generated yet</div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>        
    </div>
</ng-container>
<div *ngIf="accessDenied" class="container">
    <div class="alert alert-danger">
        You must be a tournament organiser to view and edit the match list
    </div>
</div>