<div class="container py-5">
    <div class="error-404">
        <header class="error__header mb-0">
            <h2 class="error__title">Oh dear. What a bad miss.</h2>
            <h3 class="error__subtitle">It's all gone horribly wrong. An error occured, or something</h3>
        </header>
        <div class="error__description">If the issue continues to persist, please contact an administrator via
            our Discord guild, or using the contact form below.</div>
        <footer class="error__cta">
            <a href="/" class="btn btn-primary">Return to Home</a>
        </footer>
    </div>
</div>