<div class="container py-4">
    <ng-container *ngIf="!isLoading; else spinner">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="widget card widget--sidebar widget-filter-price">
                    <div class="widget__title card__header">
                        <h4>{{fantasyTeam.name}}</h4>
                    </div>
                    <div class="widget__content card__content position-relative"
                        style="min-height: 48rem; overflow: hidden;" [class.widget__content--loading]="isUpdating">
                        <div class="football-pitch">
                            <div class="outline marking"></div>
                            <div class="box left marking"></div>
                            <div class="box-d left marking"></div>
                            <div class="box left small marking"></div>
                            <div class="box right marking"></div>
                            <div class="box-d right marking"></div>
                            <div class="box right small marking"></div>
                            <div class="spot left marking"></div>
                            <div class="spot right marking"></div>
                            <div class="spot center marking"></div>
                            <div class="center-line marking"></div>
                            <div class="center-circle marking"></div>
                            <div class="corner top left marking"></div>
                            <div class="corner top right marking"></div>
                            <div class="corner bottom left marking"></div>
                            <div class="corner bottom right marking"></div>
                            <div class="grass"></div>
                        </div>
                        <div *ngIf="fantasyTeam && fantasyPlayerPerformances"
                            class="fantasy-pitch--player-container flex-column">
                            <div class="d-flex justify-content-around fantasy-pitch-player-container--row">
                                <div *ngFor="let selection of fantasyPlayerPerformances | filterByImpure:['isFlex']:false | filterByImpure:['fantasyPlayer.positionGroup']:positionGroups.Goalkeeper"
                                    class="fantasy-pitch--player">
                                    <app-fantasy-player [fantasyPlayer]="selection.fantasyPlayer"
                                        [points]="selection.points" [viewMode]="true">
                                    </app-fantasy-player>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around fantasy-pitch-player-container--row">
                                <div *ngFor="let selection of fantasyPlayerPerformances | filterByImpure:['isFlex']:false | filterByImpure:['fantasyPlayer.positionGroup']:positionGroups.Defence"
                                    class="fantasy-pitch--player">
                                    <app-fantasy-player [fantasyPlayer]="selection.fantasyPlayer"
                                        [points]="selection.points" [viewMode]="true">
                                    </app-fantasy-player>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around fantasy-pitch-player-container--row">
                                <div *ngFor="let selection of fantasyPlayerPerformances | filterByImpure:['isFlex']:false | filterByImpure:['fantasyPlayer.positionGroup']:positionGroups.Midfield"
                                    class="fantasy-pitch--player">
                                    <app-fantasy-player [fantasyPlayer]="selection.fantasyPlayer"
                                        [points]="selection.points" [viewMode]="true">
                                    </app-fantasy-player>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around fantasy-pitch-player-container--row">
                                <div *ngFor="let selection of fantasyPlayerPerformances | filterByImpure:['isFlex']:false | filterByImpure:['fantasyPlayer.positionGroup']:positionGroups.Attack"
                                    class="fantasy-pitch--player">
                                    <app-fantasy-player [fantasyPlayer]="selection.fantasyPlayer"
                                        [points]="selection.points" [viewMode]="true">
                                    </app-fantasy-player>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around fantasy-pitch-player-container--row">
                                <div *ngFor="let selection of fantasyPlayerPerformances | filterByImpure:['isFlex']:true"
                                    class="fantasy-pitch--player">
                                    <app-fantasy-player [fantasyPlayer]="selection.fantasyPlayer"
                                        [points]="selection.points" [isFlex]="true" [viewMode]="true">
                                    </app-fantasy-player>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card__header">
                        <h4>Team Info</h4>
                    </div>
                    <div class="card__content">
                        <label class="mb-0">Player</label>
                        <a class="d-block"
                            [routerLink]="['/player-profile/', fantasyTeam.playerId]">{{fantasyTeam.player.name}}</a>
                        <label class="mb-0">Overall Points</label>
                        <div>{{fantasyTeamRanking ? fantasyTeamRanking.points : 'N/A'}}</div>
                        <label class="mb-0">Rank</label>
                        <div>{{fantasyTeamRanking ? fantasyTeamRanking.rank : 'N/A'}}</div>
                        <label class="mb-0">Tournament</label>
                        <div>{{fantasyTeam.tournament.name}}</div>
                        <label class="mb-0">Created</label>
                        <div>{{fantasyTeam.createdDate | date }}</div>
                    </div>
                </div>
                <a type="button" class="btn btn-primary btn-block"
                    [routerLink]="['/fantasy/', fantasyTeam.tournamentId]">Leaderboard</a>
            </div>
        </div>
    </ng-container>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</div>