<div *ngIf="isLoading" class="py-4">
    <app-spinner></app-spinner>
</div>
<div *ngIf="!isLoading && !playerStatistics.length && !filtersApplied" class="container py-4">
    <div class="alert alert-info" i18n="@@playerStatistics.noDataAvailable">
        No player data available yet. Come back later! Please.
    </div>
</div>
<div *ngIf="!isLoading && (playerStatistics.length || filtersApplied)" class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-lg-3">
            <app-player-spotlight [statistic]="playerSpotlightStatistic.Goals" [tournamentId]="tournamentId">
            </app-player-spotlight>
        </div>
        <div class="col-12 col-lg-3">
            <app-player-spotlight [statistic]="playerSpotlightStatistic.Assists" [tournamentId]="tournamentId">
            </app-player-spotlight>
        </div>
        <div class="col-12 col-lg-3">
            <app-player-spotlight [statistic]="playerSpotlightStatistic.GoalsConceded" [tournamentId]="tournamentId">
            </app-player-spotlight>
        </div>
        <div class="col-12 col-lg-3">
            <app-player-spotlight [statistic]="playerSpotlightStatistic.PassCompletion" [tournamentId]="tournamentId">
            </app-player-spotlight>
        </div>
    </div>
    <div class="card card--has-table">
        <div class="card__header card__header--has-btn" style="overflow: visible">
            <h4 i18n="@@globals.playerStatistics">Player Statistics</h4>
            <div class="btn-group btn-group-xs ml-2" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-xs btn-light dropdown-toggle"
                    aria-controls="dropdown-basic" style="top: -3px;">
                    <ng-container [ngSwitch]="currentPlayerStat">
                        <span *ngSwitchCase="playerStatType.General"  i18n="@@globals.generalStats">General Stats</span>
                        <span *ngSwitchCase="playerStatType.Goalkeeping"  i18n="@@globals.goalkeepingStats">Goalkeeping Stats</span>
                        <span *ngSwitchCase="playerStatType.Defensive"  i18n="@@globals.defendingStats">Defending Stats</span>
                        <span *ngSwitchCase="playerStatType.Attacking"  i18n="@@globals.attackingStats">Attacking Stats</span>
                    </ng-container>
                    <span class="caret"></span>
                </button>
                <ul id="dropdown-teamtype" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-basic">
                    <li role="menuitem">
                        <a class="dropdown-item clickable" (click)="currentPlayerStat = playerStatType.General"  i18n="@@globals.generalStats">General
                            Stats</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item clickable"
                            (click)="currentPlayerStat = playerStatType.Goalkeeping" i18n="@@globals.goalkeepingStats">Goalkeeping Stats</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item clickable"
                            (click)="currentPlayerStat = playerStatType.Defensive" i18n="@@globals.defendingStats">Defending Stats</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item clickable"
                            (click)="currentPlayerStat = playerStatType.Attacking"i18n="@@globals.attackingStats">Attacking Stats</a>
                    </li>
                </ul>
            </div>
            <ul *ngIf="!hideFilters" class="team-result-filter d-none d-xl-inline float-right">
                <!--<li class="team-result-filter__item">
                    <label class="checkbox checkbox-inline mr-2">
                        <input [(ngModel)]="filters.includeSubstituteAppearances" type="checkbox"
                            name="includeSubstituteAppearances"> Sub Appearances
                        <span class="checkbox-indicator"></span>
                    </label>
                </li>-->
                <li class="team-result-filter__item">
                    <label class="checkbox checkbox-inline mr-2" for="includePartialAppearances">
                        <input [(ngModel)]="includePartialAppearances" type="checkbox" id="includePartialAppearances"
                            name="includePartialAppearances" (ngModelChange)="setIncludePartialAppearances()">
                        <ng-container i18n="@@globals.includePartialApps">Include Partial Apps</ng-container>
                        <span class="checkbox-indicator"></span>
                    </label>
                </li>
                <li class="team-result-filter__item">
                    <select [(ngModel)]="filters.matchFormat" name="matchFormat" class="form-control"
                        #matchFormatSelect>
                        <option [ngValue]="8">8v8</option>
                        <option [ngValue]="6">6v6</option>
                        <option [ngValue]="5">5v5</option>
                        <option [ngValue]="4">4v4</option>
                        <option [ngValue]="3">3v3</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <select [(ngModel)]="filters.teamId" name="position" class="form-control" style="text-align-last: center;
                    text-align: center; max-width: 95px;" #teamSelect>
                        <option [ngValue]="undefined" i18n="@@globals.allTeams">All Teams</option>
                        <option *ngFor="let team of teams" [ngValue]="team.id">{{team.name}}</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <select [(ngModel)]="filters.positionName" name="position" class="form-control" style="text-align-last: center;
                    text-align: center;" #positionSelect>
                        <option [ngValue]="undefined" i18n="@@globals.allPositions">All Positions</option>
                        <option *ngFor="let position of positions" [ngValue]="position">{{position}}</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <select [(ngModel)]="filters.timePeriod" name="timePeriod" class="form-control" #timePeriodSelect>
                        <option [ngValue]="0"i18n="@@globals.allTime">All Time</option>
                        <option [ngValue]="365" i18n="@@globals.year">Year</option>
                        <option [ngValue]="31" i18n="@@globals.month">Month</option>
                        <option [ngValue]="7" i18n="@@globals.week">Week</option>
                    </select>
                </li>
                <li class="team-result-filter__item">
                    <input type="text" class="form-control input-xs" i18n-placeholder="@@playerStatistics.filterByName" placeholder="Filter By Player Name"
                        [(ngModel)]="filters.playerName">
                </li>
                <li class="team-result-filter__item">
                    <button type="button" class="btn btn-secondary btn-xs card-header__button" (click)="setFilters()" i18n="@@globals.filter">
                        Filter
                    </button>
                </li>
            </ul>
        </div>
        <div class="card__content table-responsive">
            <app-spinner *ngIf="isLoading"></app-spinner>
            <div *ngIf="!isLoading && !playerStatistics.length" class="m-3 alert alert-info" i18n="@@playerStatistics.noMatchingData">
                No matching player data available
            </div>
            <table *ngIf="!isLoading && playerStatistics.length"
                class="table table--large table-striped table-hover table-clickable table-inner-border table-column-hover"
                [class.widget__content--loading]="isLoadingPage">
                <thead>
                    <tr>
                        <th class="team-result__vs" style="width: 40px;"></th>
                        <th sorter [sortByColumn]="'Name'" i18n-sortByColumnName="@@globals.name" sortByColumnName="Name" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="no-left-border"></th>
                        <th class="text-center" i18n="@@globals.nationality">Nationality</th>
                        <th sorter [sortByColumn]="'Rating'" i18n-sortByColumnName="@@globals.rating" sortByColumnName="Rating" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th sorter [sortByColumn]="'Appearances'" i18n-sortByColumnName="@@globals.appearancesShort" sortByColumnName="Apps"  [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" title="Appearances"
                            class="text-center"></th>
                        <th sorter [sortByColumn]="'SubstituteAppearances'" i18n-sortByColumnName="@@globals.asSubShort" sortByColumnName="As Sub"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            title="Appearances As Substitute" class="text-center">
                        </th>
                        <th sorter [sortByColumn]="'Wins'" i18n-sortByColumnName="@@globals.wins" sortByColumnName="Wins" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th sorter [sortByColumn]="'Losses'" i18n-sortByColumnName="@@globals.losses" sortByColumnName="Losses" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th sorter [sortByColumn]="'Draws'" i18n-sortByColumnName="@@globals.draws" sortByColumnName="Draws" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            sorter [sortByColumn]="'Goals'"i18n-sortByColumnName="@@globals.goals" sortByColumnName="Goals" [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            sorter [sortByColumn]="'GoalsAverage'" i18n-sortByColumnName="@@globals.goals" sortByColumnName="Goals"   [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Attacking" sorter
                            [sortByColumn]="'ShotsAverage'" i18n-sortByColumnName="@@globals.shots" sortByColumnName="Shots"   [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Attacking" sorter
                            [sortByColumn]="'ShotConversionPercentage'" i18n-sortByColumnName="@@globals.shotConversion" sortByColumnName="Shot Conversion" 
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center">
                        </th>
                        <th *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            sorter [sortByColumn]="'ShotAccuracyPercentage'" i18n-sortByColumnName="@@globals.shotAccuracy" sortByColumnName="Shot Accuracy" 
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center">
                        </th>
                        <!-- Shots Per Goal ? -->
                        <th *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            sorter [sortByColumn]="'Assists'" i18n-sortByColumnName="@@globals.assists" sortByColumnName="Assists"  [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            sorter [sortByColumn]="'AssistsAverage'" i18n-sortByColumnName="@@globals.assists" sortByColumnName="Assists"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center" [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'PassesAverage'" i18n-sortByColumnName="@@globals.passes" sortByColumnName="Passes"  [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th sorter [sortByColumn]="'PassCompletionPercentageAverage'" i18n-sortByColumnName="@@globals.passCompletion" sortByColumnName="Pass Completion"
                           [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th *ngIf="currentPlayerStat !== playerStatType.Attacking" sorter
                            [sortByColumn]="'PossessionPercentageAverage'"  i18n-sortByColumnName="@@globals.possession" sortByColumnName="Possession" 
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center"></th>
                        <th *ngIf="currentPlayerStat !== playerStatType.Attacking" sorter [sortByColumn]="'YellowCards'" i18n-sortByColumnName="@@globals.yellows" sortByColumnName="Yellows"  [currentSort]="sortBy"
                            [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th *ngIf="currentPlayerStat !== playerStatType.Attacking" sorter [sortByColumn]="'RedCards'"
                            i18n-sortByColumnName="@@globals.reds" sortByColumnName="Reds"  [currentSort]="sortBy" [currentOrder]="sortOrder"
                            (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                        <th *ngIf="currentPlayerStat === playerStatType.Defensive" sorter
                            [sortByColumn]="'InterceptionsAverage'" i18n-sortByColumnName="@@globals.interceptions" sortByColumnName="Interceptions"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center" [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Defensive" sorter
                            [sortByColumn]="'FoulsAverage'" i18n-sortByColumnName="@@globals.fouls" sortByColumnName="Fouls"  [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Defensive" sorter
                            [sortByColumn]="'SlidingTacklesCompletedAverage'"  i18n-sortByColumnName="@@globals.slidingTacklesComplete" sortByColumnName="Sliding Tackles Complete" [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Defensive" sorter
                            [sortByColumn]="'OwnGoalsAverage'" i18n-sortByColumnName="@@globals.ownGoals" sortByColumnName="Own Goals"  [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Goalkeeping" sorter
                            [sortByColumn]="'KeeperSavesAverage'"  i18n-sortByColumnName="@@globals.saves" sortByColumnName="Saves"  [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Goalkeeping" sorter
                            [sortByColumn]="'KeeperSavePercentage'" i18n-sortByColumnName="@@globals.saveRate" sortByColumnName="Save Rate" 
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Goalkeeping" sorter
                            [sortByColumn]="'KeeperSavesCaughtAverage'"  i18n-sortByColumnName="@@globals.savesCaught" sortByColumnName="Saves Caught" 
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center" [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Goalkeeping || currentPlayerStat === playerStatType.Defensive"
                            sorter [sortByColumn]="'GoalsConcededAverage'" i18n-sortByColumnName="@@globals.goalsConceded" sortByColumnName="Goals Conceded" 
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center" [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Attacking" sorter 
                            [sortByColumn]="'OffsidesAverage'" i18n-sortByColumnName="@@globals.offsides" sortByColumnName="Offsides"   [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.Attacking" sorter
                            [sortByColumn]="'PenaltiesAverage'" i18n-sortByColumnName="@@globals.penalties" sortByColumnName="Penalties"  [currentSort]="sortBy"
                            [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center"
                            [average]="true">
                        </th>
                        <th *ngIf="currentPlayerStat === playerStatType.General" sorter
                            [sortByColumn]="'DistanceCoveredAverage'"  i18n-sortByColumnName="@@globals.distance" sortByColumnName="Distance"
                            [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                            class="text-center" [average]="true">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let statistics of playerStatistics | paginate: { itemsPerPage: PAGE_SIZE, currentPage: currentPage, totalItems: totalItems }; let odd = odd"
                        (click)="navigateToProfile(statistics.playerId)">
                        <td class="py-0 px-2" style="vertical-align: middle;">
                            <a *ngIf="statistics.steamUserProfile; else avatarSkeleton"
                                [attr.href]="statistics.steamUserProfile.profileurl">
                                <img [attr.src]="statistics.steamUserProfile.avatar"
                                    style="height: 16px; width: 16px; max-width: unset;">
                            </a>
                            <ng-template #avatarSkeleton>
                                <ngx-skeleton-loader class="mt-2" [animation]="odd ? 'progress' : 'progress-dark'"
                                    appearance="circle"
                                    [theme]="{ 'border-radius': '2px', 'height': '16px', 'width': '16px' }">
                                </ngx-skeleton-loader>
                            </ng-template>
                        </td>
                        <td class="no-left-border player-name">{{statistics.name}}</td>
                        <td class="team-result__ball-posession text-center text-center py-0 px-2"
                            style="vertical-align: middle;">
                            <ng-container *ngIf="statistics.steamUserProfile; else flagSkeleton">
                                <i  *ngIf="statistics.steamUserProfile.loccountrycode; else unknownFlag" class="flag-icon" 
                                    [ngClass]="'flag-icon-' + statistics.steamUserProfile.loccountrycode.toLowerCase()" [attr.title]="statistics.steamUserProfile.loccountrycode.toUpperCase()"></i>
                                <ng-template #unknownFlag><i class="fas fa-question"></i></ng-template>
                            </ng-container>
                            <ng-template #flagSkeleton>
                                <ngx-skeleton-loader class="mt-2" [animation]="odd ? 'progress' : 'progress-dark'"
                                    appearance="circle"
                                    [theme]="{ 'border-radius': '5px', 'height': '22px', 'width': '24px' }">
                                </ngx-skeleton-loader>
                            </ng-template>
                        </td>
                        <td class="team-result__status text-center">
                            <ng-container *ngIf="statistics.rating > 0; else notRated">
                                {{statistics.rating | number : '1.1-1'}}
                            </ng-container>
                            <ng-template #notRated>
                                N/A
                            </ng-template>
                        </td>
                        <td class="team-result__status text-center">{{statistics.appearances}}</td>
                        <td class="team-result__status text-center">{{statistics.substituteAppearances}}</td>
                        <td class="team-result__status text-center">{{statistics.wins}}</td>
                        <td class="team-result__status text-center">{{statistics.losses}}</td>
                        <td class="team-result__status text-center">{{statistics.draws}}</td>
                        <td *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            class="team-result__status text-center">{{statistics.goals}}</td>
                        <td *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            class="team-result__status text-center">
                            {{statistics.goalsAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Attacking" class="text-center">
                            {{statistics.shotsAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Attacking" class="text-center">
                            {{statistics.shotConversionPercentage | percent}}</td>
                        <td *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            class="team-result__status text-center">
                            {{statistics.shotAccuracyPercentage | percent: '1.2-2' }}
                        </td>
                        <td *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            class="team-result__status text-center">{{statistics.assists}}</td>
                        <td *ngIf="currentPlayerStat !== playerStatType.Goalkeeping && currentPlayerStat !== playerStatType.Defensive"
                            class="team-result__status text-center">{{statistics.assistsAverage | number : '1.2-2'}}
                        </td>
                        <td class="team-result__status text-center">{{statistics.passesAverage | number : '1.2-2'}}</td>
                        <td class="team-result__status text-center">
                            {{statistics.passCompletionPercentageAverage | percent: '1.2-2' }}
                        </td>
                        <td *ngIf="currentPlayerStat !== playerStatType.Attacking"
                            class="team-result__status text-center">
                            {{(statistics.possessionPercentageAverage | number : '1.2-2') + '%' }}
                        </td>
                        <td *ngIf="currentPlayerStat !== playerStatType.Attacking"
                            class="team-result__status text-center">{{statistics.yellowCards}}</td>
                        <td *ngIf="currentPlayerStat !== playerStatType.Attacking"
                            class="team-result__status text-center">{{statistics.redCards}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Defensive" class="text-center">
                            {{statistics.interceptionsAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Defensive" class="text-center">
                            {{statistics.foulsAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Defensive" class="text-center">
                            {{statistics.slidingTacklesCompletedAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Defensive" class="text-center">
                            {{statistics.ownGoalsAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Goalkeeping" class="text-center">
                            {{statistics.keeperSavesAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Goalkeeping" class="text-center">
                            {{statistics.keeperSavePercentage | percent: '1.2-2'}}
                        </td>
                        <td *ngIf="currentPlayerStat === playerStatType.Goalkeeping" class="text-center">
                            {{statistics.keeperSavesCaughtAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Goalkeeping || currentPlayerStat === playerStatType.Defensive"
                            class="text-center">
                            {{statistics.goalsConcededAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Attacking" class="text-center">
                            {{statistics.offsidesAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.Attacking" class="text-center">
                            {{statistics.penaltiesAverage | number : '1.2-2'}}</td>
                        <td *ngIf="currentPlayerStat === playerStatType.General"
                            class="team-result__status text-center">
                            {{(statistics.distanceCoveredAverage / 1000) | number : '1.2-2'}}km</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="!isLoading && totalPages > 1" class="text-center mb-4">
        <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
    </div>
</div>