<div class="card statistic-spotlight-card" [class.statistic-spotlight-winner]="hasTournamentFinished"
    (click)="spotlightTeam && navigateToFantasyTeam(spotlightTeam.fantasyTeamId)">
    <div class="card__content  widget-player--soccer">
        <h4 class="statistic-spotlight-title mb-2">
            Team of the
            <ng-container *ngIf="!hasTournamentFinished">Round</ng-container>
            <ng-container *ngIf="hasTournamentFinished">Tournament</ng-container>
        </h4>
        <ng-container *ngIf="!isLoading; else spinner">
            <div class="widget-player__ribbon">
                <div class="fa fa-star"></div>
            </div>
            <h4 class="statistic-spotlight-name">{{spotlightTeam ? spotlightTeam.fantasyTeamName : 'TBC'}}
            </h4>
            <i class="statistic-spotlight-icon icon-svg icon-trophy"></i>
            <div *ngIf="spotlightTeam" class="d-flex">
                <div class="statistic-spotlight-stat-container">
                    <div class="statistic-spotlight-stat-value">
                        {{spotlightTeam.points}}
                    </div>
                    <div class="statistic-spotlight-stat-measure">
                        Points
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #spinner>
            <app-spinner [verticalMargins]="false"></app-spinner>
        </ng-template>
    </div>
</div>