<!-- Add some code kind of team coloured gradients as background colour -->
<app-spinner *ngIf="isLoading"></app-spinner>
<ng-container *ngIf="!isLoading">
    <div class="player-heading" [ngStyle]="{ 'background-image': generateGradient(team.color) }">
        <div class="container">
            <div class="player-info__title player-info__title--mobile">
                <h1 class="player-info__name"><span class="player-info__first-name">{{team.name}}</span></h1>
            </div>
            <div class="player-info d-flex justify-content-between align-items-center px-2">
                <div class="player-info__item player-info__item--details" aria-hidden="false">
                    <div class="player-info__title player-info__title--desktop">
                        <h1 class="player-info__name">
                            <span class="player-info__first-name">{{team.name}}</span>
                        </h1>
                    </div>
                    <div class="player-info-details mb-2">
                        <div class="player-info-details__item player-info-details__item--height">
                            <h6 class="player-info-details__title">Team Code</h6>
                            <div class="player-info-details__value">{{team.teamCode}}</div>
                        </div>
                        <div class="player-info-details__item player-info-details__item--height">
                            <h6 class="player-info-details__title">Region</h6>
                            <div class="player-info-details__value">{{team.region.regionName}}</div>
                        </div>
                        <div class="player-info-details__item player-info-details__item--height">
                            <h6 class="player-info-details__title">Founded</h6>
                            <div class="player-info-details__value">
                                <ng-container *ngIf="team.foundedDate; else noFoundedDate">
                                    {{team.foundedDate | date}}
                                </ng-container>
                                <ng-template #noFoundedDate>
                                    Unknown
                                </ng-template>
                            </div>
                        </div>
                        <div class="player-info-details__item player-info-details__item--height"
                            style="flex-basis: 50%;">
                            <h6 class="player-info-details__title">Form</h6>
                            <div class="player-info-details__value my-2">
                                <app-form-indicator [form]="team.form"></app-form-indicator>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block">
                    <img *ngIf="team.badgeImage" [src]="team.badgeImage.base64EncodedImage" style="max-height: 150px;">
                    <img *ngIf="!team.badgeImage" src="./assets/images/soccer/blank-crest.png"
                        style="max-height: 150px;">
                </div>
            </div>
        </div>
        <nav class="content-filter">
            <div class="container">
                <a href="javascript:void(0);" (click)="tabNav.toggle()" class="content-filter__toggle"></a>
                <ul class="content-filter__list" appTabNavMobile #tabNav>
                    <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                        <a [routerLink]="['./statistics']" class="content-filter__link">
                            Statistics
                        </a>
                    </li>
                    <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                        <a [routerLink]="['./matches']" class="content-filter__link">
                            Results
                        </a>
                    </li>
                    <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                        <a [routerLink]="['./squad']" class="content-filter__link">
                            Squad
                        </a>
                    </li>
                    <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                        <a [routerLink]="['./player-history']" class="content-filter__link">
                            Player History
                        </a>
                    </li>
                    <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                        <a [routerLink]="['./tournaments']" class="content-filter__link">
                            Tournaments
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="py-4">
        <router-outlet></router-outlet>
    </div>
</ng-container>