<div class="card">
    <div class="card__header card__header--has-btn">
        <h4>Bot Connection State</h4>
        <div class="float-right">
            <button class="btn btn-xs btn-danger mx-1" [disabled]="isReconnecting" (click)="disconnectBot()"
                title="Disconnect">
                Disconnect
            </button>
            <button class="btn btn-xs  btn-success mx-1" [disabled]="isReconnecting" (click)="connectBot()"
                title="Connect">
                Connect
            </button>
            <button class="btn btn-xs  btn-warning mx-1" [disabled]="isReconnecting" (click)="reconnectBot()"
                title="Reconnect">
                Reconnect
            </button>
            <button class="btn btn-xs btn-secondary" (click)="refreshBotState()" [disabled]="isRefreshing">
                Refresh
            </button>
        </div>
    </div>
    <div class="card__content">
        <div *ngIf="!isLoading; else spinner" class="row">
            <div class="form-group col-md-6">
                <label>Connection Status</label>
                <input type="text" readonly class="form-control" [(ngModel)]="botState.connectionStatus"
                    name="connectionStatus">
            </div>
            <div class="form-group col-md-6">
                <label>Login Status</label>
                <input type="text" readonly class="form-control" [(ngModel)]="botState.loginStatus" name="loginStatus">
            </div>
        </div>
        <ng-template #spinner>
            <app-spinner></app-spinner>
        </ng-template>
    </div>
</div>