.fantasy-player.fantasy-player-deletable:hover {
    opacity: 0.75;
    cursor: pointer;
}

.fantasy-player.fantasy-player-deletable:hover + .fantasy-hover-icon {
    visibility: visible;
}

.fantasy-player.fantasy-player-deletable + .fantasy-hover-icon {
    visibility: hidden;
}

.fantasy-player-name {
    color: white;
    font-size: 11px;
    width: 134px;
    height: 22px;
    background: #124364;
    font-family: 'Montserrat';
    line-height: 23px;
    font-weight: 500;
    box-shadow: #00000040 1px 1px 10px 1px;
    z-index: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fantasy-player-detail {
    width: 134px;
    height: 19px;
    color: black;
    background: #ffffffe3;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 11px !important;
    line-height: 19px;
    box-shadow: #00000040 1px 1px 10px 1px;
    font-size: 11px;
}

.fantasy-player-badge {
    max-height: 12px;
    top: 27px;
    position: absolute;
    left: 50px;
    opacity: 0.75;
    border: 1px solid rgba(0, 0, 0, 0);
} 

.fantasy-player-position-group {
    width: 29px;
    height: 20px;
    background: black;
    float: right;
    text-align: right;
    margin-left: 106px;
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 3px;
    position: absolute;
    right: -26px;
    text-align: center;
}

.fantasy-kit-container {
    width: 80px;
    height: 80px;
    position: relative
}