<div class="container py-4">
    <ng-container *ngIf="organisations && !isLoading; else spinner">
        <div class="alert alert-info" *ngIf="!organisations || !organisations.length">
            There are no organisations yet. Create one below.
        </div>
        <div *ngIf="organisations && organisations.length" class="card card--has-table">
            <div class="card__header card__header--has-btn">
                <h4>Organisations</h4>
                <a [routerLink]="['/tournament-creator']" class="btn btn-xs btn-secondary float-right">
                    Back to Tournament Series
                </a>
            </div>
            <div class="card__content">
                <table class="table table-striped table-clickable table-hover">
                    <thead>
                        <th>Name</th>
                        <th>Acronym</th>
                        <th>Created Date</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let organisation of organisations" (click)="editOrganisation(organisation.id)">
                            <td>{{organisation.name}}</td>
                            <td>{{organisation.acronym}}</td>
                            <td>{{organisation.createdDate | date}}</td>
                            <td class=" text-center">
                                <button type="button" class="btn btn-xs btn-primary"
                                    (click)="editOrganisation(organisation.id)">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card__header">
                <h4>Create Organisation</h4>
            </div>
            <div class="card__content">
                <form (ngSubmit)="createOrganisation()" #organisationForm="ngForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input [(ngModel)]="organisation.name" name="organisationName" type="text"
                            placeholder="e.g. International Online Soccer Federation" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Acronym</label>
                        <input [(ngModel)]="organisation.acronym" name="organisationAcronym" type="text"
                            placeholder="e.g. IOSF" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="teamBadge">Organisation Logo</label>
                        <app-asset-image-uploader (imageUploaded)="updateLogoImageId($event)"
                            [currentAssetImageId]="organisation.logoImageId">
                        </app-asset-image-uploader>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="orgColour">Organisation Colour</label>
                        <div class="clickable"
                            style="width: 100%; height: 50px; border-radius: 2px; border: 1px #dedede solid"
                            [style.background-color]="organisation.brandColour"
                            (click)="colourPicker.showColorPicker()">
                        </div>
                        <app-chrome-colour-picker [color]="organisation.brandColour || '#ffffff'"
                            (colorChange)="organisation.brandColour = $event" #colourPicker>
                        </app-chrome-colour-picker>
                    </div>
                    <button class="btn btn-primary" type="submit"
                        [disabled]="isCreating || !organisationForm.valid">Create</button>
                </form>
            </div>
        </div>
    </ng-container>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</div>