<div class="ios-hero__item" style="background-image: url('./assets/images/iosoccer/screenshots/1_compressed.jpg');">
    <div class="ios-hero__item--download">
        <div>
            <iframe class="ios-hero__item--video"
                src="https://www.youtube.com/embed/QytPy2o351k?modestbranding=1&controls=0&showinfo=0&autoplay=1"
                allow="autoplay; encrypted-media" allowfullscreen=""></iframe>

        </div>
    </div>
</div>
<div class="ios-hero__item ios-hero__item--inverse ios-hero__item--video-container"
    style="background-image: url('./assets/images/iosoccer/screenshots/3_compressed.jpg');">
    <div class="">
        <h5>Available For Free On Steam</h5>
        <iframe class="ios-hero__item--steam-widget" src="https://store.steampowered.com/widget/673560/"
            frameborder="0"></iframe>
    </div>
</div>
<div class="ios-hero__item ios-hero__item--feature"
    style="background-image: url('./assets/images/iosoccer/screenshots/8_compressed.jpg');">
    <h5>
        100% free<small class="d-block">
            No microtransactions or any other hidden costs.</small></h5>

</div>

<div class="ios-hero__item ios-hero__item--feature ios-hero__item--inverse"
    style="background-image: url('./assets/images/iosoccer/screenshots/4_compressed.jpg');">
    <h5>Competitive matches
        <small class="d-block">Participate with your club, national team or mix team in leagues and cups organized by
            the community.</small>
    </h5>
</div>

<div class="ios-hero__item ios-hero__item--feature"
    style="background-image: url('./assets/images/iosoccer/screenshots/6_compressed.jpg');">
    <h5>
        Player customization
        <small class="d-block">Set your shirt name, pick your shirt number and choose your ethnicity, hair style, shoes,
            keeper gloves, ball, and sleeve length.</small>
    </h5>
</div>

<div class="ios-hero__item ios-hero__item--inverse ios-hero__item--feature"
    style="background-image: url('./assets/images/iosoccer/screenshots/5_compressed.jpg');">
    <h5>Unparalleled freedom<small class="d-block">The combination
            of a third-person camera together with mouse and keyboard input gives you full control over your dribbling,
            shooting, and passing.</small>
    </h5>
</div>

<div class="ios-hero__item ios-hero__item--feature"
    style="background-image: url('./assets/images/iosoccer/screenshots/7_compressed.jpg');">
    <h5>Flexible team sizes
        <small class="d-block">Whether you prefer 4v4 street games or our standard 8v8 matchups, we support everything
            from 1 to 11 players per side.</small>
    </h5>

</div>


<div class="ios-hero__item ios-hero__item--inverse ios-hero__item--feature"
    style="background-image: url('./assets/images/iosoccer/screenshots/10_compressed.jpg');">
    <h5 style>
        Goal celebrations
        <small class="d-block">Choreograph your team's goal celebrations with various animations.</small></h5>

</div>


<div class="ios-hero__item ios-hero__item--feature"
    style="background-image: url('./assets/images/iosoccer/screenshots/9_compressed.jpg');">

    <h5>
        Custom assets
        <small class="d-block">
            Make your own maps, team kits, balls, shoes, and keeper gloves.</small>
    </h5>
</div>
<div class="ios-hero__item ios-hero__item--inverse ios-hero__item--feature"
    style="background-image: url('./assets/images/iosoccer/screenshots/2_compressed.jpg');">
    <h5 style>
        Skill moves
        <small class="d-block">Show your mastery of the game with bicycle kicks, diving headers, ball flicks, and
            precision dribbling.</small></h5>

</div>