<div class="container">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div *ngIf="!isLoading && (!playerStatistics)" class="alert alert-info">
        Hold tight! This player has not played in matches yet
    </div>
    <div *ngIf="!isLoading && playerStatistics" class="row">
        <app-player-profile-spotlight class="col-12 col-md-4" [playerId]="playerId"
            [statistic]="spotlightStatistic.MostGoals">
        </app-player-profile-spotlight>
        <app-player-profile-spotlight class="col-12 col-md-4" [playerId]="playerId"
            [statistic]="spotlightStatistic.MostAssists">
        </app-player-profile-spotlight>
        <app-player-profile-spotlight class="col-12 col-md-4" [playerId]="playerId"
            [statistic]="spotlightStatistic.MostCompletedPasses">
        </app-player-profile-spotlight>
        <div class="col-12">
            <app-player-profile-activity-heatmap [playerId]="playerId"></app-player-profile-activity-heatmap>
            <app-player-performance-tracker [playerId]="playerId"></app-player-performance-tracker>
        </div>

        <div class="col-12 col-md-4">
            <div class="card card--has-table">
                <div class="card__header">
                    <h4>General</h4>
                </div>
                <div class="card__content">
                    <div class="player-profile-statistics__statistic-box">
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Appearances</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.appearances}}</div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">As Substitute</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.substituteAppearances}}</div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Wins</div>
                            <div class="player-profile-statistics__statistic-box__item-value">{{playerStatistics.wins}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Draws</div>
                            <div class="player-profile-statistics__statistic-box__item-value">{{playerStatistics.draws}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Losses</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.losses}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card card--has-table">
                <div class="card__header">
                    <h4>Teamplay</h4>
                </div>
                <div class="card__content">
                    <div class="player-profile-statistics__statistic-box">
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Assists</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.assists}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Assists (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.assistsAverage | number : '1.2-2'}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Passes</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.passes}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Passes (Average)</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.passesAverage | number : '1.2-2'}}</div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Passes Completed</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.passesCompleted}}</div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Passes Completed
                                (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.passesCompletedAverage | number : '1.2-2'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card card--has-table">
                <div class="card__header">
                    <h4>Discipline</h4>
                </div>
                <div class="card__content">
                    <div class="player-profile-statistics__statistic-box">
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Fouls</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.fouls}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Fouls (Average)</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.foulsAverage | number : '1.2-2'}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Yellow Cards</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.yellowCards}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Yellow Cards (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.yellowCardsAverage | number : '1.2-2'}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Red Cards</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.redCards}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Red Cards (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.redCardsAverage | number : '1.2-2'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card card--has-table">
                <div class="card__header">
                    <h4>Goalkeeping</h4>
                </div>
                <div class="card__content">
                    <div class="player-profile-statistics__statistic-box">
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Saves</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.keeperSaves}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Saves (Average)</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.keeperSavesAverage | number : '1.2-2'}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Catches (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.keeperSavesCaughtAverage | number : '1.2-2'}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Goal Kicks</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.goalKicksAverage}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card card--has-table">
                <div class="card__header">
                    <h4>Defending</h4>
                </div>
                <div class="card__content">
                    <div class="player-profile-statistics__statistic-box">
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Goals Conceded</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.goalsConceded}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Goals Conceded
                                (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.goalsConcededAverage | number : '1.2-2'}}
                            </div>
                        </div>

                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Interceptions</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.interceptions}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Interceptions
                                (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.interceptionsAverage | number : '1.2-2'}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Sliding Tackles
                                (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.slidingTacklesAverage | number : '1.2-2'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card card--has-table">
                <div class="card__header">
                    <h4>Attacking</h4>
                </div>
                <div class="card__content">
                    <div class="player-profile-statistics__statistic-box">
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Goals</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.goals}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Goals (Average)</div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.goalsAverage | number : '1.2-2'}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Shots
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.shots}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Shots (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.shotsAverage | number : '1.2-2'}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Shots On Goal
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.shots}}
                            </div>
                        </div>
                        <div class="player-profile-statistics__statistic-box__item">
                            <div class="player-profile-statistics__statistic-box__item-statistic">Shots On Goal
                                (Average)
                            </div>
                            <div class="player-profile-statistics__statistic-box__item-value">
                                {{playerStatistics.shotsAverage | number : '1.2-2'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>