<div class="ios-hero__item" style="background-image: url('https://iosoccer.com/assets/stadium-3.jpg');">
    <div class="ios-hero__item--download">
        <div>
            <iframe class="ios-hero__item--video"
                src="https://www.youtube.com/embed/QytPy2o351k?modestbranding=1&showinfo=0"
                allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>

        <div>
            <a class="btn btn-primary-inverse btn-lg" href="https://store.steampowered.com/app/673560/IOSoccer/"
                target="_blank">
                <i class="fa fa-download"></i>&nbsp;Download On Steam
            </a>
        </div>
    </div>
</div>

<div class="ios-hero__item ios-hero__item--inverse ios-hero__item--video-container"
    style="background-image: url('https://iosoccer.com/assets/stadium-1.jpg');">
    <div class="icobox__icon  icobox__icon--filled  icobox__icon--lg icobox__icon--circle" style="
    position: relative;
    left: -10px;
    top: -10px;
"><i class="fa fa-futbol"></i></div>
    <h5 style="
    color: white;
    width: 950px;
    font-size: 21px;
    position: relative;
    left: 10px;
    top: 0;
">Unparalleled freedom in ball control and gameplay depth <small _ngcontent-xgf-c1="" class="d-block">The combination
            of a third-person camera together with mouse and keyboard input gives you full control over your dribbling,
            shooting, and passing.</small></h5>

</div>

<div class="ios-hero__item  ios-hero__item--video-container"
    style="background-image: url('https://iosoccer.com/assets/action-1.jpg');">
    <div class="icobox__icon icobox__icon--border  icobox__icon--lg icobox__icon--circle" style="
    position: relative;
    left: -10px;
    top: -10px;
"><i class="fa fa-th"></i></div>
    <h5 style="
    color: white;
    width: 950px;
    font-size: 21px;
    position: relative;
    left: 10px;
    top: 0;
">
        Flexible team sizes
        <small class="d-block">Whether you prefer 4v4 street games or our standard 8v8 matchups, we support everything
            from 1 to 11 players per side.</small></h5>
</div>

<div class="ios-hero__item ios-hero__item--inverse ios-hero__item--video-container"
    style="background-image: url('https://iosoccer.com/assets/screenshot-6.jpg');">
    <div class="icobox__icon  icobox__icon--filled  icobox__icon--lg icobox__icon--circle" style="
    position: relative;
    left: -10px;
    top: -10px;
"><i class="fa fa-trophy"></i></div>
    <h5 style="
    color: white;
    width: 950px;
    font-size: 21px;
    position: relative;
    left: 10px;
    top: 0;
">
        Competitive matches
        <small class="d-block">Participate with your club, national team or mix team in leagues and cups organized by
            the community.</small></h5>

</div>

<div class="ios-hero__item  ios-hero__item--video-container"
    style="background-image: url('https://iosoccer.com/assets/action-6.jpg');">
    <div class="icobox__icon icobox__icon--border  icobox__icon--lg icobox__icon--circle" style="
    position: relative;
    left: -10px;
    top: -10px;
"><i class="fa fa-cogs"></i></div>
    <h5 style="
    color: white;
    width: 950px;
    font-size: 21px;
    position: relative;
    left: 10px;
    top: 0;
">
        Player customization
        <small class="d-block">Set your shirt name, pick your shirt number and choose your ethnicity, hair style, shoes,
            keeper gloves, ball, and sleeve length.</small></h5>
</div>