.player-heading {
    background-image: none;
    background-color: #292c31;
    &::after {
        background-size: inherit;
        background-repeat: repeat;
        opacity: 0.1;
    }
    &::before{
        background-image: none;
    }
}

.player-info-details__team-link {
    color: white;
    border-bottom: 1px dotted white;
    &:hover {
        color: #ccc;
    }
}

