<app-spinner *ngIf="isLoading"></app-spinner>
<div *ngIf="!isLoading" class="player-heading">
    <div class="container">
        <div class="player-info__title player-info__title--mobile">
            <h1 class="player-info__name"><span class="player-info__first-name">{{player.name}}</span></h1>
        </div>
        <div class="player-info">
            <div class="player-info__item player-info__item--details" aria-hidden="false">
                <a class="btn btn-primary-inverse btn-xs" style="position: absolute; right: 72px; bottom: 26px;"
                    routerLink="/edit-profile">Edit
                    Profile</a>
                <img *ngIf="steamUserProfile.avatarfull" [attr.src]="steamUserProfile.avatarfull"
                    style="position: absolute; right: 30px; top: 33px;">
                <div class="player-info__title player-info__title--desktop">
                    <h1 class="player-info__name">
                        <span class="player-info__first-name">{{player.name}}</span>
                    </h1>
                </div>
                <div class="player-info-details">
                    <div class="player-info-details__item player-info-details__item--height">
                        <h6 class="player-info-details__title">Position</h6>
                        <div class="player-info-details__value">LW</div>
                    </div>
                    <div class="player-info-details__item player-info-details__item--weight">
                        <h6 class="player-info-details__title">Country</h6>
                        <div class="player-info-details__value">
                            <ng-container *ngIf="steamUserProfile">
                                <img *ngIf="steamUserProfile.loccountrycode; else unknownFlag"
                                    src="https://www.countryflags.io/{{steamUserProfile.loccountrycode}}/flat/24.png">
                                <ng-template #unknownFlag><i class="fas fa-question"></i></ng-template>
                            </ng-container>
                        </div>
                    </div>
                    <div class="player-info-details__item player-info-details__item--position">
                        <h6 class="player-info-details__title">Position</h6>
                        <div class="player-info-details__value">Forward</div>
                    </div>
                    <div class="player-info-details__item player-info-details__item--college">
                        <h6 class="player-info-details__title">Club Team</h6>
                        <div class="player-info-details__value">Excel</div>
                    </div>
                    <div class="player-info-details__item player-info-details__item--born">
                        <h6 class="player-info-details__title">National Team</h6>
                        <div class="player-info-details__value">England</div>
                    </div>
                    <div *ngIf="playingTime" class="player-info-details__item">
                        <h6 class="player-info-details__title">Playing Time</h6>
                        <div class="player-info-details__value">{{playingTime}}</div>
                    </div>
                </div>
            </div>
        </div><!-- Player Photo / End -->
        <!-- Player Details -->
        <!-- Player Details / End -->
        <!-- Player Stats -->
        <!-- Player Stats / End -->
    </div>
</div>

<div class="container my-4">
    <!-- Team Latest Results -->
    <div id="player-profile-recent-matches">
        <div class="card card--has-table">
            <div class="card__header card__header--has-btn">
                <h4>Matches</h4>
                <!-- Result Filter -->
                <!-- Result Filter / End -->
            </div>
            <div class="card__content">
                <app-spinner *ngIf="!matches"></app-spinner>
                <table *ngIf="matches" class="table table--large">
                    <thead>
                        <tr>
                            <th class="team-result__date">Date</th>
                            <th class="team-result__vs">Match</th>
                            <th class="team-result__score">Score</th>
                            <th class="team-result__status">Match Type</th>
                            <th class="team-result__status">Match Format</th>
                            <th class="team-result__ball-posession">Location</th>
                            <th class="team-result__game-overview">Match Overview</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let match of matches | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }">
                            <td class="team-result__date">{{match.readiedDate | date:'medium'}}</td>
                            <td class="team-result__vs">
                                <div class="team-meta">
                                    <strong
                                        [attr.title]="match.lineupHome.channel.name">{{match?.matchStatistics?.matchData.teams[0].matchTotal.name}}</strong>
                                    vs
                                    <strong
                                        [attr.title]="match.lineupAway.channel.name">{{match?.matchStatistics?.matchData.teams[1].matchTotal.name}}</strong>
                                </div>
                            </td>
                            <td class="team-result__score">{{match?.matchStatistics?.matchGoalsHome}} -
                                {{match?.matchStatistics?.matchGoalsAway}}</td>
                            <td class="team-result__status">Ranked Friendly</td>
                            <td class="team-result__status">{{match.matchFormat}}</td>
                            <td class="team-result__ball-posession" title="{{match.server.country.name}}">
                                <img src="https://www.countryflags.io/{{match.server.country.code}}/flat/24.png">

                            </td>
                            <td class="team-result__game-overview">
                                <a [routerLink]="['/match-overview', match.id]"
                                    class="btn btn-xs btn-outline-primary btn-block">See Match Overview</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="totalPages > 1" class="text-center">
            <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
        </div>
    </div>
    <!-- Team Latest Results / End -->
    <!-- Team Latest Results -->
    <div id="player-profile-team-history">
        <div class="card card--has-table">
            <div class="card__header card__header--has-btn">
                <h4>Team History</h4>
                <!-- Result Filter -->
                <!-- Result Filter / End -->
            </div>
            <div class="card__content">
                <table class="table table--large">
                </table>
            </div>
        </div>
    </div>
    <!-- Team Latest Results / End -->
</div>