<div class="site-wrapper clearfix">
    <div class="site-overlay"></div>

    <!-- Header -->

    <!-- Header Mobile -->
    <div class="header-mobile clearfix" id="header-mobile">
        <div class="header-mobile__logo">
            <a href="_soccer_index.html"><img src="assets/images/soccer/logo.png"
                    srcset="assets/images/soccer/logo@2x.png 2x" alt="Alchemists" class="header-mobile__logo-img"></a>
        </div>
        <div class="header-mobile__inner">
            <a id="header-mobile__toggle" class="burger-menu-icon"><span class="burger-menu-icon__line"></span></a>
            <span class="header-mobile__search-icon" id="header-mobile__search-icon"></span>
        </div>
    </div>

    <!-- Header Desktop -->
    <header class="header header--layout-1">

        <!-- Header Top Bar -->
        <div class="header__top-bar clearfix">
            <div class="container">
                <div class="header__top-bar-inner">
                    <!-- Account Navigation -->
                    <ul class="nav-account">
                        <li class="nav-account__item"><a href="#" data-toggle="modal"
                                data-target="#modal-login-register-tabs">Your Account</a>
                        </li>
                        <li class="nav-account__item"><a href="#">Language: <span class="highlight">EN</span></a>
                        </li>
                        <li *ngIf="!user" class="nav-account__item nav-account__item--login">
                            <a routerLink="./login">Login</a>
                        </li>
                        <li *ngIf="user" class="nav-account__item nav-account__item--logout">
                            <a href="{{apiUrl}}/logout">Logout</a>
                        </li>
                    </ul>
                    <!-- Account Navigation / End -->
                </div>
            </div>
        </div>
        <!-- Header Top Bar / End -->

        <!-- Header Secondary -->
        <div class="header__secondary">
            <div class="container">
                <!-- Header Search Form -->
                <div class="header-search-form d-none">
                    <form action="#" id="mobile-search-form" class="search-form">
                        <input type="text" class="form-control header-mobile__search-control" value=""
                            placeholder="Enter your search here...">
                        <button type="submit" class="header-mobile__search-submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- Header Search Form / End -->
                <ul class="info-block info-block--header">
                    <li class="info-block__item info-block__item--contact-secondary">
                        <svg role="img" class="df-icon df-icon--soccer-ball">
                            <use xlink:href="assets/images/icons-soccer.svg#soccer-ball" />
                        </svg>
                        <h6 class="info-block__heading">Contact Us</h6>
                        <a class="info-block__link" href="mailto:info@iosoccer.com">info@iosoccer.com</a>
                    </li>


                    <!-- Social Links -->
                    <ul class="social-links social-links--inline social-links--main-nav">
                        <li class="social-links__item">
                            <a href="https://store.steampowered.com/app/673560/IOSoccer/" class="social-links__link"
                                data-toggle="tooltip" data-placement="bottom" title="Steam">
                                <i class="fa fa-steam"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://facebook.com/IOSoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://twitter.com/iosoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://youtube.com/iosoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Youtube">
                                <i class="fa fa fa-youtube"></i></a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://twitch.tv/iosoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Twitch">
                                <i class="fa fa-reddit"></i>
                            </a>
                        </li>
                        <li class="social-links__item">
                            <a href="https://www.reddit.com/r/iosoccer" class="social-links__link" data-toggle="tooltip"
                                data-placement="bottom" title="Reddit"><i class="fa fa-twitch"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Social Links / End -->
                </ul>
            </div>
        </div>
        <!-- Header Secondary / End -->

        <!-- Header Primary -->
        <div class="header__primary">
            <div class="container">
                <div class="header__primary-inner">

                    <!-- Header Logo -->
                    <div class="header-logo">
                        <a href="_soccer_index.html"><img src="assets/images/logos/iosoccer-full-logo-medium.png"
                                alt="Alchemists" class="header-logo__img"></a>
                    </div>
                    <!-- Header Logo / End -->

                    <!-- Main Navigation -->
                    <nav class="main-nav clearfix">
                        <ul class="main-nav__list">
                            <li class="active"><a href="_soccer_index.html">Home</a></li>
                            <li class=""><a href="https://store.steampowered.com/app/673560/IOSoccer/"
                                    target="_blank">Download</a></li>
                            <li class=""><a href="#">Manual</a></li>
                            <li class=""><a href="#">News</a></li>
                            <li class=""><a href="#">Match Hub</a>
                                <div class="main-nav__megamenu clearfix">
                                    <ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                        <li class="main-nav__title">Ranked</li>
                                        <li><a routerLink="./match-overview">Recent Matches</a></li>
                                        <li><a routerLink="./match-overview">Match Overview</a></li>
                                    </ul>
                                    <ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                        <li class="main-nav__title">Tournaments</li>
                                        <li><a routerLink="./match-overview">Current Tournaments</a></li>
                                        <li><a routerLink="./match-overview">Previous Tournaments</a></li>
                                    </ul>
                                    <ul class="col-lg-2 col-md-3 col-12 main-nav__ul">
                                        <li class="main-nav__title">Management</li>
                                        <li><a routerLink="./server-manager">Servers</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class=""><a href="_soccer_team-overview.html">INFO</a>
                                <ul class="main-nav__sub">
                                    <li><a href="_soccer_staff-single.html">About</a></li>
                                    <li><a href="_soccer_event-tournament.html">Contributors &nbsp;
                                            <span class="label label-danger">New</span></a></li>
                                </ul>
                            </li>
                            <li class=""><a href="https://discord.gg/FkT6Q3N" target="_blank">Discord Chat</a></li>
                        </ul>

                    </nav>
                    <!-- Main Navigation / End -->
                </div>
            </div>
        </div>
        <!-- Header Primary / End -->

    </header>
    <!-- Header / End -->




    <!-- Content -->

    <div id="page-content">
        <router-outlet></router-outlet>
    </div>

    <!-- Content / End -->


    <!-- Footer
		================================================== -->
    <footer id="footer" class="footer">

        <!-- Footer Widgets -->
        <div class="footer-widgets">
            <div class="footer-widgets__inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-col-inner">

                                <!-- Footer Logo -->
                                <div class="footer-logo footer-logo--has-txt">
                                    <a href="index.html">
                                        <img class="footer-logo__img"
                                            src="assets/images/logos/iosoccer-full-logo-medium.png" alt="">
                                    </a>
                                </div>
                                <!-- Footer Logo / End -->

                                <!-- Widget: Contact Info -->
                                <div class="widget widget--footer widget-contact-info">
                                    <div class="widget__content">
                                        <div class="widget-contact-info__desc">
                                            <p>IOSoccer is a unique free non-commercial competitive third-person online
                                                multiplayer soccer game.</p>
                                        </div>
                                        <div class="widget-contact-info__body info-block">
                                            <div class="info-block__item">
                                                <svg role="img" class="df-icon df-icon--soccer-ball">
                                                    <use xlink:href="assets/images/icons-soccer.svg#soccer-ball" />
                                                </svg>
                                                <h6 class="info-block__heading">Contact Us</h6>
                                                <a class="info-block__link"
                                                    href="mailto:tryouts@alchemists.com">info@iosoccer.com</a>
                                            </div>
                                            <div class="info-block__item">
                                                <svg role="img" class="df-icon df-icon--whistle">
                                                    <use xlink:href="assets/images/icons-soccer.svg#whistle" />
                                                </svg>
                                                <h6 class="info-block__heading">Join Our Team!</h6>
                                                <a class="info-block__link"
                                                    href="mailto:info@alchemists.com">info@iosoccer.com</a>
                                            </div>
                                            <div class="info-block__item info-block__item--nopadding">
                                                <ul class="social-links">
                                                    <li class="social-links__item">
                                                        <a href="#" class="social-links__link"><i
                                                                class="fa fa-facebook"></i> Facebook</a>
                                                    </li>
                                                    <li class="social-links__item">
                                                        <a href="#" class="social-links__link"><i
                                                                class="fa fa-twitter"></i> Twitter</a>
                                                    </li>
                                                    <li class="social-links__item">
                                                        <a href="#" class="social-links__link"><i
                                                                class="fa fa-google-plus"></i> Google+</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Widget: Contact Info / End -->
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="footer-col-inner">
                                <!-- Widget: Popular Posts / End -->
                                <div class="widget widget--footer widget-popular-posts">
                                    <h4 class="widget__title">Recent News</h4>
                                    <div class="widget__content">
                                        <ul class="posts posts--simple-list">

                                            <li class="posts__item posts__item--category-1">
                                                <figure class="posts__thumb posts__thumb--hover">
                                                    <a href="#"><img src="assets/images/samples/post-img3-xs.jpg"
                                                            alt=""></a>
                                                </figure>
                                                <div class="posts__inner">
                                                    <div class="posts__cat">
                                                        <span class="label posts__cat-label">Release</span>
                                                    </div>
                                                    <h6 class="posts__title posts__title--color-hover">
                                                        <a href="_soccer_blog-post-1.html">
                                                            June 2019 Release
                                                        </a></h6>
                                                    <time datetime="2017-08-21" class="posts__date">June 12th,
                                                        2019</time>
                                                </div>
                                            </li>
                                            <li class="posts__item posts__item--category-2">
                                                <figure class="posts__thumb posts__thumb--hover">
                                                    <a href="#"><img src="assets/images/samples/post-img18-xs.jpg"
                                                            alt=""></a>
                                                </figure>
                                                <div class="posts__inner">
                                                    <div class="posts__cat">
                                                        <span class="label posts__cat-label">HUB</span>
                                                    </div>
                                                    <h6 class="posts__title posts__title--color-hover"><a
                                                            href="_soccer_blog-post-1.html">Players of the year
                                                            announced</a></h6>
                                                    <time datetime="2017-08-21" class="posts__date">June 2nd,
                                                        2019</time>
                                                </div>
                                            </li>
                                            <li class="posts__item posts__item--category-1">
                                                <figure class="posts__thumb posts__thumb--hover">
                                                    <a href="#"><img src="assets/images/samples/post-img8-xs.jpg"
                                                            alt=""></a>
                                                </figure>
                                                <div class="posts__inner">
                                                    <div class="posts__cat">
                                                        <span class="label posts__cat-label">Release</span>
                                                    </div>
                                                    <h6 class="posts__title posts__title--color-hover"><a
                                                            href="_soccer_blog-post-1.html">April 2019 Release</a></h6>
                                                    <time datetime="2017-08-21" class="posts__date">January 25th,
                                                        2019</time>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- Widget: Popular Posts / End -->
                            </div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-sm-6 col-lg-6">
                            <div class="footer-col-inner">

                                <!-- Widget: Contact / End -->
                                <div class="widget widget--footer widget-contact">
                                    <h4 class="widget__title">Quick Contact</h4>
                                    <div class="widget__content">
                                        <p>Feel free to send us any support queries, requests, or enquiries, below.</p>
                                        <form action="#" class="contact-form">
                                            <div class="form-group form-group--xs">
                                                <input type="email" class="form-control input-sm"
                                                    id="contact-form-email" placeholder="Your email address...">
                                            </div>
                                            <div class="form-group form-group--xs">
                                                <textarea class="form-control input-sm" name="contact-form-message"
                                                    rows="4" placeholder="Your message..."></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary-inverse btn-sm btn-block">
                                                Send Your Message
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <!-- Widget: Contact / End -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sponsors -->
            <div class="container">
                <div class="sponsors">
                    <h6 class="sponsors-title">Our Sponsor:</h6>
                    <ul class="sponsors-logos">
                        <li class="sponsors__item">
                            <a href="https://www.simrai.com/" target="_blank" title="SimRai Hosting"><img
                                    src="assets/images/logos/simrai.png" alt="SimRai logo"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sponsors / End -->

        </div>
        <!-- Footer Widgets / End -->

        <!-- Footer Secondary -->
        <div class="footer-secondary">
            <div class="container">
                <div class="footer-secondary__inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-copyright"><a href="_soccer_index.html">IOSoccer</a> 2020 &nbsp; |
                                &nbsp; All
                                Rights Reserved</div>
                        </div>
                        <div class="col-md-8">
                            <ul class="footer-nav footer-nav--right footer-nav--condensed footer-nav--sm">
                                <li class="footer-nav__item"><a href="_soccer_index.html">Home</a></li>
                                <li class="footer-nav__item"><a href="_soccer_features-shortcodes.html">Download</a>
                                </li>
                                <li class="footer-nav__item"><a href="_soccer_team-standings.html">Manual</a></li>
                                <li class="footer-nav__item"><a href="_soccer_team-overview.html">News</a></li>
                                <li class="footer-nav__item"><a href="_soccer_blog-3.html">Match Hub</a></li>
                                <li class="footer-nav__item"><a href="_soccer_shop-grid.html">About</a></li>
                                <li class="footer-nav__item"><a href="_soccer_shop-grid.html">Chat</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Secondary / End -->
    </footer>
    <!-- Footer / End -->


    <!-- Login/Register Tabs Modal -->
    <div class="modal fade" id="modal-login-register-tabs" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal--login modal--login-only" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="modal-account-holder">
                        <div class="modal-account__item modal-account__item--logo">
                            <p class="modal-account__item-register-txt">Don’t have an account? <a href="#">Register
                                    Now</a> and
                                enjoy all our benefits!</p>
                        </div>
                        <div class="modal-account__item">

                            <!-- Tab panes -->
                            <div class="tab-content">

                                <!-- Tab: Login -->
                                <div role="tabpanel" class="tab-pane fade show active" id="tab-login">

                                    <!-- Login Form -->
                                    <form action="#" class="modal-form">
                                        <h5>Login to your account</h5>
                                        <div class="form-group">
                                            <input type="email" class="form-control"
                                                placeholder="Enter your email address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"
                                                placeholder="Enter your password...">
                                        </div>
                                        <div class="form-group form-group--pass-reminder">
                                            <label class="checkbox checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox1" value="option1" checked>
                                                Remember Me
                                                <span class="checkbox-indicator"></span>
                                            </label>
                                            <a href="#">Forgot your password?</a>
                                        </div>
                                        <div class="form-group form-group--submit">
                                            <a href="_soccer_shop-account.html"
                                                class="btn btn-primary-inverse btn-block">Enter to your
                                                account</a>
                                        </div>
                                        <div class="modal-form--social">
                                            <h6>or Login with your social profile:</h6>
                                            <ul class="social-links social-links--btn text-center">
                                                <li class="social-links__item">
                                                    <a href="#"
                                                        class="social-links__link social-links__link--lg social-links__link--fb"><i
                                                            class="fa fa-facebook"></i></a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="#"
                                                        class="social-links__link social-links__link--lg social-links__link--twitter"><i
                                                            class="fa fa-twitter"></i></a>
                                                </li>
                                                <li class="social-links__item">
                                                    <a href="#"
                                                        class="social-links__link social-links__link--lg social-links__link--gplus"><i
                                                            class="fa fa-google-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </form>
                                    <!-- Login Form / End -->

                                </div>
                                <!-- Tab: Login / End -->

                                <!-- Tab: Register -->
                                <div role="tabpanel" class="tab-pane fade" id="tab-register">

                                    <!-- Register Form -->
                                    <form action="#" class="modal-form">
                                        <h5>Register Now!</h5>
                                        <div class="form-group">
                                            <input type="email" class="form-control"
                                                placeholder="Enter your email address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"
                                                placeholder="Enter your password...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"
                                                placeholder="Repeat your password...">
                                        </div>
                                        <div class="form-group form-group--submit">
                                            <a href="_soccer_shop-account.html" class="btn btn-success btn-block">Create
                                                Your Account</a>
                                        </div>
                                        <div class="modal-form--note">You’ll receive a confirmation email in your inbox
                                            with a link to
                                            activate your account. </div>
                                    </form>
                                    <!-- Register Form / End -->

                                </div>
                                <!-- Tab: Register / End -->

                            </div>

                            <!-- Nav tabs -->
                            <div class="nav-tabs-login-wrapper">
                                <ul class="nav nav-tabs nav-justified nav-tabs--login" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" href="#tab-login" role="tab"
                                            data-toggle="tab">Login</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#tab-register" role="tab"
                                            data-toggle="tab">Register</a></li>
                                </ul>
                            </div>
                            <!-- Nav tabs / End -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login/Register Tabs Modal / End -->
</div>