<div class="container py-4">
    <ng-container *ngIf="existingTournamentSeries; else spinner">
        <div class="card card--has-table">
            <div class="card__header">
                <h4>Tournament Series</h4>
            </div>
            <div class="card__content">
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Created Date</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let series of existingTournamentSeries">
                            <td><a [routerLink]="['/tournament-editor/', series.id]">{{series.name}}</a>
                            </td>
                            <td>{{series.createdDate | date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card__header">
                <h4>Create Tournament</h4>
            </div>
            <div class="card__content">
                <form (ngSubmit)="createTournament()" #tournamentForm="ngForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input [(ngModel)]="tournamentSeries.name" name="tournament" type="text" class="form-control"
                            placeholder="e.g. IOSF" required>
                    </div>
                    <div class="form-group">
                        <label>Organisation</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <a [routerLink]="['/organisations']"><i class="fas fa-plus"></i></a>
                                </span>
                            </div>
                            <select [(ngModel)]="tournamentSeries.organisationId" name="organisation"
                                class="form-control">
                                <option *ngFor="let organisation of organisations" [ngValue]="organisation.id">
                                    {{organisation.name}} ({{organisation.acronym}})</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit"
                        [disabled]="isCreating || !tournamentForm.valid">Create</button>
                </form>
            </div>
        </div>

    </ng-container>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</div>