<ng-container *ngIf="team">
    <ng-container *ngIf="isHomeTeam">
        <strong class="clickable" [routerLink]="['/team-profile/', team.id]"
            [attr.title]="team.name">{{ useTeamCodes ? team.teamCode : team.name }}</strong>
        <span class="pl-1">
            <img *ngIf="team.badgeImage"
                [src]="team.badgeImage.url" style="max-height: 20px">
                <img *ngIf="!team.badgeImage" src="./assets/images/soccer/blank-crest.png"
                    style="max-height: 20px">
        </span>
    </ng-container>
    <ng-container *ngIf="!isHomeTeam">
        <span class="pr-1">
            <img *ngIf="team.badgeImage"
                [src]="team.badgeImage.url" style="max-height: 20px">
                <img *ngIf="!team.badgeImage" src="./assets/images/soccer/blank-crest.png"
                    style="max-height: 20px">
        </span>
        <strong class="clickable" [routerLink]="['/team-profile/', team.id]"
            [attr.title]="team.name">{{ useTeamCodes ? team.teamCode : team.name }}</strong>
    </ng-container>
</ng-container>