<div class="container">
    <div *ngIf="isLoading || !matches.length">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div *ngIf="!isLoading && !matches.length && !hasFiltered" class="alert alert-info"  i18n="@@playerProfile.noMatchesYet">
            Hold tight! This player has not played in matches yet</div>
    </div>
</div>
<div class="container-fluid">
    <div *ngIf="!isLoading && (matches.length || hasFiltered)" class="container-fluid">
        <div class="row">
            <div class="card card--has-table w-100">
                <div class="card__header card__header--has-btn">
                    <h4 i18n="@@globals.matches">Matches</h4>
                    <!-- Filter -->
                    <ul class="team-result-filter d-none d-md-inline">
                        <li class="team-result-filter__item">
                            <label class="checkbox checkbox-inline mr-2">
                                <input type="checkbox" name="includeSubstituteAppearances"
                                    [(ngModel)]="filters.includeSubstituteAppearances"> <ng-container i18n="@@globals.includeSubAppearances">Include Sub Appearances</ng-container>
                                <span class="checkbox-indicator"></span>
                            </label>
                        </li>
                        <li class="team-result-filter__item">
                            <select [(ngModel)]="filters.timePeriod" name="timePeriod" class="form-control"
                                style="font-size: 11px;" #timePeriodSelect>
                                <option [ngValue]="0"  i18n="@@globals.allTime">All Time</option>
                                <option [ngValue]="365"  i18n="@@globals.year">Year</option>
                                <option [ngValue]="31"  i18n="@@globals.month">Month</option>
                                <option [ngValue]="7"  i18n="@@globals.week">Week</option>
                            </select>
                        </li>
                        <li class="team-result-filter__item">
                            <button type="button" class="btn btn-outline-secondary btn-xs card-header__button"
                                (click)="setFilters()" i18n="@@globals.filter">
                                Filter
                            </button>
                        </li>
                    </ul>
                    <!-- Filter / End -->
                </div>
                <div class="card__content table-responsive">
                    <table
                        class="table table--large table-striped table-hover table-clickable table-inner-border table-column-hover">
                        <thead>
                            <tr>
                                <th sorter [sortByColumn]="'Match.KickOff'" i18n-sortByColumnName="@@globals.date" sortByColumnName="Date"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder" title="Match Date"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'Position.Name'" i18n-sortByColumnName="@@globals.positionShort"  sortByColumnName="Pos"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder" title="Position"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'Team.Name'" i18n-sortByColumnName="@@globals.team" sortByColumnName="Team"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)"></th>
                                <th sorter [sortByColumn]="'MatchOutcome'" i18n-sortByColumnName="@@globals.result" sortByColumnName="Result"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th></th>
                                <th sorter [sortByColumn]="'Goals'" i18n-sortByColumnName="@@globals.goals" sortByColumnName="Goals" [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>

                                <th sorter [sortByColumn]="'Assists'" i18n-sortByColumnName="@@globals.assists" sortByColumnName="Assists" [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'Shots'"  i18n-sortByColumnName="@@globals.shots" sortByColumnName="Shots"  [currentSort]="sortBy"
                                    [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                                    class="text-center">
                                </th>
                                <th sorter [sortByColumn]="'ShotsOnGoal'"  i18n-sortByColumnName="@@playerProfile.matches.shotsOnTarget" sortByColumnName="“ On Target"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center">
                                </th>
                                <th sorter [sortByColumn]="'Passes'"  i18n-sortByColumnName="@@globals.passes" sortByColumnName="Passes"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center">
                                </th>
                                <th sorter [sortByColumn]="'PassesCompleted'"  i18n-sortByColumnName="@@playerProfile.matches.passesCompleted" sortByColumnName="“ Completed"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'Interceptions'" i18n-sortByColumnName="@@globals.interceptions"  sortByColumnName="Interceptions"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'PossessionPercentage'"  i18n-sortByColumnName="@@globals.possession"  sortByColumnName="Possession"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'KeeperSaves'"   i18n-sortByColumnName="@@globals.saves" sortByColumnName="Saves"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'GoalsConceded'" i18n-sortByColumnName="@@globals.conceded" sortByColumnName="Conceded"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'Offsides'" i18n-sortByColumnName="@@globals.offsides" sortByColumnName="Offsides"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'YellowCards'" i18n-sortByColumnName="@@globals.yellows" sortByColumnName="Yellows"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                                <th sorter [sortByColumn]="'RedCards'" i18n-sortByColumnName="@@globals.reds" [sortByColumnName]="'Reds'"
                                    [currentSort]="sortBy" [currentOrder]="sortOrder"
                                    (sort)="loadPage(currentPage, $event)" class="text-center">
                                </th>
                                <th sorter [sortByColumn]="'DistanceCoveredAverage'" i18n-sortByColumnName="@@playerProfile.matches.avgDistance" 
                                    [sortByColumnName]="'Avg. Distance'" [currentSort]="sortBy"
                                    [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                                    class="text-center">
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let match of matches | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }"
                                (click)="navigateToMatch(match.matchId)">
                                <td class="text-nowrap">{{match.match.kickOff | date:'medium'}}</td>
                                <td>{{match.position.name}}</td>
                                <td class="team-result__score text-nowrap">
                                    <img *ngIf="match.team.badgeImage" [src]="match.team.badgeImage.extraSmallUrl"
                                        style="width: 13px;">
                                    <img *ngIf="!match.team.badgeImage" src="./assets/images/soccer/blank-crest.png"
                                        style="width: 13px;">
                                    {{match.team.name}}
                                </td>
                                <td class="text-center">
                                    <app-form-indicator [form]="[match.matchOutcome]"></app-form-indicator>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="match.substitute" title="Substitute">
                                            <i class="icon-svg icon-in mr-1"></i>
                                        </span>
                                    <span *ngIf="match.yellowCards > 0" title="Yellow carded">
                                            <i class="icon-svg icon-yellow-card mr-1"></i>
                                        </span>
                                    <span *ngIf="match.redCards > 0" title="Red carded">
                                            <i class="icon-svg icon-red-card"></i>
                                        </span>
                                    <span *ngIf="match.position.name == 'GK' && match.goalsConceded == 0" title="Clean sheet">
                                            <i  class="icon-svg icon-keepers-glove"></i>
                                        </span>
                                </td>
                                <td class="text-center">{{match.goals}}</td>
                                <td class="text-center">{{match.assists}}</td>
                                <td class="text-center">{{match.shots}}</td>
                                <td class="text-center">{{match.shotsOnGoal}}</td>
                                <td class="text-center">{{match.passes}}</td>
                                <td class="text-center">{{match.passesCompleted}}</td>
                                <td class="text-center">{{match.interceptions}}</td>
                                <td class="text-center">{{(match.possessionPercentage  | number : '1.2-2') + '%'}}</td>
                                <td class="text-center">{{match.position.name == 'GK' ? match.keeperSaves : 'N/A'}}</td>
                                <td class="text-center">{{match.goalsConceded}}
                                </td>
                                <td class="text-center">{{match.offsides}}</td>
                                <td class="text-center">{{match.yellowCards}}</td>
                                <td class="text-center">{{match.redCards}}</td>
                                <td class="text-center">{{(match.distanceCovered / 1000) | number : '1.2-2'}}km</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="!isLoading && totalPages > 1" class="text-center w-100 mb-4">
                <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
            </div>
        </div>
        <!-- Team Latest Results / End -->
    </div>
</div>