<div *ngIf="teamPlayers" class="card card--has-table">
    <div class="card__header">
        <h4>Complete Roster</h4>
    </div>
    <div class="card__content">
        <div class="table-responsive">
            <table class="table table--lg team-roster-table">
                <thead>
                    <tr>
                        <th class="team-roster-table__position">Player</th>
                        <th class="team-roster-table__name">Join Date</th>
                        <th class="team-roster-table__foot">Role</th>
                        <th class="team-roster-table__age">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let teamPlayer of teamPlayers">
                        <td class="team-roster-table__number">{{teamPlayer.player.displayName}}</td>
                        <td class="team-roster-table__position">{{teamPlayer.joinDate | date:'short'}}</td>
                        <td class="team-roster-table__name">{{teamPlayer.teamRole}}</td>
                        <td class="team-roster-table__foot"><button class="btn btn-xs btn-primary">Action</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>