<ng-container>
    <h5>Add Player</h5>
    <app-player-selector (playerSelected)="selectPlayer($event)"></app-player-selector>
    <div class="form-group">
        <label>Role</label>
        <select class="form-control" [(ngModel)]="role">
            <option [ngValue]="teamRoles.Captain">Captain</option>
            <option [ngValue]="teamRoles.ViceCaptain">Vice Captain</option>
            <option [ngValue]="teamRoles.Player">Player</option>
            <option [ngValue]="teamRoles.Loaned">Loaned</option>
            <option [ngValue]="teamRoles.Loanee">Loanee</option>
            <option [ngValue]="teamRoles.Reserve">Reserve</option>
            <option [ngValue]="teamRoles.Trialist">Trialist</option>
        </select>
    </div>
    <div *ngIf="playerAddFailure" class="alert alert-danger">
        Couldn't add player. Players can only belong to one club team at any one time.
    </div>
    <div class="float-right">
        <button class="btn btn-outline-primary mr-2" type="button" (click)="wizardClosed.emit()">
            Cancel
        </button>
        <button class="btn btn-primary" type="button" [disabled]="isSaving || !role || !player" (click)="addPlayer()">
            <i *ngIf="isSaving" class="fas fa-circle-notch fa-spin"></i> Add
        </button>
    </div>
</ng-container>