<div class="py-4 container">
    <div class="card">
        <div class="card__header">
            <h4>About</h4>
        </div>
        <div class="card__content">
            IOSoccer is a free non-commercial competitive third-person online multiplayer soccer game that offers
            unparalleled freedom in ball control and gameplay depth. Originally released in 2003 under the full
            name International Online Soccer as a Half-Life mod, the game was later ported to the Source Engine and
            re-released in 2008, and over the course of the next decade was further developed by a new development team
            consisting of existing community members.
            <div class="mt-2">
                <label class="mb-0">Features</label>
                <ul>
                    <li> Unparalleled freedom in ball control and gameplay depth: The combination of a third-person
                        camera
                        together with mouse and keyboard input gives you full control over your dribbling, shooting, and
                        passing.</li>
                    <li> Skill moves: Show your mastery of the game with bicycle kicks, diving headers, ball flicks, and
                        precision dribbling.</li>
                    <li> Flexible team sizes: Whether you prefer 4v4 street games or our standard 8v8 matchups, we
                        support
                        everything from 1 to 11 players per side.</li>
                    <li> AI and human goalkeepers: You can let the server control the keeper or take its position
                        yourself
                        on the fly.</li>
                    <li> Public matches: Join and leave public servers with casual matches whenever you want to.</li>
                    <li> Competitive matches: Participate with your club, national team or mix team in leagues and cups
                        organized by the community.</li>
                    <li> Dedicated servers: Use our official dedicated servers or rent your own one from a hoster of
                        your
                        choice.</li>
                    <li> Player customization: Set your shirt name, pick your shirt number and choose your ethnicity,
                        hair
                        style, shoes, keeper gloves, ball, and sleeve length.</li>
                    <li> Instant replays and highlights: Watch goals again from the TV camera's perspective right after
                        they
                        happened and use intermissions to catch up on chances you missed.</li>
                    <li> Goal celebrations: Choreograph your team's goal celebrations with various animations.</li>
                    <li> Warm up mode: Practice shots on your own goalkeeper during warm up before the match where every
                        player has their own ball.</li>
                    <li> Custom assets: Make your own maps, team kits, balls, shoes, and keeper gloves.</li>
                    <li> 100% free: No microtransactions or any other hidden costs.</li>
                </ul>
            </div>
        </div>
    </div>
</div>