<div *ngIf="isLoading || !matches.length" class="my-4">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div *ngIf="!isLoading && !matches.length" class="alert alert-info">
        Hold tight! This player has not played in matches yet</div>
</div>
<div *ngIf="!isLoading && matches.length" class="container-fluid my-4">
    <div class="row">
        <div class="card card--has-table w-100">
            <div class="card__header card__header--has-btn">
                <h4>Matches</h4>
                <!-- Filter -->
                <ul class="team-result-filter">
                    <li class="team-result-filter__item">
                        <label class="checkbox checkbox-inline mr-2">
                            <input type="checkbox" name="includeSubstituteAppearances"> Include Sub Appearances
                            <span class="checkbox-indicator"></span>
                        </label>
                    </li>
                    <li class="team-result-filter__item">
                        <select name="timePeriod" class="form-control">
                            <option>All Time</option>
                        </select>
                    </li>
                    <li class="team-result-filter__item">
                        <button type="button" class="btn btn-default btn-outline btn-xs card-header__button">
                            Filter
                        </button>
                    </li>
                </ul>
                <!-- Filter / End -->
            </div>
            <div class="card__content table-responsive">
                <table class="table table--large table-striped table-hover table-clickable">
                    <thead>
                        <tr>
                            <th class="team-result__ball-posession">Team</th>
                            <th class="team-result__ball-posession">Nickname</th>
                            <th class="team-result__ball-posession">Result</th>
                            <th class="team-result__ball-posession">Position</th>
                            <th class="team-result__ball-posession">Substitute?</th>
                            <th sorter [sortByColumn]="'Goals'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                                (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                            <th sorter [sortByColumn]="'GoalsAverage'" [sortByColumnName]="'Avg. Goals'"
                                [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                                class="text-center">
                            </th>
                            <th sorter [sortByColumn]="'ShotAccuracyPercentage'" [sortByColumnName]="'Shot Accuracy'"
                                [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                                class="text-center">
                            </th>
                            <th sorter [sortByColumn]="'Assists'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                                (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                            <th sorter [sortByColumn]="'PassesAverage'" [sortByColumnName]="'Avg. Passes'"
                                [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                                class="text-center">
                            </th>
                            <th sorter [sortByColumn]="'PassCompletionPercentageAverage'"
                                [sortByColumnName]="'Pass Completion'" [currentSort]="sortBy" [currentOrder]="sortOrder"
                                (sort)="loadPage(currentPage, $event)" class="text-center"></th>
                            <th sorter [sortByColumn]="'YellowCards'" [sortByColumnName]="'Yellows'"
                                [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                                class="text-center"></th>
                            <th sorter [sortByColumn]="'RedCards'" [sortByColumnName]="'Reds'" [currentSort]="sortBy"
                                [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)" class="text-center">
                            </th>
                            <th sorter [sortByColumn]="'DistanceCoveredAverage'" [sortByColumnName]="'Avg. Distance'"
                                [currentSort]="sortBy" [currentOrder]="sortOrder" (sort)="loadPage(currentPage, $event)"
                                class="text-center">
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let match of matches | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: totalItems }"
                            (click)="navigateToMatch(match.matchId)">
                            <td class="team-result__score">{{match.match.readiedDate | date}}</td>
                            <td class="team-result__score">{{match.nickname}}</td>
                            <td class="team-result__score">{{match.matchOutcome | matchOutcome}}</td>
                            <td class="team-result__status">{{match.position.name}}</td>
                            <td class="text-center">
                                <span *ngIf="match.substitute">
                                    <i class="fas fa-check text-success"></i>
                                </span>
                            </td>
                            <td class="text-center">{{match.goals}}</td>
                            <td class="text-center">{{match.shots}}</td>
                            <td class="text-center">{{match.shotsOnGoal}}</td>
                            <td class="text-center">{{match.assists}}</td>
                            <td class="text-center">{{match.passes}}</td>
                            <td class="text-center">{{match.passesCompleted}}</td>
                            <td class="text-center">{{match.yellowCards}}</td>
                            <td class="text-center">{{match.redCards}}</td>
                            <td class="text-center">{{match.distanceCovered}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="!isLoading && totalPages > 1" class="text-center w-100 mb-4">
            <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
        </div>
    </div>
    <!-- Team Latest Results / End -->
</div>