<div class="container py-4">
    <ng-container *ngIf="!isLoading; else spinner">
        <div class="card card--has-table">
            <div class="card__header">
                <h4>My Fantasy Teams</h4>
            </div>
            <div class="card__content">
                <table class="table table-striped table-hover table-clickable">
                    <thead>
                        <th>Name</th>
                        <th>Tournament</th>
                        <th class="text-center">Squad Complete?</th>
                        <th class="text-center">Status</th>
                        <th class="text-center"></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fantasyTeam of fantasyTeams"
                            (click)="navigateToFantasyTeam(fantasyTeam.fantasyTeamId, fantasyTeam.fantasyTeamStatus)">
                            <td>{{fantasyTeam.fantasyTeamName}}</td>
                            <td>{{fantasyTeam.tournamentName}}</td>
                            <td class="text-center">
                                <ng-container *ngIf="fantasyTeam.isComplete">
                                    <i class="fas fa-check text-success"></i>
                                </ng-container>
                                <ng-container *ngIf="!fantasyTeam.isComplete">
                                    <i class="fas fa-times text-danger"></i>
                                </ng-container>
                            </td>
                            <td class="text-center">{{fantasyTeam.fantasyTeamStatus | fantasyTeamStatus }}</td>
                            <td class="text-center">
                                <button *ngIf="fantasyTeam.fantasyTeamStatus === fantasyTeamStatuses.Open" type="button"
                                    class="btn btn-primary btn-xs">
                                    Edit
                                </button>
                                <button *ngIf="fantasyTeam.fantasyTeamStatus !== fantasyTeamStatuses.Open" type="button"
                                    class="btn btn-primary btn-xs">
                                    View
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card__header">
                <h4>Fantasy Team Creator</h4>
            </div>
            <div class="card__content">
                <ng-container *ngIf="availableTournaments.length; else noAvailableTournaments">
                    <div class="form-group">
                        <label>Name</label>
                        <input [(ngModel)]="fantasyTeam.name" name="tournament" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Tournament</label>
                        <select class="form-control" [(ngModel)]="fantasyTeam.tournamentId">
                            <option *ngFor="let tournament of availableTournaments" [ngValue]="tournament.id">
                                {{tournament.name}}
                            </option>
                        </select>
                    </div>

                    <button class="btn btn-primary" (click)="createFantasyTeam()" type="button"
                        [disabled]="isCreating">Create</button>
                </ng-container>
                <ng-template #noAvailableTournaments>
                    <div class="alert alert-info">There are currently no fantasy tournaments to enter</div>
                </ng-template>
            </div>
        </div>
    </ng-container>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</div>