<nav class="content-filter">
    <div class="container">
        <a href="javascript:void(0);" (click)="tabNav.toggle()" class="content-filter__toggle"></a>
        <ul class="content-filter__list" appTabNavMobile #tabNav>
            <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                <a [routerLink]="['./connection-state']" class="content-filter__link">Connection</a>
            </li>
            <li class="content-filter__item" routerLinkActive="content-filter__item--active">
                <a [routerLink]="['./logs']" class="content-filter__link">Logs</a>
            </li>
            <li *ngIf="currentPlayer && currentPlayer.hubRole === playerHubRoles.Owner" class="content-filter__item"
                routerLinkActive="content-filter__item--active">
                <a [routerLink]="['./announcements']" class="content-filter__link">Announcements</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container py-4">
    <router-outlet></router-outlet>
</div>