<div id="team-profile-discord">
    <div class="card" [class.card--has-table]="!isChannelWizardOpen && !isGuildEditorOpen">
        <div class="card__header card__header--has-btn">
            <h4>Manage Discord Integration</h4>
            <ng-container *ngIf="isDiscordGuildSet && !isChannelWizardOpen && !isGuildEditorOpen">
                <button type="button" (click)="channelEditor.startCreateWizard(teamId); isChannelWizardOpen = true;"
                    class="btn btn-primary-inverse btn-xs card-header__button" [disabled]="">Add Channel</button>
                <button type="button" class="btn btn-primary btn-xs card-header__button mr-2"
                    (click)="guildEditor.openGuildEditor(teamId, team.guild.discordGuildId); isGuildEditorOpen = true;">Edit
                    Server Settings</button>
            </ng-container>
        </div>
        <div class="card__content">
            <div *ngIf="!isLoading && !isChannelWizardOpen && !isGuildEditorOpen">
                <div *ngIf="!channels" class="alert alert-info">
                    You haven not added any channels yet
                </div>
                <table *ngIf="channels" class="table table-striped table-hover table-clickable">
                    <thead>
                        <th>Channel Name</th>
                        <th>Search Team Code</th>
                        <!--<th>Sub Team</th>-->
                        <th>Format</th>
                        <th class="text-center">Is Mix</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let channel of channels"
                            (click)="channelEditor.startEditWizard(channel.id); isChannelWizardOpen = true;">
                            <td>{{channel.discordChannelName}}</td>
                            <td>{{channel.searchTeamCode}}</td>
                            <!--<td>
                                <ng-container *ngIf="channel.subTeamName">
                                    {{channel.subTeamName}}
                                </ng-container>
                                <ng-container *ngIf="!channel.subTeamName">
                                    <span class="text-muted">N/A</span>
                                </ng-container>
                            </td>-->
                            <td>
                                <span *ngIf="channel.channelPositions">{{channel.channelPositions.length}}v{{channel.channelPositions.length}}</span>
                            </td>
                            <td class="text-center">
                                <i *ngIf="channel.isMixChannel" class="text-success fa fa-check"></i>
                                <i *ngIf="!channel.isMixChannel" class="text-danger fa fa-times"></i>
                            </td>
                            <td class="text-center"><button type="button" class="btn btn-xs btn-outline-primary"
                                    (click)="channelEditor.startEditWizard(channel.id); isChannelWizardOpen = true;">Edit
                                    Channel</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-spinner *ngIf="isLoading"></app-spinner>
            <app-discord-channel-editor (wizardClosed)=" loadChannels(); isChannelWizardOpen = false;"
                [channels]="channels" [team]="team" #channelEditor>
            </app-discord-channel-editor>
            <app-discord-guild-editor (guildEditorClosed)="loadTeam(); isGuildEditorOpen = false;" #guildEditor>
            </app-discord-guild-editor>
        </div>
    </div>
</div>