<aside class="widget card widget--sidebar widget-filter-price">
    <div class="widget__title card__header card__header--has-btn">
        <h4>Filters</h4>
        <button class="btn btn-default btn-outline btn-xs card-header__button ml-2"
            (click)="loadFantasyPlayers()">Filter</button>
    </div>
    <div class="widget__content card__content">
        <div class="form-group">
            <label>Position</label>
            <div class="fantasy-player-filters--container">
                <div class="fantasy-player-filters--position-group" (click)="filters.positionGroup = null"
                    [class.active]="filters.positionGroup == null">
                    All
                </div>
                <div class="fantasy-player-filters--position-group"
                    (click)="filters.positionGroup = positionGroups.Goalkeeper"
                    [class.active]="filters.positionGroup === positionGroups.Goalkeeper">
                    GK
                </div>
                <div class="fantasy-player-filters--position-group"
                    (click)="filters.positionGroup = positionGroups.Defence"
                    [class.active]="filters.positionGroup === positionGroups.Defence">
                    DEF
                </div>
                <div class="fantasy-player-filters--position-group"
                    (click)="filters.positionGroup = positionGroups.Midfield"
                    [class.active]="filters.positionGroup === positionGroups.Midfield">
                    MID
                </div>
                <div class="fantasy-player-filters--position-group"
                    (click)="filters.positionGroup = positionGroups.Attack"
                    [class.active]="filters.positionGroup === positionGroups.Attack">
                    ATK
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Price</label>
            <nouislider [connect]="true" [min]="0" [max]="10" [(ngModel)]="ratingRange" [step]="0.25"
                [tooltips]="[ true, true ]" (ngModelChange)="setRatingRange()"></nouislider>
        </div>
        <div class="form-group">
            <label>Team</label>
            <select class="form-control input-sm" [(ngModel)]="filters.teamId">
                <option [ngValue]="undefined" selected>All Teams</option>
                <option *ngFor="let team of teams" [ngValue]="team.id">
                    {{team.name}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control input-sm" type="text" [(ngModel)]="filters.playerName"
                placeholder="Search by player name">
        </div>
    </div>
</aside>
<aside class="widget card widget--sidebar widget-filter-price card--has-table">
    <div class="widget__title card__header ">
        <h4>
            Players
            <span class="badge badge-primary badge-pill">{{totalItems}}</span>
        </h4>
    </div>
    <ng-container *ngIf="fantasyPlayers; else spinner">
        <div class="widget__content card__content" [class.widget__content--loading]="isLoading">
            <table class="table table-striped table-hover">
                <thead class="fantasy-players-table">
                    <th></th>
                    <th (click)="loadFantasyPlayers(currentPage, 'Player.Name')">
                        <span style="white-space: nowrap; ">
                            Player&nbsp;
                            <i *ngIf="sortBy === 'Player.Name' && sortOrder === 'ASC'"
                                class="fas fa-sort-up"></i>
                            <i *ngIf="sortBy === 'Player.Name' && sortOrder === 'DESC'"
                                class="fas fa-sort-down"></i>
                            <i *ngIf="sortBy !== 'Player.Name'" class="fas fa-sort"></i>
                        </span>
                    </th>
                    <th (click)="loadFantasyPlayers(currentPage, 'Rating')">
                        <span style="white-space: nowrap; ">
                            Value&nbsp;
                            <i *ngIf="sortBy === 'Rating' && sortOrder === 'ASC'"
                                class="fas fa-sort-up"></i>
                            <i *ngIf="sortBy === 'Rating' && sortOrder === 'DESC'"
                                class="fas fa-sort-down"></i>
                            <i *ngIf="sortBy !== 'Rating'" class="fas fa-sort"></i>
                        </span>
                    </th>
                    <th (click)="loadFantasyPlayers(currentPage, 'PositionGroup')">
                        <span style=" white-space: nowrap; ">
                            Pos&nbsp;
                            <i *ngIf="sortBy === 'PositionGroup' && sortOrder === 'ASC'"
                                class="fas fa-sort-up"></i>
                            <i *ngIf="sortBy === 'PositionGroup' && sortOrder === 'DESC'"
                                class="fas fa-sort-down"></i>
                            <i *ngIf="sortBy !== 'PositionGroup'" class="fas fa-sort"></i>
                        </span>
                    </th>
                    <th style="width: 55px"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let player of fantasyPlayers" title="Add player to your team">
                        <td>
                            <img *ngIf="player.team.badgeImage" [src]="player.team.badgeImage.extraSmallUrl"
                                style="max-height: 15px">
                        </td>
                        <td>{{player.player.name}}</td>
                        <td>{{player.rating | number : '1.2-2'}}</td>
                        <td>{{player.positionGroup | positionGroup}}</td>
                        <td style="width: 55px">
                            <a href="javascript:void(0);" (click)="selectFantasyPlayer(player, false)"
                                class="clickable mr-2" title="Add player">
                                <i class="fas fa-plus" style="font-size: 13px"></i>
                            </a>
                            <a (click)="selectFantasyPlayer(player, true)" class="clickable text-muted"
                                title="Add as flex player">
                                <i class="fas fa-random" style="font-size: 13px"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="card__footer" style="border-top: 1px solid #e4e7ed;">
            <nav class="post-pagination w-100" aria-label="Blog navigation">
                <ul class="pagination pagination--condensed pagination--lg justify-content-center m-0 w-100">
                    <li class="page-item w-20" [class.disabled]="currentPage == 1 || isLoading">
                        <a class="page-link w-100 m-0" (click)="!isLoading && currentPage > 1 && loadFantasyPlayers(1)">
                            <i class="fas fa-chevron-left"></i>
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item w-20" [class.disabled]="currentPage == 1 || isLoading">
                        <a class="page-link w-100 m-0"
                            (click)="!isLoading && currentPage > 1 && loadFantasyPlayers(currentPage - 1)">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item w-20 text-center" style="border: 1px #e8ebee solid;">
                        <span class="page-info w-100 m-0">{{currentPage}} of {{totalPages}}</span>
                    </li>
                    <li class="page-item w-20" [class.disabled]="currentPage == totalPages || isLoading">
                        <a class="page-link w-100 m-0"
                            (click)="!isLoading && currentPage < totalPages && loadFantasyPlayers(currentPage + 1)">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item w-20" [class.disabled]="currentPage == totalPages || isLoading"
                        style="width: 74px !important; margin-right: -1px;">
                        <a class="page-link w-100 m-0"
                            (click)="!isLoading && currentPage < totalPages && loadFantasyPlayers(totalPages)">
                            <i class="fas fa-chevron-right"></i>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </footer>
    </ng-container>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</aside>