<div class="container py-4">
    <ng-container *ngIf="!isLoading; else spinner">
        <div class="card card--has-table">
            <div class="card__header">
                <h4>{{player.name}}'s Predictions
                    <small>{{tournament.name}}</small>
                </h4>
            </div>
            <div class="card__content">
                <app-spinner *ngIf="!scorePredictions"></app-spinner>
                <div *ngIf="scorePredictions && !scorePredictions.length" class="alert alert-info">
                    This player hasn't made any predictions yet!
                </div>
                <ng-container *ngIf="scorePredictions && scorePredictions.length">
                    <table class="table table-striped">
                        <thead>
                            <th>Prediction Date</th>
                            <th>Match Date</th>
                            <th>Match</th>
                            <th>Prediction</th>
                            <th>Actual</th>
                            <th>Outcome</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prediction of scorePredictions">
                                <td>{{prediction.createdDate | date:'short'}}</td>
                                <td>{{prediction.match.kickOff | date:'short'}}</td>
                                <td>
                                    {{prediction.match.teamHome.name}} vs {{prediction.match.teamAway.name}}
                                </td>
                                <td>
                                    {{prediction.homeGoalsPrediction}} - {{prediction.awayGoalsPrediction}}
                                </td>
                                <td>
                                    <ng-container *ngIf="prediction.match.matchStatistics; else tbc">
                                        {{prediction.match.matchStatistics.matchGoalsHome}} -
                                        {{prediction.match.matchStatistics.matchGoalsAway}}
                                    </ng-container>
                                    <ng-template #tbc><span class="text-muted">TBC</span></ng-template>
                                </td>
                                <td>
                                    <ng-container *ngIf="prediction.match.matchStatistics; else tbc">
                                        <ng-container
                                            *ngIf="prediction.match.matchStatistics 
                                        && prediction.homeGoalsPrediction === prediction.match.matchStatistics.homeGoals
                                        && prediction.awayGoalsPrediction === prediction.match.matchStatistics.awayGoals; else incorrect">
                                            <span class="badge badge-success">Exact Result</span>
                                        </ng-container>
                                        <ng-template #incorrect>
                                            <span class="badge badge-danger">Incorrect</span>
                                        </ng-template>
                                    </ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</div>