<div class="card">
    <div class="card__header">
        <h4 i18n="@@globals.matchStatistics">Match Statistics</h4>
    </div>
    <div class="card__content">
        <ng-container *ngIf="!isLoading; else spinner">            
            <p class="text-muted" i18n="@@matchEditor.onlyUseForManualUpload">
                Only upload match statistics manually if the statistics were not automatically sent and received from the server to the Hub.
            </p>
            <ng-container *ngIf="!match.matchStatistics && !isProccessingStatistics">
                <div class="form-group">
                    <label i18n="@@matchEditor.matchDataJsonFile">Match Data JSON File</label>
                    <div class="form-control">
                        <input id="file" type="file" name="matchStatistics" (change)="fileSelected($event)"
                            [disabled]="isSubmittingStatistics" />
                    </div>
                </div>
                <button class="btn btn-primary" (click)="updateMatchStatistics()"
                    [disabled]="!matchStatistics || isSubmittingStatistics" type="button">Save</button>
            </ng-container>
            <ng-container *ngIf="match.matchStatistics">
                <div class="alert alert-info" i18n="@@matchEditor.matchDataWasUploadedOn">Match data for this match was uploaded on
                    {{match.matchStatistics.createdDate | date:'longDate'}}</div>
            </ng-container>
            <div *ngIf="isProccessingStatistics" class="alert alert-warning mt-2" i18n="@@matchEditor.matchDataProcessing">
                The statistics for this match are currently being uploaded. Please do not attempt to re-upload this
                data.
            </div>
        </ng-container>
        <ng-template #spinner>
            <app-spinner></app-spinner>
        </ng-template>
    </div>
</div>