<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" style="border-right: none;" href="#">CoachBot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <span *ngIf="user && user.name != null" class="badge badge-secondary">{{user.name}}</span>

    <a *ngIf="!user || user.name == null" class="btn btn-sm" href="http://localhost:5006/login" role="button" style="background-color: #7289da;">
      <img src="/assets/discord_icon.png">&nbsp;Login With Discord</a>
  </div>
</nav>
<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper" class="hidden-xs">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          X
        </a>
      </li>
      <li>
        <a routerLink="/channels">Channels</a>
      </li>
      <li>
        <a routerLink="/servers">Servers</a>
      </li>
      <li>
        <a routerLink="/announcements">Announcements</a>
      </li>
      <li>
        <a routerLink="/bot">Bot</a>
      </li>
    </ul>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid" style="margin-top: 50px;">
      <main role="main" class="container">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>